{% extends 'base2.html.twig' %}

{% block title %}Contrats terminés
{% endblock %}


{% block stylesheets %}
	<!-- Datatables -->
	{% include "admin/_parts/datatables/css.html.twig" %}

{% endblock %}

{% block current_page %}
	<h2 class="text-info">
		<i class="fa fa-shopping-basket"></i>
		Réservations
	</h2>
{% endblock %}

{% block content %}
	<!-- top tiles -->
	<div class="x_panel">
		<div class="x_title">
			<h2>
				<i class="fa fa-shopping-basket"></i>
				Liste des contrats
			</h2>

			<div class="clearfix"></div>
		</div>
		<div class="x_content">
			<div class="row">
				<div class="col-sm-12">
					<div class="card-box table-responsive">

						<table id="datatable" class="table table-striped table-bordered text-center " style="width:100%">
							<thead>
								<tr class="text-uppercase">
									<th>Référence</th>
									<th>PAIEMENT</th>
									<th class="">DATE CREATION</th>
									<th>CLIENT</th>
									<th class="">RESERVATION/VEHICULE</th>
									<th class="">DATES / DUREES</th>
									<th>PRIX</th>
									<th>ACTION</th>
								</tr>
							</thead>
							<tbody>
								{% for reservation in reservations %}
									<tr>
										<td>{{reservation.reference}}</td>
										<td class="text-center">
											{% if reservation.sommePaiements == 0  %}
												<div class="badge badge-danger">NOT
												</div>
											{% elseif reservation.prix == reservation.sommePaiements %}
												<div class="badge badge-success">FULL
												</div>
											{% elseif reservation.prix > reservation.sommePaiements  %}
												<div class="badge badge-warning">ACOUNT
												</div>
											{% endif %}
										</td>
										<td>{{ reservation.dateReservation ? reservation.dateReservation|date('Y-m-d H:i') : '' }}</td>
										<td>{{ reservation.client.prenom }}
											{{ reservation.client.nom }}</td>
										<td>{{ reservation.vehicule }}</td>
										<td>{{reservation.dateDebut|date('d-m-Y H:i')}}
											-->
											{{reservation.dateFin|date('d-m-Y H:i')}}
											/
											{{ reservation.duree}}
											jours</td>
										<td>{{reservation.prix|number_format(2, ',', ' ')}}
											€</td>
										<td class="text-center">
											<a href="{{ path('reservation_show', {'id': reservation.id}) }}" class="text-danger">
												<i class=" fa fa-info-circle" style="font-size: 2em !important;"></i>
											</a>
										</td>
									</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block javascripts %}

	<!-- Datatables -->
	{% include "admin/_parts/datatables/js.html.twig" %}
	<script src="{{ asset('js/admin/datatables/datatablesConfig.js') }}"></script>
	<script src="{{asset('js/admin/datatables/contrat_termine.js')}}"></script>

{% endblock  %}
