{% extends 'base2.html.twig' %}

{% block title %}User
{% endblock %}
{% block stylesheets %}
	<link rel="stylesheet" href="../../css/admin/user.css">

{% endblock %}
{% block current_page %}
	<h2>
		<i class="fa fa-list"></i>
		Informations client
	</h2>

{% endblock %}

{% block content %}
	<div class="x_panel">
		<div class="x_title">
			<h2>
				<i class="fa fa-list"></i>
				Informations client
			</h2>
			<div class="clearfix"></div>
		</div>

		<form>
			<div class="row form-group">
				<div class="form-group col-md-4">
					<label for="">Nom :</label>
					<input class="form-control-plaintext" type="text" placeholder="{{ user.nom }}" readonly>

				</div>
				<div class="form-group col-md-4">
					<label for="">Prénom :</label>
					<input class="form-control-plaintext" type="text" placeholder="{{ user.prenom }}" readonly>


				</div>
				<div class="form-group col-md-4">
					<label for="">Username :</label>
					<input class="form-control-plaintext" type="text" placeholder="{{ user.username }}" readonly>
				</div>

				<div class="form-group col-md-4">
					<label for="">Rôle :</label>
{#					<input class="form-control-plaintext" type="text" placeholder={{ user.roles ? user.roles|json_encode }} readonly>#}
					<input class="form-control-plaintext" type="text" placeholder="Client" readonly>
				</div>

				<div class="form-group col-md-4">
					<label for="">Adresse email :</label>
					<input class="form-control-plaintext" type="text" placeholder={{ user.mail }} readonly>

				</div>
				<div class="form-group col-md-4">
					<label for="">Téléphone :</label><br>
					{{ user.telephone }}

				</div>
				<div class="form-group col-md-4">
					<label for="">Portable :</label>
					<p>
						{{ user.portable }}
					</p>

				</div>
				<div class="form-group col-md-4">
					<label for="">Date d'inscription :</label>
					<input class="form-control-plaintext" type="text" placeholder={{ user.dateInscription ? user.dateInscription|date('d-m-Y') }} readonly>

				</div>
				<div class="form-group col-md-4">
					<label for="">Adresse :</label>
					<input class="form-control-plaintext" type="text" placeholder={{ user.adresse }} readonly>

				</div>
				<div class="form-group col-md-4">
					<label for="">Date de naissance :</label>
					<input class="form-control-plaintext" type="text" placeholder="{{ user.dateNaissance ? user.dateNaissance|date('d/m/Y') }}" readonly>

				</div>
				<div class="form-group col-md-4">
					<label for="">Lieu de naissance :</label>
					<input class="form-control-plaintext" type="text" placeholder="{{ user.lieuNaissance }}" readonly>

				</div>
				<div class="form-group col-md-4">
					<label for="">Numero de permis :</label>
					<input class="form-control-plaintext" type="text" placeholder="{{ user.numeroPermis }}" readonly>

				</div>
				<div class="form-group col-md-4">
					<label for="">Date de permis :</label>
					<input class="form-control-plaintext" type="text" placeholder="{{ user.datePermis ? user.datePermis|date('d-m-Y') }}" readonly>

				</div>
			</div>
		</form>

		<a href="{{ path('client_index') }}" class="btn btn-dark">
			<i class="fa fa-arrow-left" aria-hidden="true"></i>
			Retour</a>
		<div>
			{% if is_granted("ROLE_ADMIN") %}
				{{ include('admin/user/_deleteClient_form.html.twig') }}
			{% endif %}
		</div>
	</div>
{% endblock %}
