{# email-template.html.twig #}
<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<style>
			.email-container {
				max-width: 500px;
				margin: 0 auto;
				font-family: Arial, sans-serif;
				line-height: 1.6;
				color: #333;
			}

			.banner {
				background-color: #f8ecec;
				padding: 5px;
				text-align: center;
				margin-bottom: 10px;
			}

			.logo {
				max-height: 100px;
				height: 100px;
				width: auto;
			}

			.content {
				padding: 20px 20px 5px;
				background-color: #ffffff;
			}

			.footer {
				margin-top: 5px;
				padding: 5px 20px 20px;
			}

			.social-links {
				border-top: 1px solid #eee;
				text-align: center;
				margin-top: 10px;
				padding-top: 10px;
			}
			.social-icon {
				width: 32px;
				height: 32px;
				text-decoration: none;
			}

			.contact-info {
				margin-top: 5px;
				text-align: left;
			}
			.contact-info p {
				margin: 0;
				padding: 0;
			}
			.text-center {
				text-align: center;
			}
			.contact-link {
				color: #000000;
				font-weight: bold;
				text-decoration: none;
			}
		</style>
	</head>
	<body>
		<div class="email-container">
			<div class="banner"><img src="cid:logo" alt="Company Logo" class="logo">
			</div>

			<div class="content">
				<p>Bonjour
					{{name}},</p>
				<p>Voici votre devis personnalisé. Vous pouvez le télécharger en cliquant sur le lien ci-dessous.</p>
				<div class="text-center">
					<a rel="noopener" target="_blank" href="{{devisLink}}" style="background-color: #ff0b09; font-size: 12px; font-family: Helvetica, Arial, sans-serif; font-weight: bold; text-decoration: none; padding: 5px 10px; color: #ffffff; border-radius: 5px; display: inline-block; mso-padding-alt: 0;">
						<span style="mso-text-raise: 15pt;">Télécharger mon devis</span>
					</a>
				</div>
				<p class="text-validation" style="text-align: justify; line-height: 1.5;">
					Pour valider ce devis et finaliser la préparation de votre contrat de location, nous vous remercions de nous retourner le devis signé, accompagné d'une copie de votre permis de conduire (ainsi que celui du conducteur supplémentaire, le cas échéant), de votre numéro de vol aller-retour, d'un justificatif de domicile, et de régler un acompte d'au moins 30 %. Le RIB de l'agence vous sera transmis dès confirmation de l'acceptation de votre devis.
				</p>
				<p>
					Nous vous remercions vivement de nous avoir consultés et restons à votre disposition pour répondre à toute question concernant ce devis.
				</p>
				<p>
					Merci de confirmer votre réservation avant la date d'expiration.
				</p>

				<p>
					Cordiales salutations.</p>


				{% if replyToEmail is defined %}
					<p style="text-align: center; font-style: italic;">Pour nous répondre, veuillez utiliser le bouton ci-dessous</p>
					<div class="text-center">
						<a href="mailto:{{ replyToEmail }}" style="background-color: #ff0b09; font-size: 12px; font-family: Helvetica, Arial, sans-serif; font-weight: bold; text-decoration: none; padding: 5px 10px; color: #ffffff; border-radius: 5px; display: inline-block; mso-padding-alt: 0;">
							<span style="mso-text-raise: 15pt;">Répondre par email</span>
						</a>
					</div>
				{% endif %}
			</div>

			<div class="footer">
				<div class="contact-info">
					<p>Tel :
						{{ phone_number1 }}</p>
					<p>{{ phone_number2 }}</p>
					<p>
						<a href="{{ website_url }}">
							<span style="font-weight: bold; color:black">https://<span style="color: red;">joel</span>location.com/</span>
						</a>
					</p>
					<p>
						<a href="{{ facebook_url }}">
							<span style="font-weight: bold; color:black">https://www.facebook.com/<span style="color: red;">Joel</span>Location/</span>
						</a>
					</p>
				</div>
				<div class="social-links">
					<a href="{{ facebook_url }}" target="_blank">
						<img src="cid:facebook-icon" alt="Facebook" class="social-icon">
					</a>
					<a href="{{ instagram_url }}" target="_blank">
						<img src="cid:instagram-icon" alt="Instagram" class="social-icon">
					</a>
					<a href="{{ youtube_url }}" target="_blank">
						<img src="cid:youtube-icon" alt="YouTube" class="social-icon">
					</a>
				</div>
			</div>
		</div>
	</body>
</html>
