{# email-template.html.twig #}
<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<style>
			.email-container {
				max-width: 500px;
				margin: 0 auto;
				font-family: Arial, sans-serif;
				line-height: 1.6;
				color: #333;
			}

			.banner {
				background-color: #f8ecec;
				padding: 5px;
				text-align: center;
				margin-bottom: 10px;
			}

			.logo {
				max-height: 100px;
				height: 100px;
				width: auto;
			}

			.content {
				padding: 20px 20px 5px;
				background-color: #ffffff;
			}

			.footer {
				margin-top: 5px;
				padding: 5px 20px 20px;
			}

			.social-links {
				border-top: 1px solid #eee;
				text-align: center;
				margin-top: 10px;
				padding-top: 10px;
			}
			.social-icon {
				width: 32px;
				height: 32px;
				text-decoration: none;
			}
			.contact-info {
				margin-top: 5px;
				text-align: left;
			}
			.contact-info p {
				margin: 0;
				padding: 0;
			}
			.text-center {
				text-align: center;
			}
		</style>
	</head>
	<body>
		<div class="email-container">
			<div class="banner"><img src="cid:logo" alt="Company Logo" class="logo">
			</div>

			<div class="content">
				<p>Bonjour
					{{ name }},</p>

				<p>Nous vous remercions de votre inscription sur Joel Location.</p>

				<p>Pour finaliser votre inscription et accéder à nos services, veuillez cliquer sur le bouton ci-dessous :</p>

				<div style="text-align: center;">
					<a href="{{ validationUrl }}" class="button">Valider mon compte</a>
				</div>

				<p>Si le bouton ne fonctionne pas, vous pouvez copier et coller le lien suivant dans votre navigateur :</p>
				<p>{{ validationUrl }}</p>

				<p>Pour toute question, n'hésitez pas à nous contacter :</p>
				<ul>
					<li>{{ phone_number1 }}</li>
					<li>{{ phone_number2 }}</li>
				</ul>
			</div>

			<div class="footer">
				<div class="contact-info">
					<p>Tel :
						{{ phone_number1 }}</p>
					<p>{{ phone_number2 }}</p>
					<p>
						<a href="{{ website_url }}">
							<span style="font-weight: bold; color:black">https://<span style="color: red;">joel</span>location.com/</span>
						</a>
					</p>
					<p>
						<a href="{{ facebook_url }}">
							<span style="font-weight: bold; color:black">https://www.facebook.com/<span style="color: red;">Joel</span>Location/</span>
						</a>
					</p>
				</div>
				<div class="social-links">
					<a href="{{ facebook_url }}" target="_blank">
						<img src="cid:facebook-icon" alt="Facebook" class="social-icon">
					</a>
					<a href="{{ instagram_url }}" target="_blank">
						<img src="cid:instagram-icon" alt="Instagram" class="social-icon">
					</a>
					<a href="{{ youtube_url }}" target="_blank">
						<img src="cid:youtube-icon" alt="YouTube" class="social-icon">
					</a>
				</div>
			</div>
		</div>
	</body>
</html>
