<div class="bg-white border border-gray-200 rounded-lg shadow-sm overflow-hidden">
	<div class="p-4">
		<h4 class="text-xl font-semibold text-joel-red flex items-center mb-3">
			<i class="fa fa-car mr-2"></i> Véhicule
		</h4>
		<div class="space-y-3">
			<div class="flex justify-center">
				<img src="{{ vich_uploader_asset(reservation.vehicule, 'imageFile') }}" alt="{{ reservation.vehicule.image }}" class="h-40 w-auto object-contain max-h-40"/>
			</div>
			<div>
				<h5 class="font-bold mb-2 text-lg">{{ reservation.vehicule.marque }}
					{{ reservation.vehicule.modele }}</h5>
				<div class="bg-gray-50 rounded-lg p-3">
					<div class="grid grid-cols-2 gap-3">
						<div class="flex">
							<i class="fa fa-cog text-joel-red mr-2 w-4"></i>
							<span class="text-lg">{{ reservation.vehicule.vitesse }}</span>
						</div>
						<div class="flex">
							<i class="fa fa-gas-pump text-joel-red mr-2 w-4"></i>
							<span class="text-lg">{{ reservation.vehicule.carburation }}</span>
						</div>
						<div class="flex">
							<i class="fa fa-users text-joel-red mr-2 w-4"></i>
							<span class="text-lg">{{ reservation.vehicule.passagers }} passagers</span>
						</div>
						<div class="flex">
							<i class="fa fa-door-open text-joel-red mr-2 w-4"></i>
							<span class="text-lg">{{ reservation.vehicule.portes }} portes</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
