{% extends 'base2.html.twig' %}

{% block title %}Appel paiement
{% endblock %}


{% block stylesheets %}
	<!-- Datatables -->
	{% include "admin/_parts/datatables/css.html.twig" %}
{% endblock %}

{% block current_page %}

	<h2>
		<i class="fa fa-list"></i>Appel à paiement</h2>

{% endblock %}

{% block content %}
	<!-- top tiles -->
	<div class="x_panel">

		<div class="x_content">
			<div class="row">
				<div class="col-sm-12">
					<div class="card-box table-responsive overflow-auto">

						<table id="datatable" class="table table-striped table-bordered text-center" style="width:100%">
						    <thead class="text-uppercase">
						        <tr>
						            <th>Réservation</th>
						            <th>Date de départ</th>
						            <th>Montant total</th>
						            <th>Montant payé</th>
						            <th>Reste à payer</th>
						            <th>Date demande</th>
						            <th>État</th>
						            <th>détails paiements</th>
						            <th>Action</th>
						        </tr>
						    </thead>

						    <tbody>
						        {% for appelPaiement in appelPaiements %}
						            {% set reservation = appelPaiement.reservation %}
						            {% set total = reservation.prix %}
						            {% set paid = reservation.sommePaiements %}
						            {% set reste = total - paid %}

						            <tr>
						                <td>
						                    <a href="{{ path('reservation_show', {'id': reservation.id}) }}">
						                        {{ reservation.reference }}
						                    </a> <br>
						                    {{ reservation.client.nom }}
						                </td>


						                <td>{{ reservation.dateDebut|date('Y-m-d H:i') }}</td>

						                <td>{{ total|number_format(2, ",", " ") }} €</td>

						                <td>{{ paid|number_format(2, ",", " ") }} €</td>

						                <td>{{ reste|number_format(2, ",", " ") }} €</td>

						                <td>
							                 {% set dates = [] %}

											{% if appelPaiement.dateDemande is not empty %}
											    {% set dates = dates|merge([appelPaiement.dateDemande]) %}
											{% endif %}
								
											{% if appelPaiement.sentDates is not empty %}
											    {% set dates = dates|merge(appelPaiement.sentDates) %}
											{% endif %}
								
											{% if dates is not empty %}
											    {% for date in dates %}
											        {{ date|date('d/m/Y H:i') }}{% if not loop.last %}<br>{% endif %}
											    {% endfor %}
											{% else %}
											    <span>-</span>
											{% endif %}

						                </td>

						                <td>
						                    {% if paid == 0 %}
						                        <div class="badge badge-danger">NOT</div>
						                    {% elseif paid == total %}
						                        <div class="badge badge-success">FULL</div>
						                    {% elseif paid < total %}
						                        <div class="badge badge-warning">ACCOUNT</div>
						                    {% endif %}
						                </td>

						                <td>
						                		
						                	{% for paiement in appelPaiement.reservation.paiements %}
						                	 <span>
						                	 	  {{paiement.createdAt|date('d/m/Y H:i')}} - {{ paiement.montant|number_format(2, ",", " ") }} € <br>
						                	 </span>
						                    {% endfor %}
						                    {% if appelPaiement.datePaiement %}
						                        {{ appelPaiement.datePaiement|date('d/m/Y H:i') }}
						                    {% endif %}
						                </td>

						                <td>
						                    {% if  reste > 0   %}
						                        <a href="{{ path('envoi_email_appel_paiement_index', {'id': appelPaiement.id}) }}" class="btn btn-sm btn-danger">
						                            Envoyer
						                        </a>
						                    {% else %}
						                        <span class="badge badge-success">Envoyé</span>
						                    {% endif %}
						                </td>
						            </tr>
						        {% endfor %}
						    </tbody>
						</table>

					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block javascripts %}

	<!-- Datatables -->
	{% include "admin/_parts/datatables/js.html.twig" %}
	<script src="{{ asset('js/admin/datatables/datatablesConfig.js') }}"></script>
	<script src="{{asset('js/admin/datatables/appel_paiement.js')}}"></script>
{% endblock  %}
