{% extends 'base2.html.twig' %}

{% block title %}Appel paiement
{% endblock %}


{% block stylesheets %}
	<!-- Datatables -->
	<link href="../../admin/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
	<link href="../../admin/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css" rel="stylesheet">
	<link href="../../admin/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css" rel="stylesheet">
	<link href="../../admin/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" rel="stylesheet">
	<link href="../../admin/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css" rel="stylesheet">

{% endblock %}

{% block current_page %}

	<h2>
		<i class="fa fa-list"></i>Appel à paiement</h2>

{% endblock %}

{% block content %}
	<!-- top tiles -->
	<div class="x_panel">

		<div class="x_content">
			<div class="row">
				<div class="col-sm-12">
					<div class="card-box table-responsive overflow-auto">

						<table id="datatable" class="table table-striped table-bordered text-center" style="width:100%">
							<thead class="text-uppercase">
								<tr>
									<th>réservation</th>
									<th>Date de départ</th>
									<th class="">montant</th>
									<th>type</th>
									<th class="">utilisateur</th>
									<th>date demande</th>
									<th>clic utilisateur</th>
									<th>payé</th>
									<th>date paiement</th>
									<th>action</th>
								</tr>
							</thead>


							<tbody>
								{% for appelPaiement in appelPaiements %}
									<tr>
										<td>
											<a href="{{path('reservation_show', {'id':appelPaiement.reservation.id})}}" class="">{{appelPaiement.reservation.reference}}</a>

										</td>
										<td>{{appelPaiement.reservation.dateDebut|date('d/m/Y H:i')}}</td>
										<td>{{appelPaiement.montant|number_format(2,","," ")}}€</td>
										<td>{{appelPaiement.type}}</td>

										<td>{{appelPaiement.reservation.client.nom}}</td>
										<td>
											{% if appelPaiement.dateDemande %}
												{{appelPaiement.dateDemande|date('d/m/Y H:i')}}
											{% endif %}
										</td>
										<td></td>
										<td>

											{% if appelPaiement.payed == true %}
												<i class="fa fa-check" style="color : red"></i>
											{% elseif (appelPaiement.payed == false or appelPaiement.payed == null)  %}
												<i class="fa fa-close (alias)"></i>
											{% endif %}
										</td>
										<td>
											{% if appelPaiement.datePaiement %}
												{{appelPaiement.datePaiement|date('d/m/Y H:i')}}
											{% endif %}
										</td>
										<td class="text-center">
											{% if appelPaiement.payed == false %}
												<a href="{{path('envoi_email_appel_paiement_index', {'id': appelPaiement.id})}}" class="btn btn-danger">
													envoyer
												</a>
											{% endif %}
										</td>
									</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block javascripts %}

	<!-- Datatables -->
	<script src="../../admin/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
	<script src="../../admin/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
	<script src="../../admin/vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
	<script src="../../admin/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
	<script src="../../admin/vendors/datatables.net-buttons/js/buttons.flash.min.js"></script>
	<script src="../../admin/vendors/datatables.net-buttons/js/buttons.html5.min.js"></script>
	<script src="../../admin/vendors/datatables.net-buttons/js/buttons.print.min.js"></script>
	<script src="../../admin/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
	<script src="../../admin/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
	<script src="../../admin/vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
	<script src="../../admin/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
	<script src="../../admin/vendors/datatables.net-scroller/js/dataTables.scroller.min.js"></script>
	<script src="../../admin/vendors/jszip/dist/jszip.min.js"></script>
	<script src="../../admin/vendors/pdfmake/build/pdfmake.min.js"></script>
	<script src="../../admin/vendors/pdfmake/build/vfs_fonts.js"></script>
	<script src="../../js/admin/datatable.fr.js"></script>
	<script></script>

{% endblock  %}
