{% extends 'base2.html.twig' %}

{% block title %}Modifier devis
{% endblock %}

{% block current_page %}
	<h2>
		<i class="fa fa-edit"></i>
		Modifier devis
	</h2>
{% endblock %}

{% block content %}
	<div class="x_panel">
		<div class="x_title">
			<h2>
				<i class="fa fa-edit"></i>Modifier du devis de
				{{ devis.client.prenom }}
				{{ devis.client.nom }}</h2>
			<div class="clearfix"></div>
		</div>
		<h1>Modification Avis</h1>

		{{ include('admin/devis/_form.html.twig', {'button_label': 'Modifier'}) }}

		<a href="{{ path('devis_index') }}" class="btn btn-primary">
			<i class="fa fa-arrow-left" aria-hidden="true"></i>
			retour</a>

		{{ include('admin/devis/_delete_form.html.twig') }}

	</div>
{% endblock %}
