<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Devis de location</title>
    </head>
    <body>
        <table>
            <tr>
                <td>
                    <img src="#" alt="logo" width=100px height=100px type="images/png">
                </td>
                <td>
                    <strong>Joellocation</strong><br>
                    94 chemin de la hache<br>
                    97160 Le Moule<br>
                    Tél : 0690737674 / 0767321447<br>
                    Email : joel@joellocation.com<br>
                    SIRET : 87868990000016<br>
                    <br><br><br><br><br><br>
                </td>
            </tr>
            <tr>
                <td>
                    <strong>Devis N° DV00132</strong>
                    Date de création : 30-06-2021
                    Date d'échéance  : 07-07-2021
                </td>
                <td>               
                    <strong>{{ devis.client }}</strong><br>
                    {# {{ client.adresse }} #}<br>
                    {# {{ client.mail }} #}<br>
                    {# {{ client.telephone }} #}<br>
                </td>
            </tr>
        </table>
        <strong>Objet</strong> Location ...
        <table>
            <tr>
                <td>Désignation</td>
                <td>Qté</td>
                <td>Prix U.</td>
                <td>Prix HT</td>
                <td>TTC</td>
            </tr>
            <tr>
                <td>{# {{ devis.vehicule }} #}</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </table>
        <table>
            <tr>
                <td>
                    <strong>Conditions de règlement</strong><br>
                    Possibilité de payer par espèces, CB, chèque, chèque vacances,<br>
                    virement bancaire.<br>
                    Possibilité de payer en plusieurs fois.<br>
                    Aucun escompte n'est consenti pour règlement anticipé.<br>
                    Tout incident de paiement est passible d'intérêt de retard. Le montant<br>
                    des pénalités résulte de l'application aux sommes restant dues d'un<br>
                    taux d'intérêt légal en vigueur au moment de l'incident. L'indemnité<br>
                    forfaitaire pour frais de recouvrement due au créancier en cas de<br>
                    retard de paiement est de 80EUR (quatre vingt euros).<br>
                </td>
                <td>
                    Montant HT<br>
                    Total TVA 8,5%<br>
                    TOTAL TTC
                </td>
                <td>
                    <br>
                    <br>
                </td>
            </tr>
        </table>
            <strong>Note</strong><br>
            Caution: 700€ (carte bancaire non débitée)<br>
            Assurance responsabilité civile + accident causé au tiers inclus.<br>
            Deuxième conducteur gratuit.<br>
            Âge minimum pour le conducteur: 21 ans et 2 ans de permis.<br>
            En acceptant ce devis (par email, ou devis signé), vous acceptez aux Conditions Générales de Location.<br>
            Merci de confirmer votre réservation avant la date d'expiration.<br>
            Au plaisir de vous compter parmi nos clients.<br>
            <div style="padding-right:150px;text-align:right;"><strong>Signature</strong><div><br>
            <div style="text-align:center;">
                SIRET: 87868990000016 APE:7711a<br>
                n°tva FR40878689900<br>
                www.joellocation.com
            </div>
    </body>
</html>