<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Devis de location</title>
	</head>
	<body>
		{# <div style="background-color:#eb430b;">&nbsp;</div> #}
		<table>
			<tr>
				<td width="400px">
					<img src="{{ logo }}" alt="logo" width="200px" height="200px" type="images/png">
				</td>
				<td>
					<strong>Joellocation</strong><br>
					94 chemin de la hache<br>
					97160 Le Moule<br>
					Tél : 0690737674 / 0767321447<br>
					Email : joel@joellocation.com<br>
					SIRET : 87868990000016<br>
					<br><br><br><br><br><br>
				</td>
			</tr>
			<tr>
				<td>
					<strong>Devis N°
						{{ devis.numero }}</strong><br>
					Date de création :
					{{ devis.dateCreation|date('d/m/Y') }}<br>
					Date d'échéance  :
					{{ devis.dateCreation|date_modify("+7 day")|date('d/m/Y') }}
				</td>
				<td>
					<strong>{{ devis.client.nom }}</strong><br>
					{{ devis.client.adresse }}<br>
					{{ devis.client.mail }}<br>
					{{ devis.client.telephone }}<br>
				</td>
			</tr>
		</table>
		<br><br>
		<strong>Objet</strong>
		Location
		{{ devis.vehicule }}
		du
		{{ devis.dateDepart|date('d-m-Y') }}
		au
		{{ devis.dateRetour|date('d-m-Y') }}
		<br>
		<table>
			<tr style="background-color:#eb430b;">
				<td width="400px">Désignation</td>
				<td width="75px">Qté</td>
				<td width="75px">Prix U.</td>
				<td width="75px">Prix HT</td>
				<td width="75px">TTC</td>
			</tr>
			<tr>
				<td valign="top">
					<strong>*
						{{ devis.vehicule }}</strong>
					<br>
					&nbsp;&nbsp;&nbsp;&nbsp;Location de véhicule pour
					<br>
					&nbsp;&nbsp;&nbsp;&nbsp;{{ quantite|date('%d') }}
					jours
					<br>
					&nbsp;&nbsp;&nbsp;&nbsp;Retrait le
					<strong>{{ devis.dateDepart|date('d/m/Y') }}</strong>. Lieu{{ devis.agenceDepart }}<br>
					&nbsp;&nbsp;&nbsp;&nbsp;Retour le
					<strong>{{ devis.dateRetour|date('d/m/Y') }}</strong>. Lieu{{ devis.agenceRetour }}
				</td>
				<td valign="top">{{ quantite|date('%d') }}
					j</td>
				<td valign="top">{{ prix_unitaire }}</td>
				<td valign="top">{{ prixht }}</td>
				<td valign="top">{{ total }}</td>
			</tr>
		</table>
		<br>
		<table>
			<tr>
				<td width="450px" valign="top">
					<strong>Conditions de règlement</strong><br>
					<span style="font-size:14px">
						Possibilité de payer par espèces, CB, chèque, chèque vacances,<br>
						virement bancaire.<br>
						Possibilité de payer en plusieurs fois.<br>
						Aucun escompte n'est consenti pour règlement anticipé.<br>
						Tout incident de paiement est passible d'intérêt de retard. Le montant<br>
						des pénalités résulte de l'application aux sommes restant dues d'un<br>
						taux d'intérêt légal en vigueur au moment de l'incident. L'indemnité<br>
						forfaitaire pour frais de recouvrement due au créancier en cas de<br>
						retard de paiement est de 80EUR (quatre vingt euros).<br></span>
				</td>
				<td valign="top">
					<table>
						<tr>
							<td width="200px">Montant HT</td>
							<td width="75px">{{ prixht }}€</td>
						</tr>
						<tr>
							<td>Total TVA 8,5%</td>
							<td>{{ montanttva }}€</td>
						</tr>
						<tr style="background-color:#eb430b;" border="0px" margin="0px" padding="0px">
							<td>TOTAL TTC</td>
							<td>{{ total }}€</td>
						</tr>
					</table>
				</td>
			</tr>
		</table>
		<strong>Note</strong><br>
		<span style="font-size:14px">Caution:
			{{ devis.vehicule.caution }}€ (carte bancaire non débitée)<br>
			Assurance responsabilité civile + accident causé au tiers inclus.<br>
			Deuxième conducteur gratuit.<br>
			Âge minimum pour le conducteur: 21 ans et 2 ans de permis.<br>
			En acceptant ce devis (par email, ou devis signé), vous acceptez aux Conditions Générales de Location.<br>
			Merci de confirmer votre réservation avant la date d'expiration.<br>
			Au plaisir de vous compter parmi nos clients.<br></span>
		<div style="padding-right:150px;text-align:right;">
			<strong>Signature</strong>
			<div><br>
				<br><br><br>
				<div style="text-align:center;font-size:10px;">
					SIRET: 87868990000016 APE:7711a<br>
					n°tva FR40878689900<br>
					www.joellocation.com
				</div>
			</body>
		</html>
	</body>
</html>
