{% extends 'base2.html.twig' %}

{% block title %}Type index{% endblock %}

{% block body %}
    <h1>Liste des types</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Libellé</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for type in types %}
            <tr>
                <td>{{ type.id }}</td>
                <td>{{ type.libelle }}</td>
                <td>
                    <a href="{{ path('type_show', {'id': type.id}) }}">Visionner</a>
                    <a href="{{ path('type_edit', {'id': type.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Aucun enregistrement trouver</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('type_new') }}">Ajouter</a>
{% endblock %}
