{% extends 'base2.html.twig' %}

{% block title %}Marque index
{% endblock %}

{% block content %}
	<div class="x_panel">

	<h1>Liste des marques</h1>

	<table class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>Libellé</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody>
			{% for marque in marques %}
				<tr>
					<td>{{ marque.id }}</td>
					<td>{{ marque.libelle }}</td>
					<td>
						<a href="{{ path('marque_show', {'id': marque.id}) }}" class="btn btn-success">
							<i class="fa fa-book" aria-hidden="true"></i>
							Visionner</a>
						{% if is_granted("ROLE_ADMIN") %}
							<a href="{{ path('marque_edit', {'id': marque.id}) }}" class="btn btn-dark">
								<i class="fa fa-edit" aria-hidden="true"></i>
								Modifier</a>
							{{ include('admin/marque/_delete_form.html.twig') }}
						{% endif %}
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="3">Aucun enregistrement trouver</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<div class="navigation">
		{{ knp_pagination_render(marques) }}
	</div>

	<a href="{{ path('marque_new') }}" class="btn btn-danger">
		<i class="fa fa-plus" aria-hidden="true"></i>
		Ajouter</a>
	</div>
{% endblock %}
