{# {% extends 'base2.html.twig' %}

{% block title %}Vehicule index{% endblock %}

    {% block content %}
        <h1>Liste des véhicules</h1>

        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Immatriculation</th>
                    <th>Date de mise en service</th>
                    <th>Date de mise en location</th>
                    <th>Modèle</th>
                    <th>Prix d'acquisition</th>
                    <th>Tarif journalière</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
                {% for vehicule in vehicules %}
                    <tr>
                        <td>{{ vehicule.id }}</td>
                        <td>{{ vehicule.immatriculation }}</td>
                        <td>{{ vehicule.dateMiseService ? vehicule.dateMiseService|date('Y-m-d') : '' }}</td>
                        <td>{{ vehicule.dateMiseLocation ? vehicule.dateMiseLocation|date('Y-m-d') : '' }}</td>
                        <td>{{ vehicule.modele }}</td>
                        <td>{{ vehicule.prixAcquisition }}</td>
                        <td>{{ vehicule.tarifJournaliere }}</td>
                        <td>
                            <a href="{{ path('vehicule_show', {'id': vehicule.id}) }}" class="btn btn-success"><i class="fa fa-book" aria-hidden="true"></i> Visionner</a>
                            {% if is_granted("ROLE_ADMIN") %}
                                <a href="{{ path('vehicule_edit', {'id': vehicule.id}) }}" class="btn btn-danger"><i class="fa fa-trash" aria-hidden="true"></i> Modifier</a>
                            {% endif %}
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="8">Aucun enregistrement trouver</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <div class="navigation">
            {{ knp_pagination_render(vehicules) }}
        </div>

        <a href="{{ path('vehicule_new') }}" class="btn btn-primary"><i class="fa fa-plus" aria-hidden="true"></i> Ajouter</a>
    {% endblock %} #}


{% extends 'base2.html.twig' %}

{% block title %}Flotte véhicules
{% endblock %}


{% block stylesheets %}
	<!-- Datatables -->
	<link href="../../admin/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
	<link href="../../admin/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css" rel="stylesheet">
	<link href="../../admin/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css" rel="stylesheet">
	<link href="../../admin/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" rel="stylesheet">
	<link href="../../admin/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css" rel="stylesheet">
	<link href="../../css/admin/vehicules.css" rel="stylesheet">

{% endblock %}
{% block current_page %}
	<h2>
		<i class="fa fa-car"></i>
		Flotte véhicule
	</h2>
{% endblock %}
{% block content %}
	<!-- top tiles -->
	<div class="x_panel">
		<p class="text-center">
			<i class="fa fa-info mr-1"></i>Pour ajouter un nouveau véhicule, veuillez cliquer
			<a href="{{path('vehicule_new')}}">ici</a>
		</p>
		<div class="x_content">
			<div class="row">
				<div class="col-sm-12">
					<div class="card-box table-responsive ">
						<table id="datatable" class="table  table-bordered text-center" style="width:100%">
							<thead>
								<tr class="text-uppercase text-center">
									<th>image</th>
									<th class="text-nowrap">immatriculation</th>
									<th>modèle</th>
									<th class="text-nowrap">kilométrage</th>
									<th class="text-nowrap">description</th>
									<th>état</th>
									<th>action</th>
								</tr>
							</thead>
							<tbody>
								{% for vehicule in vehicules %}
									<tr class="text-center">
										<td>
											<img src="uploads/vehicules/{{ vehicule.image }}" alt="{{ vehicule.image }}" class="img-circle  " style="width : 90px;">
										</td>
										<td>
											{{vehicule.immatriculation}}
										</td>
										<td>{{vehicule.marque}}
											{{vehicule.modele}}</td>
										<td></td>
										<td>
											{{vehicule.carburation}}</td>
										<td></td>
										<td class="text-center">

											<div class="row">
												<div class="col-auto">
													<a href="{{ path('vehicule_edit', {'id': vehicule.id}) }}">
														<i class="fa  fa-gear (alias)"></i>
													</a>
												</div>
												<div class="col-auto">
													<a href="">
														<i class="fa  fa-power-off"></i>
													</a>
												</div>
											</div>
											<div class="row">
												<div class="col-auto">
													<a href="{{ path('vehicule_show', {'id': vehicule.id}) }}">
														<i class="fa  fa-list-ul"></i>
													</a>
												</div>
												<div class="col-auto">
													<form method="post" action="{{ path('vehicule_delete', {'id': vehicule.id}) }}" onsubmit="return confirm('Êtes-vous sûre de vouloir supprimer cet utilisateur?');">
														<input type="hidden" name="_method" value="DELETE">
														<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ vehicule.id) }}">
														<a class="">
															<i class="fa fa-trash" aria-hidden="true"></i>
														</a>
													</form>
												</div>
											</div>


										</td>
									</tr>
								{% endfor %}
							</tbody>
						</tr>
					</tbody>
				</tbody>
			</table>
		</div>
	</div>
{% endblock %}
{% block javascripts %}
	<!-- Datatables -->
	<script src="../../admin/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
	<script src="../../admin/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
	<script src="../../admin/vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
	<script src="../../admin/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
	<script src="../../admin/vendors/datatables.net-buttons/js/buttons.flash.min.js"></script>
	<script src="../../admin/vendors/datatables.net-buttons/js/buttons.html5.min.js"></script>
	<script src="../../admin/vendors/datatables.net-buttons/js/buttons.print.min.js"></script>
	<script src="../../admin/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
	<script src="../../admin/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
	<script src="../../admin/vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
	<script src="../../admin/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
	<script src="../../admin/vendors/datatables.net-scroller/js/dataTables.scroller.min.js"></script>
	<script src="../../admin/vendors/jszip/dist/jszip.min.js"></script>
	<script src="../../admin/vendors/pdfmake/build/pdfmake.min.js"></script>
	<script src="../../admin/vendors/pdfmake/build/vfs_fonts.js"></script>
	<script src="../../js/admin/datatable.fr.js"></script>

{% endblock  %}
