{% extends 'base2.html.twig' %}

{% block title %}Vehicule index{% endblock %}

{% block content %}
    <h1>Liste des véhicules</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Immatriculation</th>
                <th>Date de mise en service</th>
                <th>Date de mise en location</th>
                <th>Modèle</th>
                <th>Prix d'acquisition</th>
                <th>Tarif journalière</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for vehicule in vehicules %}
            <tr>
                <td>{{ vehicule.id }}</td>
                <td>{{ vehicule.immatriculation }}</td>
                <td>{{ vehicule.dateMiseService ? vehicule.dateMiseService|date('Y-m-d') : '' }}</td>
                <td>{{ vehicule.dateMiseLocation ? vehicule.dateMiseLocation|date('Y-m-d') : '' }}</td>
                <td>{{ vehicule.modele }}</td>
                <td>{{ vehicule.prixAcquisition }}</td>
                <td>{{ vehicule.tarifJournaliere }}</td>
                <td>
                    <a href="{{ path('vehicule_show', {'id': vehicule.id}) }}">Visionner</a>
                    <a href="{{ path('vehicule_edit', {'id': vehicule.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">Aucun enregistrement trouver</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('vehicule_new') }}"> Ajouter</a>
{% endblock %}
