{% extends 'base2.html.twig' %}

{% block title %}ModePaiement index{% endblock %}

{% block content %}
    <h1>Liste de mode de paiement</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Libellé</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for mode_paiement in mode_paiements %}
            <tr>
                <td>{{ mode_paiement.id }}</td>
                <td>{{ mode_paiement.libelle }}</td>
                <td>
                    <a href="{{ path('mode_paiement_show', {'id': mode_paiement.id}) }}" class="btn btn-success"><i class="fa fa-book" aria-hidden="true"></i> Visionner</a>
                    {% if is_granted("ROLE_ADMIN") %}
                        <a href="{{ path('mode_paiement_edit', {'id': mode_paiement.id}) }}" class="btn btn-danger"><i class="fa fa-trash" aria-hidden="true"></i> Modifier</a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Aucun enregistrement trouver</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="navigation">
        {{ knp_pagination_render(mode_paiements) }}
    </div>

    <a href="{{ path('mode_paiement_new') }}" class="btn btn-primary"><i class="fa fa-plus" aria-hidden="true"></i> Ajouter</a>
{% endblock %}
