{% extends 'base2.html.twig' %}

{% block title %}Comptes utilisateurs
{% endblock %}


{% block stylesheets %}
	<!-- Datatables -->
	<link href="../../admin/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
	<link href="../../admin/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css" rel="stylesheet">
	<link href="../../admin/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css" rel="stylesheet">
	<link href="../../admin/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" rel="stylesheet">
	<link href="../../admin/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css" rel="stylesheet">

{% endblock %}
{% block current_page %}

	<h2>
		<i class="fa fa-list"></i>Utilisateurs</h2>

{% endblock %}

{% block content %}
	<div class="x_panel">
		<div class="x_title">
			<div class="row">
				<div class="col-auto">
					<h2>
						<i class="fa fa-list"></i>
						Liste des comptes utilisateurs
					</h2>
				</div>

				{% if is_granted("ROLE_ADMIN") or is_granted("ROLE_SUPER_ADMIN")  %}
					<div class="col-auto ml-auto">
						<a href="{{ path('employe_new') }}" class="btn btn-danger">
							<i class="fa fa-plus" aria-hidden="true"></i>
							Ajouter</a>
					</div>
				{% endif %}
			</div>
			<div class="clearfix"></div>
		</div>
		<div class="x_content">

			<table class="table " id="datatable">
				<thead class="text-uppercase ">
					<tr>
						<th>Id</th>
						<th>Nom</th>
						<th>Prénom</th>
						<th>Email</th>
						<th class="text-nowrap">Date d'inscription</th>
						<th>Rôle</th>
						<th>Fonction</th>
						<th>actions</th>
					</tr>
				</thead>
				<tbody>
					{% for user in personnels %}
						<tr>
							<td>{{ user.id }}</td>

							<td>
								{{ user.nom }}
							</td>
							<td>
								{{ user.prenom }}
							</td>
							<td>
								{{ user.mail }}
							</td>
							<td>
								{{ user.dateInscription ? user.dateInscription|date('Y-m-d') : '' }}
							</td>
							<td>
								{% set continue = false %}
								{% for role in user.roles %}
									{% if role == "ROLE_PERSONNEL" %}
										Employé
										{% set continue = true %}
									{% endif %}
									{% if role == "ROLE_ADMIN" %}
										Administrateur
										{% set continue = true %}
									{% endif %}
									{% if role == "ROLE_SUPER_ADMIN" %}
										Administrateur
										{% set continue = true %}
									{% endif %}
									{% if continue %}
										{% set continue = false %}
									{% endif %}
								{% endfor %}
							</td>
							<td>{{user.fonction}}</td>

							<td>
								<div class="row">
									<div class="col-auto p-0 m-0">
										<a href="{{ path('employe_show', {'id': user.id}) }}" class="btn btn-link ">
											<i class="fa fa-list"></i>
										</a>
									</div>
									{% if is_granted("ROLE_ADMIN") or is_granted("ROLE_SUPER_ADMIN") %}
										<div class="col-auto p-0 m-0">
											<div class="d-flex">
												<div class="align-items-center">
													<a href="{{ path('employe_edit', {'id': user.id}) }}" class="btn btn-link ">
														<i class="fa  fa-gear (alias)"></i>
													</a>
												</div>
											</div>
										</div>
										<div class="col-auto p-0 m-0">
											<form method="post" action="{{ path('employe_delete', {'id': user.id}) }}" onsubmit="return confirm('Êtes-vous sûre de vouloir supprimer cet utilisateur?');">
												<input type="hidden" name="_method" value="DELETE">
												<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
												<button class="btn btn-link">
													<i class="fa fa-trash" aria-hidden="true"></i>
												</button>
											</form>
										</div>
									{% endif %}
								</div>
							</td>
						</tr>
					{% endfor %}
				</tbody>

			{% endblock %}
			{% block javascripts %}
				<!-- Datatables -->
				<script src="../../admin/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
				<script src="../../admin/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
				<script src="../../admin/vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
				<script src="../../admin/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
				<script src="../../admin/vendors/datatables.net-buttons/js/buttons.flash.min.js"></script>
				<script src="../../admin/vendors/datatables.net-buttons/js/buttons.html5.min.js"></script>
				<script src="../../admin/vendors/datatables.net-buttons/js/buttons.print.min.js"></script>
				<script src="../../admin/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
				<script src="../../admin/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
				<script src="../../admin/vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
				<script src="../../admin/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
				<script src="../../admin/vendors/datatables.net-scroller/js/dataTables.scroller.min.js"></script>
				<script src="../../admin/vendors/jszip/dist/jszip.min.js"></script>
				<script src="../../admin/vendors/pdfmake/build/pdfmake.min.js"></script>
				<script src="../../admin/vendors/pdfmake/build/vfs_fonts.js"></script>
				<script src="../../js/admin/datatable.fr.js"></script>
			{% endblock  %}
