{% extends 'base2.html.twig' %}

{% block title %}User
{% endblock %}
{% block stylesheets %}
	<link rel="stylesheet" href="../../css/admin/user.css">

{% endblock %}
{% block current_page %}
	<h2>
		<i class="fa fa-list"></i>
		Informations client
	</h2>

{% endblock %}

{% block content %}
	<div class="x_panel">
		<div class="x_title">
			<h2>
				<i class="fa fa-list"></i>
				Informations client
			</h2>
			<div class="clearfix"></div>
		</div>

		<form>
			<div class="row form-group">
				<div class="form-group col-md-6">
					<label for="">Nom :</label>
					<input class="form-control-plaintext" type="text" placeholder={{ user.nom }} readonly>

				</div>
				<div class="form-group col-md-6">
					<label for="">Prénom :</label>
					<input class="form-control-plaintext" type="text" placeholder={{ user.prenom }} readonly>


				</div>
				<div class="form-group col-md-6">
					<label for="">Username :</label>
					<input class="form-control-plaintext" type="text" placeholder={{ user.username }} readonly>
				</div>

				<div class="form-group col-md-6">
					<label for="">Rôle :</label>
					<input class="form-control-plaintext" type="text" placeholder={{ user.roles ? user.roles|json_encode }} readonly>
				</div>


				<div class="form-group col-md-6">
					<label for="">Mot de passe :</label>
					<input class="form-control-plaintext" type="text" placeholder={{ user.password }} readonly>

				</div>
				<div class="form-group col-md-6">
					<label for="">Adresse email :</label>
					<input class="form-control-plaintext" type="text" placeholder={{ user.mail }} readonly>

				</div>
				<div class="form-group col-md-3">
					<label for="">Téléphone :</label><br>
					{{ user.telephone }}

				</div>
				<div class="form-group col-md-3">
					<label for="">Portable :</label>
					<p>
						{{ user.portable }}
					</p>

				</div>
				<div class="form-group col-md-3">
					<label for="">Date d'inscription :</label>
					<input class="form-control-plaintext" type="text" placeholder={{ user.dateInscription ? user.dateInscription|date('d-m-Y') }} readonly>

				</div>
				<div class="form-group col-md-3">
					<label for="">Presence :</label><br>

					<input class="form-control-plaintext" type="text" {% if user.presence == 1 %} placeholder="Oui" {% else %} placeholder="Non" {% endif %} readonly>

				</div>
				<div class="form-group col-md-6">
					<label for="">Adresse :</label>
					<input class="form-control-plaintext" type="text" placeholder={{ user.adresse }} readonly>

				</div>
			</div>
		</form>

		<a href="{{ path('employe_index') }}" class="btn btn-primary">
			<i class="fa fa-arrow-left" aria-hidden="true"></i>
			retour</a>
		<div>
			{% if is_granted("ROLE_ADMIN") %}
				<a href="{{ path('employe_edit', {'id': user.id}) }}" class="btn btn-success">
					<i class="fa fa-book" aria-hidden="true"></i>
					Modification</a>
			{% endif %}
		</div>
		<div>
			{% if is_granted("ROLE_ADMIN") %}
				{{ include('admin/agence/comptes_utilisateurs/_deleteEmploye_form.html.twig') }}
			{% endif %}
		</div>
	</div>
{% endblock %}
