{% extends 'base2.html.twig' %}

{% block title %}Paiements
{% endblock %}


{% block stylesheets %}
	<!-- Datatables -->
	<link href="{{asset('admin/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css')}}" rel="stylesheet">
	<link href="{{asset('admin/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css')}}" rel="stylesheet">
	<link href="{{asset('admin/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css')}}" rel="stylesheet">
	<link href="{{asset('admin/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css')}}" rel="stylesheet">
	<link href="{{asset('admin/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css')}}" rel="stylesheet">
	<link href="{{asset('css/admin/paiement.css')}}" rel="stylesheet">


{% endblock %}

{% block content %}
	<!-- top tiles -->
	<div class="x_panel">
		<div class="text-center">
			<h4>PAIEMENT DES RESERVATIONS</h4>
			<h4 style="color:red;">DU
				<span>09 SEPTEMBRE 2020</span>
				AU
				<span>08 OCTOBRE 2020</span>
			</h4>
		</div>
		<div class="alert alert-info">
			<i class="mr-2 fa fa-info-circle"></i>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut corrupti voluptatem quaerat a autem dolor necessitatibus tempora ducimus assumenda ipsam, nesciunt maiores porro debitis molestiae similique nostrum numquam, illum temporibus?
		</div>

		{# datepicker range #}
		{# datepicker bootstrap #}
		<div class="col-4">
			<div id="reportrange" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc; width: 100%">
				<i class="fa fa-calendar"></i>&nbsp;
				<span></span>
				<i class="fa fa-caret-down"></i>
			</div>
		</div>
		{# fin datepicker #}
		<div class=" mb-4">

			<div class="row">
				<div class="col-auto">
					<label for="periode">Période :</label>
				</div>
				<!-- Force next columns to break to new line -->
				<div class="w-100"></div>
				<div class="col-auto">
					{{form_start(form)}}
					<div class="row">

						<div class="col-auto">{{form_widget(form.dateDebut)}}</div>
						<div class="col-auto">{{form_widget(form.dateFin)}}</div>
						<div class="col-auto">
							<button class="btn btn-danger " type="submit">
								<i class="fa fa-search mr-2"></i>Calculer
							</button>
						</div>
					</div>
					{{form_end(form)}}
				</div>
				{% if somme != null %}
					<div class="text-center">
						<h3>
							La somme de paiement durant cette période est
							{{somme}}
						</h3>
					</div>
				{% endif %}
			</div>
		</div>

		{# fin datepicker #}

		<div class="row">
			<div class="col-sm-12">
				<div class="card-box table-responsive">

					<table id="datatable" class="table table-striped table-bordered text-center" style="width:100%">
						<thead class="text-uppercase">
							<tr>
								<th>Réservation
								</th>
								<th class="text-nowrap">Client
								</th>
								<th class="text-nowrap">Montant</th>
								<th></th>
								<th class="text-nowrap">Type</th>
								<th>Date</th>
								<th>ACTION</th>
							</tr>
						</thead>
						<tbody>
							{% for paiement in paiements %}
								<tr>
									<td>{{paiement.reservation.reference}}</td>
									<td>{{paiement.reservation.client.nom}}</td>
									<td>{{paiement.montant}}</td>
									<td>
										{% if paiement.reservation.sommePaiements == 0  %}
											<div class="badge badge-danger">NOT
											</div>
										{% elseif paiement.reservation.prix == paiement.reservation.sommePaiements %}
											<div class="badge badge-success">FULL
											</div>
										{% elseif paiement.reservation.prix > paiement.reservation.sommePaiements  %}
											<div class="badge badge-warning">ACOUNT
											</div>
										{% endif %}
									</td>
									<td>{{paiement.modePaiement.libelle}}</td>
									<td>{{paiement.datePaiement|date('d/m/Y H:i')}}</td>
									<td class="text-center">
										<a href="{{path('reservation_show', {'id': paiement.reservation.id})}}">
											<i class=" fa fa-info-circle text-danger" style="font-size: 2em !important; "></i>
										</a>
									</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
		{# légende badge #}
		<div class="row mt-5 legende">
			<div class="col-auto ">
				<label for="légende">Légendes</label>
			</div>
			<div class="w-100"></div>
			<div class="col-auto">
				<div class="row">
					<div class="col-auto">
						<div class="row">
							<div class="col-auto pr-0">
								<span class="badge badge-success"></span>
							</div>
							<div class="col-auto pl-1">Paiement</div>
						</div>
					</div>
					<div class="col-auto">
						<div class="row">
							<div class="col-auto pr-0">
								<span class="badge badge-warning"></span>
							</div>
							<div class="col-auto pl-1">Acompte</div>
						</div>
					</div>
					<div class="col-auto">
						<div class="row">
							<div class="col-auto pr-0">
								<span class="badge badge-info"></span>
							</div>
							<div class="col-auto pl-1">Remboursement</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="alert alert-warning mt-5">
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi porro commodi ipsam, id quidem ducimus quod, reiciendis optio deleniti est maxime quia voluptates corrupti dolores. Autem obcaecati eius numquam alias.
		</div>
	</div>
{% endblock %}
{% block javascripts %}
	<!-- Datatables -->
	<script src="{{asset('admin/vendors/datatables.net/js/jquery.dataTables.min.js')}}"></script>
	<script src="{{asset('admin/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js')}}"></script>
	<script src="{{asset('admin/vendors/datatables.net-buttons/js/dataTables.buttons.min.js')}}"></script>
	<script src="{{asset('admin/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js')}}"></script>
	<script src="{{asset('admin/vendors/datatables.net-buttons/js/buttons.flash.min.js')}}"></script>
	<script src="{{asset('admin/vendors/datatables.net-buttons/js/buttons.html5.min.js')}}"></script>
	<script src="{{asset('admin/vendors/datatables.net-buttons/js/buttons.print.min.js')}}"></script>
	<script src="{{asset('admin/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js')}}"></script>
	<script src="{{asset('admin/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js')}}"></script>
	<script src="{{asset('admin/vendors/datatables.net-responsive/js/dataTables.responsive.min.js')}}"></script>
	<script src="{{asset('admin/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js')}}"></script>
	<script src="{{asset('admin/vendors/datatables.net-scroller/js/dataTables.scroller.min.js')}}"></script>
	<script src="{{asset('admin/vendors/jszip/dist/jszip.min.js')}}"></script>
	<script src="{{asset('admin/vendors/pdfmake/build/pdfmake.min.js')}}"></script>
	<script src="{{asset('admin/vendors/pdfmake/build/vfs_fonts.js')}}"></script>
	<script src="{{asset('js/admin/datatable.fr.js')}}"></script>
	{# daterangepicker #}
	<script src="{{asset('admin/vendors/moment/moment.js')}}"></script>
	{# manova anle langue ho francais amle moment izay ampiasain'ny date picker #}
	<script src="{{asset('plugins/moment/locale/fr.js')}}"></script>
	<script type="text/javascript" src="{{asset('admin\vendors\bootstrap-daterangepicker\daterangepicker.js')}}"></script>
	<script src="{{asset('plugins/daterangepicker/daterangepicker.js')}}"></script>
	<script src="{{asset('js/admin/bootstrap-datepicker.fr.min.js')}}"></script>
	<script type="text/javascript" src="{{asset('js/admin/paiement/daterangepicker.js')}}"></script>

{% endblock  %}
