{% extends 'base2.html.twig' %}

{% block title %}Paiements
{% endblock %}


{% block stylesheets %}
	<!-- Datatables -->
	{% include "admin/_parts/datatables/css.html.twig" %}
	<link href="{{asset('css/admin/paiement.css')}}" rel="stylesheet">
	<link href="{{ asset('css/loading-body/jquery.loadingModal.min.css') }}" rel="stylesheet">


{% endblock %}

{% block content %}
	<!-- top tiles -->
	<div class="x_panel">
		<div class="text-center">
			<h4>PAIEMENT DES RESERVATIONS</h4>
			<h4 style="color:red;">DU
				<span class="dateDebut"></span>
				AU
				<span class="dateFin"></span>
			</h4>
		</div>
		<div class="alert alert-info">
			<i class="mr-2 fa fa-info-circle"></i>
			Liste des paiements effectués sur une période de recherche définie en cliquant sur le champs "période" (période par défaut mais courant). Filtrage du résulatt par le menu situé sur la droite au dessus du tableau en sélectionnant le type de réglement. Les petits carrés de couleur visibles dans le tableau sont légendés sous le tableau. Une zone de recherche vous permet de filtrer dans la liste de façon instantanée (exemple en saisissant le début du nom du client ou quelques chiffres de la référence de la réservation).
		</div>

		<div class=" ">
			<div class="row">
				<div class="col-auto">
					<label for="periode">Période :</label>
				</div>
			</div>
		</div>
		{# datepicker range #}

		<div class="col-4 mb-4">
			<div id="reportrange" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc; width: 100%">
				<i class="fa fa-calendar"></i>&nbsp;
				<span></span>
				<i class="fa fa-caret-down"></i>
			</div>
		</div>
		{# fin datepicker #}


		<div class="row">
			<div class="col-sm-12">
				<div class="card-box table-responsive">

					<table id="datatable" class="table table-striped table-bordered text-center" style="width:100%">
						<thead class="text-uppercase">
							<tr>
								<th>Réservation
								</th>
								<th class="text-nowrap">Client
								</th>
								<th class="text-nowrap">Montant</th>
								{# <th></th> #}
								<th class="text-nowrap">Type</th>
								<th>Date</th>
								<th>ACTION</th>
								{# <th>ACTION</th> #}
							</tr>
						</thead>

					</table>
				</div>
			</div>
		</div>
		{# légende badge #}
		<div class="row mt-5 legende">
			<div class="col-auto ">
				<label for="légende">Légendes</label>
			</div>
			<div class="w-100"></div>
			<div class="col-auto">
				<div class="row">
					<div class="col-auto">
						<div class="row">
							<div class="col-auto pr-0">
								<span class="badge badge-success"></span>
							</div>
							<div class="col-auto pl-1">Paiement</div>
						</div>
					</div>
					<div class="col-auto">
						<div class="row">
							<div class="col-auto pr-0">
								<span class="badge badge-warning"></span>
							</div>
							<div class="col-auto pl-1">Acompte</div>
						</div>
					</div>
					<div class="col-auto">
						<div class="row">
							<div class="col-auto pr-0">
								<span class="badge badge-info"></span>
							</div>
							<div class="col-auto pl-1">Remboursement</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="alert alert-warning mt-5">
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi porro commodi ipsam, id quidem ducimus quod, reiciendis optio deleniti est maxime quia voluptates corrupti dolores. Autem obcaecati eius numquam alias.
		</div>
	</div>
{% endblock %}
{% block javascripts %}
	<!-- Datatables -->
	{% include "admin/_parts/datatables/js.html.twig" %}
	{# // <script src="{{asset('js/admin/datatable.fr.js')}}"></script> #}
	{# daterangepicker #}<script src="{{asset('admin/vendors/moment/moment.js')}}"> </script>
	{# manova anle langue ho francais amle moment izay ampiasain'ny date picker #}
	<script src="{{asset('plugins/moment/locale/fr.js')}}"></script>
	<script type="text/javascript" src="{{asset('admin\vendors\bootstrap-daterangepicker\daterangepicker.js')}}"></script>
	<script src="{{asset('plugins/daterangepicker/daterangepicker.js')}}"></script>
	{# // <script src="{{asset('js/admin/bootstrap-datepicker.fr.min.js')}}"></script> #}
	<script src="{{ asset('js/loading-body/jquery.loadingModal.min.js') }}"></script>

	<script type="text/javascript" src="{{asset('js/admin/paiement/daterangepicker.js')}}"></script>

{% endblock  %}
