{# {% extends 'base2.html.twig' %}

{% block title %}Paiement index{% endblock %}

{% block content %}
    <h1>Liste de paiements</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Montant</th>
                <th>Date de paiement</th>
                <th>Motif</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for paiement in paiements %}
            <tr>
                <td>{{ paiement.id }}</td>
                <td>{{ paiement.montant }}</td>
                <td>{{ paiement.datePaiement ? paiement.datePaiement|date('Y-m-d') : '' }}</td>
                <td>{{ paiement.motif }}</td>
                <td>
                    <a href="{{ path('paiement_show', {'id': paiement.id}) }}" class="btn btn-success"><i class="fa fa-book" aria-hidden="true"></i> Visionner</a>
                    {% if is_granted("ROLE_ADMIN") %}
                        <a href="{{ path('paiement_edit', {'id': paiement.id}) }}" class="btn btn-danger"><i class="fa fa-trash" aria-hidden="true"></i> Modifier</a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Aucun enregistrement trouver</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="navigation">
        {{ knp_pagination_render(paiements) }}
    </div>

    <a href="{{ path('paiement_new') }}" class="btn btn-primary"><i class="fa fa-plus" aria-hidden="true"></i> Ajouter</a>
{% endblock %} #}


{% extends 'base2.html.twig' %}

{% block title %}Echec de paiement
{% endblock %}


{% block stylesheets %}
	<!-- Datatables -->
	<link href="../../admin/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
	<link href="../../admin/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css" rel="stylesheet">
	<link href="../../admin/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css" rel="stylesheet">
	<link href="../../admin/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" rel="stylesheet">
	<link href="../../admin/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css" rel="stylesheet">
	<link href="../../css/admin/paiement.css" rel="stylesheet">


{% endblock %}

{% block content %}
	<!-- top tiles -->
	<div class="x_panel">
		<div class="text-center">
			<h4>PAIEMENT DES RESERVATIONS</h4>
			<h4 style="color:red;">DU
				<span>09 SEPTEMBRE 2020</span>
				AU
				<span>08 OCTOBRE 2020</span>
			</h4>
		</div>
		<div class="alert alert-info">
			<i class="mr-2 fa fa-info-circle"></i>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut corrupti voluptatem quaerat a autem dolor necessitatibus tempora ducimus assumenda ipsam, nesciunt maiores porro debitis molestiae similique nostrum numquam, illum temporibus?
		</div>

		{# datepicker range #}
		<div class="row mb-4">
			<div class="col-auto">
				<div class="row">
					<div class="col-auto">
						<label for="periode">Période :</label>
					</div>
					<!-- Force next columns to break to new line -->
					<div class="w-100"></div>
					<div class="col-auto">
						<div class="row">
							<div class="col-auto">
								<div id="reportrange" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc; width: 100%">
									<i class="fa fa-calendar"></i>&nbsp;
									<span></span>
									<i class="fa fa-caret-down"></i>
								</div>
							</div>
							<div class="col-auto">
								<button class="btn btn-primary">
									<i class="fa fa-search mr-2"></i>Calculer</button>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="col-auto ml-auto">
				<div class="form-group">
					<label for="select">Filtres :</label>
					<select id="heard" class="form-control" required>
						<option value="">Choose..</option>
						<option value="press">Press</option>
						<option value="net">Internet</option>
						<option value="mouth">Word of mouth</option>
					</select>
				</div>
			</div>

		</div>

		{# fin datepicker #}

		<div class="row">
			<div class="col-sm-12">
				<div class="card-box table-responsive">

					<table id="datatable" class="table table-striped table-bordered text-center" style="width:100%">
						<thead class="text-uppercase">
							<tr>
								<th>Réservation
								</th>
								<th class="text-nowrap">Client
								</th>
								<th class="text-nowrap">Montant</th>
								<th></th>
								<th class="text-nowrap">Type</th>
								<th>Date</th>
								<th>ACTION</th>
							</tr>
						</thead>
						<tbody>
							{% for res in reservations %}
								<tr>
									<td>{{res.reference}}</td>
									<td>{{res.client.nom}}</td>
									<td>
										{# boucler tous les paiements et faire la somme des paiements relatifs à chaque réservation #}
										{% set montantPaiement = 0 %}
										{% for paiement in paiements %}
											{% if paiement.reservation == res %}
												{% set montantPaiement = montantPaiement + paiement.montant %}
												{% set lastDatePaiement = paiement.datePaiement %}
											{% endif %}
										{% endfor %}
										{% if montantPaiement != 0 %}
											{{montantPaiement}}€
										{% endif %}

									</td>
									<td>
										{# boucler tous les paiements et calculer la somme des paiements relatifs à une réservation  #}

										{% set montantPaiement = 0 %}
										{% set lastDatePaiement = null %}
										{% set same = false %}

										{% for paiement in paiements %}
											{% if paiement.reservation == res %}
												{% set montantPaiement = montantPaiement + paiement.montant %}
												{% set lastDatePaiement = paiement.datePaiement %}
												{% set same = true %}
											{% endif %}
										{% endfor %}
										{% if same %}
											{% if montantPaiement < res.prix %}
												<div class="d-flex justify-content-center">
													<span class="badge badge-warning"></span>
												</div>
												Reste :
												{{res.prix - montantPaiement}}€
											{% else %}
												<div class="d-flex justify-content-center">
													<span class="badge badge-success"></span>
												</div>
											{% endif %}
										{% endif %}
									</td>
									<td>Carte banquaire</td>
									<td>{{lastDatePaiement|date('d/m/Y H:i')}}</td>
									<td class="text-center">
										<a href="">
											<i class=" fa fa-info-circle" style="font-size: 2em !important;"></i>
										</a>
									</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
		{# légende badge #}
		<div class="row mt-5 legende">
			<div class="col-auto ">
				<label for="légende">Légendes</label>
			</div>
			<div class="w-100"></div>
			<div class="col-auto">
				<div class="row">
					<div class="col-auto">
						<div class="row">
							<div class="col-auto pr-0">
								<span class="badge badge-success"></span>
							</div>
							<div class="col-auto pl-1">Paiement</div>
						</div>
					</div>
					<div class="col-auto">
						<div class="row">
							<div class="col-auto pr-0">
								<span class="badge badge-warning"></span>
							</div>
							<div class="col-auto pl-1">Acompte</div>
						</div>
					</div>
					<div class="col-auto">
						<div class="row">
							<div class="col-auto pr-0">
								<span class="badge badge-info"></span>
							</div>
							<div class="col-auto pl-1">Remboursement</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="alert alert-warning mt-5">
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi porro commodi ipsam, id quidem ducimus quod, reiciendis optio deleniti est maxime quia voluptates corrupti dolores. Autem obcaecati eius numquam alias.
		</div>
	</div>
{% endblock %}
{% block javascripts %}
	<!-- Datatables -->
	<script src="../../admin/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
	<script src="../../admin/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
	<script src="../../admin/vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
	<script src="../../admin/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
	<script src="../../admin/vendors/datatables.net-buttons/js/buttons.flash.min.js"></script>
	<script src="../../admin/vendors/datatables.net-buttons/js/buttons.html5.min.js"></script>
	<script src="../../admin/vendors/datatables.net-buttons/js/buttons.print.min.js"></script>
	<script src="../../admin/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
	<script src="../../admin/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
	<script src="../../admin/vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
	<script src="../../admin/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
	<script src="../../admin/vendors/datatables.net-scroller/js/dataTables.scroller.min.js"></script>
	<script src="../../admin/vendors/jszip/dist/jszip.min.js"></script>
	<script src="../../admin/vendors/pdfmake/build/pdfmake.min.js"></script>
	<script src="../../admin/vendors/pdfmake/build/vfs_fonts.js"></script>
	<script src="../../js/admin/datatable.fr.js"></script>

	<!-- bootstrap-daterangepicker -->

	<script src="../../admin/vendors/bootstrap-daterangepicker/daterangepicker.js"></script>
	<!--bootstrap-wysiwyg-->
	<script src="../../admin/vendors/bootstrap-wysiwyg/js/bootstrap-wysiwyg.min.js"></script>
	<script src="../../admin/vendors/jquery.hotkeys/jquery.hotkeys.js"></script>
	<script src="../../admin/vendors/google-code-prettify/src/prettify.js"></script>
	<!-- jQuery Tags Input -->
	<script src="../../admin/vendors/jquery.tagsinput/src/jquery.tagsinput.js"></script>
	<!-- Switchery -->
	<script src="../../admin/vendors/switchery/dist/switchery.min.js"></script>
	<!-- Select2 -->
	<script src="../../admin/vendors/select2/dist/js/select2.full.min.js"></script>
	<!-- Parsley -->
	<script src="../../admin/vendors/parsleyjs/dist/parsley.min.js"></script>
	<!-- Autosize -->
	<script src="../../admin/vendors/autosize/dist/autosize.min.js"></script>
	<!-- jQuery autocomplete -->
	<script src="../../admin/vendors/devbridge-autocomplete/dist/jquery.autocomplete.min.js"></script>
	<!-- starrr -->
	<script src="../../admin/vendors/starrr/dist/starrr.js"></script>
	<!-- Custom Theme Scripts -->
	<script src="../../admin/build/js/custom.min.js"></script>
	<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
	<script src="../../admin/vendors/moment/moment.js"></script>
	{# manova anle langue ho francais amle moment #}
	<script src="../../plugins/moment/locale/fr.js"></script>
	<script type="text/javascript" src="../../admin\vendors\bootstrap-daterangepicker\daterangepicker.js"></script>
	<script src="../../plugins/daterangepicker/daterangepicker.js"></script>
	<script src="../../js/admin/bootstrap-datepicker.fr.min.js"></script>
	<script type="text/javascript">


		$(function () {

var start = moment().subtract(29, 'days');
var end = moment();


function cb(start, end) {
$('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
}

$('#reportrange').daterangepicker({

startDate: start, endDate: end,
// showDropdowns: true,
// esoria le oe 1 mois fona ny intervalle
// linkedCalendars: false,

// maxYear: parseInt(moment().format('YYYY'), 10),
// maxMouth: parseInt(moment().format('MMMM'), 10),
ranges: {
'Today': [
moment(), moment()
],
'Yesterday': [
moment().subtract(1, 'days'),
moment().subtract(1, 'days')
],
'Last 7 Days': [
moment().subtract(6, 'days'),
moment()
],
'Last 30 Days': [
moment().subtract(29, 'days'),
moment()
],
'This Month': [
moment().startOf('month'), moment().endOf('month')
],
'Last Month': [
moment().subtract(1, 'month').startOf('month'),
moment().subtract(1, 'month').endOf('month')
]
}
}, cb);

cb(start, end);

});
	</script>
{% endblock  %}
