{% extends 'base2.html.twig' %}

{% block title %}Avis index{% endblock %}

{% block content %}
    <h1>Liste des avis</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Global</th>
                <th>Ponctualité</th>
                <th>Accueil</th>
                <th>Service</th>
                <th>Commentaire</th>
                <th>Date</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for avi in avis %}
            <tr>
                <td>{{ avi.id }}</td>
                <td>{{ avi.global }}</td>
                <td>{{ avi.ponctualite }}</td>
                <td>{{ avi.accueil }}</td>
                <td>{{ avi.service }}</td>
                <td>{{ avi.commentaire }}</td>
                <td>{{ avi.date ? avi.date|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('avis_show', {'id': avi.id}) }}">Visionner</a>
                    <a href="{{ path('avis_edit', {'id': avi.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">Aucun enregistrement trouver</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('avis_new') }}">Ajouter</a>
{% endblock %}
