{% extends 'base2.html.twig' %}

{% block title %}Véhicules disponible
{% endblock %}


{% block stylesheets %}
	<!-- Datatables -->
	<link href="{{asset('admin/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css')}}" rel="stylesheet">
	<link href="{{asset('admin/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css')}}" rel="stylesheet">
	<link href="{{asset('admin/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css')}}" rel="stylesheet">
	<link href="{{asset('admin/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css')}}" rel="stylesheet">
	<link href="{{asset('admin/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css')}}" rel="stylesheet">

{% endblock %}

{% block current_page %}
	<h2>Véhicules disponibles</h2>
{% endblock %}


{% block content %}
	<!-- top tiles -->
	<div class="x_panel">
		<div class="x_title">
			<h2>
				<i class="fa fa-car"></i>
				Véhicules disponibles

			</h2>

			<div class="clearfix"></div>
		</div>
		<div class="x_content">

			<h2 class="text-uppercase text-center">
				<i class="fa fa-car"></i>
				véhicules disponibles le
				{{date|date('d/m/Y H:i')}}
				<span id="dateSpanElem"></span>
			</h2>
			<div id="test" class="text-center"></div>
			<div class="row">
				<div class="col-auto">
					<label for="date" class="font-weight-bold text-black">Date de recherche :</label>
				</div>
				<div class="w-100"></div>
				<div class="col-auto mb-3">
					<div class="row">
						<div class="col-auto pr-0">
							<form action="{{path('vehiculeDispo')}}" id="formInputDate" method="post">
								<input id="dateInputElem" class="date-picker form-control" type="datetime-local" name="inputDate">
							</form>
						</div>
						<div class="col-auto">
							<button type="submit" class="btn btn-danger" form="formInputDate">Rechercher</button>
						</div>
					</div>
				</div>
			</div>
			<table id="datatable" class="table table-hover" style="width : 100%">
				<thead class="bg-dark text-white text-uppercase text-center">
					<tr>
						<th>Immatriculation</th>
						<th>modèle</th>
						<th class="text-nowrap">dernière réservation</th>
						<th class="text-nowrap">prochaine réservation</th>
					</tr>
				</thead>
				<tbody>
					{% for veh in vehiculesDisponible %}
						<tr>
							<td>{{veh.Immatriculation}}</td>
							<td>{{veh.modele}}</td>
							<td>
								{% for reservation in listPastReservations %}
									{{dump(reservation)}}
									{% if reservation.vehicule == veh %}
										{{ reservation.dateFin|date('d/m/Y H:i') }}
									{% endif %}
								{% endfor %}
							</td>
							<td>
								{% for reservation in listNextReservations %}
									{% if reservation.vehicule == veh %}
										{{ reservation.dateDepart|date('d/m/Y H:i') }}
									{% endif %}
								{% endfor %}
							</td>

						</tr>
					{% endfor %}
				</tbody>
			</table>
		{% endblock %}

		{% block javascripts %}
			<!-- Datatables -->
			<script src="{{asset('admin/vendors/datatables.net/js/jquery.dataTables.min.js')}}"></script>
			<script src="{{asset('admin/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js')}}"></script>
			<script src="{{asset('admin/vendors/datatables.net-buttons/js/dataTables.buttons.min.js')}}"></script>
			<script src="{{asset('admin/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js')}}"></script>
			<script src="{{asset('admin/vendors/datatables.net-buttons/js/buttons.flash.min.js')}}"></script>
			<script src="{{asset('admin/vendors/datatables.net-buttons/js/buttons.html5.min.js')}}"></script>
			<script src="{{asset('admin/vendors/datatables.net-buttons/js/buttons.print.min.js')}}"></script>
			<script src="{{asset('admin/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js')}}"></script>
			<script src="{{asset('admin/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js')}}"></script>
			<script src="{{asset('admin/vendors/datatables.net-responsive/js/dataTables.responsive.min.js')}}"></script>
			<script src="{{asset('admin/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js')}}"></script>
			<script src="{{asset('admin/vendors/datatables.net-scroller/js/dataTables.scroller.min.js')}}"></script>
			<script src="{{asset('admin/vendors/jszip/dist/jszip.min.js')}}"></script>
			<script src="{{asset('admin/vendors/pdfmake/build/pdfmake.min.js')}}"></script>
			<script src="{{asset('admin/vendors/pdfmake/build/vfs_fonts.js')}}"></script>
			<script src="{{asset('js/admin/datatable.fr.js')}}"></script>
		{% endblock %}
