{% extends 'base2.html.twig' %}

{% block title %}New Reservation
{% endblock %}
{% block current_page %}

	{% if refReservation %}
		<h2>
			<i class="fa fa-plus"></i>
			Réservation N°
			{{refReservation}}</h2>

	{% endif %}

{% endblock %}
{% block stylesheets %}
	<!-- Datatables -->
	<link href="../../admin/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
	<link href="../../admin/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css" rel="stylesheet">
	<link href="../../admin/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css" rel="stylesheet">
	<link href="../../admin/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" rel="stylesheet">
	<link href="../../admin/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css" rel="stylesheet">
{% endblock %}

{% block content %}

	<input type="hidden" value="{{reservation.id}}" id="idReservation">

	{{form_start(form)}}
	<div class="x_panel">
		<div class="x_title">
			chercher un conducteur :
		</div>
		<div class="x_content">
			<input type="text" class="form-control" id="selectConducteur">
		</div>

		<div class="x_title">

			<h2>
				<i class="fa fa-plus"></i>
				Information conducteur
			</h2>

			<div class="clearfix"></div>
		</div>

		<div class="row">
			<div class="col-md-6 form-group">
				<label>
					Nom :
				</label>

				{{form_widget(form.nom)}}
			</div>
			<div class="col-md-6 form-group">
				<label>
					Prénom :
				</label>

				{{form_widget(form.prenom)}}
			</div>
			<div class="col-md-6 ">
				<label>
					Date de naissance :
				</label>

				{{form_widget(form.dateNaissance)}}
			</div>

			<div class="col-md-6 form-group">
				<label>
					Ville naissance :
				</label>

				{{form_widget(form.villeNaissance)}}
			</div>

		</div>
		<div class="x_title">

			<h2>
				<i class="fa fa-plus"></i>
				Information permis
			</h2>

			<div class="clearfix"></div>
		</div>
		<div class="row mb-3">

			<div class="col-md-3 form-group">
				<label>
					Numero permis :
				</label>

				{{form_widget(form.numeroPermis)}}
			</div>
			<div class="col-md-3 form-group">
				<label>
					Ville de délivrance :
				</label>
				{{form_widget(form.villeDelivrance)}}
			</div>
			<div class="col-md-3 ">
				<label>
					Date de délivrance :
				</label>

				{{form_widget(form.dateDelivrance)}}
			</div>

			<div class="col-md-3 ">
				<label>
					Date d'obtention :
				</label>

				{{form_widget(form.dateObtention)}}
			</div>

		</div>
		<div class="text-center mt-4">
			<a href="{{path(routeReferer, {id : reservation.id})}}" class="btn btn-dark">Annuler</a>
			<button class="btn btn-danger" type="submit">
				Enregistrer
			</button>
		</div>
	</div>
	{{form_end(form)}}
{% endblock %}
{% block javascripts %}
	<!-- Datatables -->
	<script src="../../admin/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
	<script src="../../admin/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
	<script src="../../admin/vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
	<script src="../../admin/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
	<script src="../../admin/vendors/datatables.net-buttons/js/buttons.flash.min.js"></script>
	<script src="../../admin/vendors/datatables.net-buttons/js/buttons.html5.min.js"></script>
	<script src="../../admin/vendors/datatables.net-buttons/js/buttons.print.min.js"></script>
	<script src="../../admin/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
	<script src="../../admin/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
	<script src="../../admin/vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
	<script src="../../admin/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
	<script src="../../admin/vendors/datatables.net-scroller/js/dataTables.scroller.min.js"></script>
	<script src="../../admin/vendors/jszip/dist/jszip.min.js"></script>
	<script src="../../admin/vendors/pdfmake/build/pdfmake.min.js"></script>
	<script src="../../admin/vendors/pdfmake/build/vfs_fonts.js"></script>

	{# for autocompletion #}
	<script src="{{asset("js/admin/jquery-ui.js")}}"></script>
	<script src="{{asset("js/admin/reservation/ajout_conducteur.js")}}"></script>

{% endblock %}
