{% extends 'base2.html.twig' %}

{% block title %}EtatReservation index{% endblock %}

{% block body %}
    <h1>Liste des etats de reservation</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Libellé</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for etat_reservation in etat_reservations %}
            <tr>
                <td>{{ etat_reservation.id }}</td>
                <td>{{ etat_reservation.libelle }}</td>
                <td>
                    <a href="{{ path('etat_reservation_show', {'id': etat_reservation.id}) }}">Visionner</a>
                    <a href="{{ path('etat_reservation_edit', {'id': etat_reservation.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Aucun enregistrement trouver</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('etat_reservation_new') }}">Ajouter</a>
{% endblock %}
