{{ form_start(formEdit) }}
<div class="row">
	<div class="form-group col-md-4">
		<label for="">Marque :</label>
		{{ form_widget(formEdit.marque) }}
	</div>

	<div class="form-group col-md-4">
		<label for="">Modèle :</label>
		{{ form_widget(formEdit.modele) }}
	</div>
	<div class="form-group col-md-4">
		<label for="">Véhicule :</label>
		{{ form_widget(formEdit.mois) }}
	</div>

	<div class="form-group col-md-4">
		<label for="">
			3 Jours</label>
		{{ form_widget(formEdit.troisJours) }}
	</div>
	<div class="form-group col-md-4">
		<label for="">
			7 Jours</label>
		{{ form_widget(formEdit.septJours) }}
	</div>

	<div class="form-group col-md-4">
		<label for="">
			15 Jours :
		</label>
		{{ form_widget(formEdit.quinzeJours) }}
	</div>

	<div class="form-group col-md-4">
		<label for="">
			30 Jours :
		</label>
		{{ form_widget(formEdit.trenteJours) }}
	</div>


</div>
<button class="btn btn-success">
	<i class="fa fa-book" aria-hidden="true"></i>
	{{ button_label|default('Enregistrer') }}</button>

{{ form_end(formEdit) }}
