{% extends 'base2.html.twig' %}

{% block title %}Tarifs
{% endblock %}


{% block stylesheets %}
	<!-- Datatables -->
	<link href="../../admin/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
	<link href="../../admin/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css" rel="stylesheet">
	<link href="../../admin/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css" rel="stylesheet">
	<link href="../../admin/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" rel="stylesheet">
	<link href="../../admin/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css" rel="stylesheet">
	<link href="{{ asset('css/admin/tarifs.css')}}" rel="stylesheet">

{% endblock %}
{% block current_page %}
	<h2>
		<i class="fa fa-list"></i>
		tarifs véhicules
	</h2>
{% endblock %}

{% block content %}
	<div class="x_panel">
		<div class="x_title">
			<div class="row">
				<div class="col-auto">
					<h2>
						<i class="fa fa-shopping-cart"></i>
						Liste des tarifs
					</h2>
					<div class="clearfix"></div>
				</div>
			</div>

		</div>

		<div class="overflow-auto">
			<table class="table table-striped table-bordered mt-5 ">
				<tr>
					<td></td>
					{% for mois  in listeMois %}
						<th colspan="5" class="text-center">{{mois}}</th>
					{% endfor %}
				</tr>
				<tr>
					<th></th>
					{% for mois  in listeMois %}
						<th>3j</th>
						<th>7j</th>
						<th>15j</th>
						<th>30j</th>
						<th>Actions</th>
					{% endfor %}
				</tr>
				{% set i = 0 %}
				{% for tarifs in tarifsParVehicule %}
					<tr>

						<th>{{listeVehicules[i]}}</th>

						{# compteur pour mois , pour reperer mois cliqué #}
						{% set j = 1 %}
						{% for tarif in tarifs %}
							{% if tarif != null %}
								<td>{{tarif.troisJours}}</td>
								<td>{{tarif.septJours}}</td>
								<td>{{tarif.quinzeJours}}</td>
								<td>{{tarif.trenteJours}}</td>
								<td style="padding : 2px;">
									<div class="text-center">
										<span style="font-size : 0.7em;">
											{{listeVehicules[i]}}
										</span>

										<br>
										<span style="font-size : 0.8em;">
											({{listeMois[j-1]}})
										</span>
									</div>

									<div class="d-flex justify-content-center">
										<div class="btn-group p-0" role="group">
											<button id="btnGroupDrop1" type="button" class="btn btn-link p-0" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
												<i class="fa fa-bars"></i>
											</button>
											<div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
												<a class="dropdown-item" href="{{ path('tarif_edit', {'id': tarif.id}) }}" class="btn btn-link">
													Modifier
												</a>
												<a class="dropdown-item" href="#">
													<form method="post" action="{{ path('tarif_delete', {'id': tarif.id}) }}" onsubmit="return confirm('Êtes-vous sûre de vouloir supprimer ce tarif?');">
														<input type="hidden" name="_method" value="DELETE">
														<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ tarif.id) }}">
														<button class="btn btn-link" style=" -webkit-appearance: none">
															Supprimer
														</button>
													</form>
												</a>
											</div>
										</div>
									</div>
								</td>
							{% else %}
								<td class="hide" id="idMois">{{j}}</td>

								<td colspan="5" class="text-center">
									<div>
										<span style="font-size : 0.8em;">

											{{listeVehicules[i]}}
											({{listeMois[j-1]}})
										</span>

									</div>
									<div>
										<button class="btn btn-light" id="ajouterTarif">Ajouter</button>
									</div>
								</td>
							{% endif %}
							{% set j = j + 1 %}

						{% endfor %}
					</tr>
					{% set i = i + 1 %}
				{% endfor %}
			</table>
		</div>

	</div>{# fin content #}{% endblock %}
{% block javascripts %}<!-- Datatables --><script src="../../admin/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
	<script src="../../admin/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
	<script src="../../admin/vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
	<script src="../../admin/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
	<script src="../../admin/vendors/datatables.net-buttons/js/buttons.flash.min.js"></script>
	<script src="../../admin/vendors/datatables.net-buttons/js/buttons.html5.min.js"></script>
	<script src="../../admin/vendors/datatables.net-buttons/js/buttons.print.min.js"></script>
	<script src="../../admin/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
	<script src="../../admin/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
	<script src="../../admin/vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
	<script src="../../admin/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
	<script src="../../admin/vendors/datatables.net-scroller/js/dataTables.scroller.min.js"></script>
	<script src="../../admin/vendors/jszip/dist/jszip.min.js"></script>
	<script src="../../admin/vendors/pdfmake/build/pdfmake.min.js"></script>
	<script src="../../admin/vendors/pdfmake/build/vfs_fonts.js"></script>
	<script src="../../js/admin/datatable.fr.js"></script>
	<script src="../../js/admin/tarifs.js"></script>
	<script src="../../js/admin/rowEditableTarif.js"></script>

{% endblock  %}
