{% extends 'base2.html.twig' %}

{% block title %}Faq{% endblock %}

{% block content %}
    <h1>Faq</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ faq.id }}</td>
            </tr>
            <tr>
                <th>Question</th>
                <td>{{ faq.question }}</td>
            </tr>
            <tr>
                <th>Reponse</th>
                <td>{{ faq.reponse }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('faq_index') }}" class="btn btn-primary"><i class="fa fa-arrow-left" aria-hidden="true"></i> retour</a>

    <a href="{{ path('faq_edit', {'id': faq.id}) }}">Modifier</a>

    {{ include('faq/_delete_form.html.twig') }}
{% endblock %}
