{% extends 'base2.html.twig' %}


{% block title %}Backoffice
{% endblock %}
{% block stylesheets %}

	<link href="../../css/admin/owl.carousel.css" rel="stylesheet">
	<link href="../../css/admin/accueil.css" rel="stylesheet">
	<link href="{{asset('css/admin/flashy.css')}}" rel="stylesheet">
	<link href="{{asset('css/admin/easypiechart.css')}}" rel="stylesheet">

{% endblock %}
{% block current_page %}
	<h2>
		<i class="fa fa-dashboard (alias)"></i>
		Tableau de bord
	</h2>

{% endblock %}

{% block content %}

	<div class="bg-pink p-2 m-2 mt-2">
		<i class="fa fa-warning (alias)"></i>
		Les données statistiques sont basées sur les réservations à J-1. Elles sont actualisées automatiquement chaque soir.
	</div>
	<div class="row">
		<div class="col-md-3">
			<div class="card text-white bg-red mb-2  p-1">
				<div class="card-body">
					<h5 class="card-title mb-0">CA TOTAL
					</h5>
					<p class="mt-0 pt-0">mois en cours
					</p>
					<h5>€
						{{ (CA_WEB_moinsEncours + CA_CPT_moinsEncours)|number_format(2, ',', ' ') }}</h5>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="card text-white bg-pink mb-2  p-1">
				<div class="card-body">
					<h5 class="card-title mb-0">CA WEB
					</h5>
					<p class="mt-0 pt-0">mois en cours
					</p>
					<h5>€
						{{ CA_WEB_moinsEncours|number_format(2,","," ") }}</h5>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="card text-white bg-gray1 mb-2  p-1">
				<div class="card-body">
					<h5 class="card-title mb-0">CA CPT
					</h5>
					<p class="mt-0 pt-0">mois en cours
					</p>
					<h5>€
						{{CA_CPT_moinsEncours|number_format(2,","," ") }}</h5>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="card text-white bg-gray2 mb-2  p-1">
				<div class="card-body">
					<h5 class="card-title mb-0">CA
					</h5>
					<p class="mt-0 pt-0">année en cours
					</p>
					<h5>€
						{{CA_anneeEnCours|number_format(2,","," ")}}</h5>
				</div>
			</div>
		</div>

	</div>
	<div class="row">
		<div class="col-md-8">
			<div class="x_panel">
				<div class="x_title">
					<h2 class="text-uppercase">
						<i class="fa fa-pie-chart"></i>
						taux d'occupation général

					</h2>
					<div class="clearfix"></div>
				</div>
				<div class="x_content">
					<div class="clearfix"></div>
					<div class="alert alert-danger alert-dismissible " role="alert">
						<i class="fa fa-info mr-1"></i>Visualisez votre niveau de réservation exprimé en pourcentage sur l'ensemble de votre parc pour le mois en cours et les 11 mois à venir.
					</div>
					<div class="row">
						<div class="col-md-12">
							<div
								class="panel panel-body">
								{# debut caroussel #}
								<div class="testimonial-area pb-100">
									<div class="container">
										<div class="row">
											<div class="col-lg-12 col-md-12">
												<div class="testimonial-carousel">
													<div class="single-testimonial">
														<div class="row pt-4 mr-4">
															{% set i = 0 %}
															{% for key, item in reservationsParcVehicules   %}
																{% if i < 6 %}
																	<div class="col-md-2 col-sm-3">
																		<span class="chart" data-percent="{{item}}">
																			<span class="percent"></span>
																		</span>
																		<div class="text-center">
																			{{key}}
																		</div>
																	</div>
																{% endif %}
																{% set i = i + 1 %}
															{% endfor %}

															<div class="clearfix"></div>
														</div>
													</div>
													<div class="single-testimonial">
														<div class="row pt-4 mr-4">
															{% set i = 0 %}
															{% for key, item in reservationsParcVehicules   %}
																{% if i > 5 %}
																	<div class="col-md-2 col-sm-3">
																		<span class="chart" data-percent="{{item}}">
																			<span class="percent"></span>
																		</span>
																		<div class="text-center">
																			{{key}}
																		</div>
																	</div>
																{% endif %}
																{% set i = i + 1 %}
															{% endfor %}
															<div class="clearfix"></div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								{# fin caroussel  #}
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="x_panel">
				<div class="x_title">
					<h2 class="text-uppercase">
						<i class="fa fa-area-chart"></i>
						taux d'occupation catégories</h2>
					<div class="clearfix"></div>
					<div class="alert alert-danger alert-dismissible " role="alert">
						<i class="fa fa-info mr-1"></i>
						Visualizer votre niveau de réservation exprimé en pourcentage sur l'ensembre des véhicules d'une même catégorie pour le mois en cours et les 5 mois à venir. Les flèches sur fond gris au dessus des graphiques vous permettent de parcourir les différentes catégories composant votre flotte de véhicules.
					</div>
				</div>
				<div class="x_content">
					<div class="clearfix"></div>
					<div class="row">
						<div class="col-md-12">
							<div
								class="panel panel-body">


								{# debut caroussel #}
								<div class="testimonial-area pb-100">
									<div class="container">
										<div class="row">
											<div class="col-lg-12 col-md-12">
												<div
													class="testimonial-carousel">
													{# {{dump(reservationsParModele)}} #}
													{% for key,  reservationsParMois in reservationsParModele %}
														<div class="single-testimonial">
															<div class="text-center">
																<h5>
																	{{key}}
																	<br>
																	{{reservationsParMois['nombreVehicules']}}
																	véhicule(s)
																</h5>
															</div>
															<div class="row pt-4 mr-4">
																{% for key, reservation in reservationsParMois['parMois']  %}
																	<div class="col-md-2 col-sm-3">
																		<span class="chart" data-percent="{{reservation}}">
																			<span class="percent"></span>
																		</span>
																		<div class="text-center">
																			{{key}}
																		</div>
																	</div>
																{% endfor %}
																<div class="clearfix"></div>
															</div>
														</div>
													{% endfor %}
												</div>
											</div>
										</div>
									</div>
								</div>
								{# fin caroussel  #}


							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="x_panel">
				<div class="x_title">
					<h2 class="text-uppercase">
						<i class="fa fa-shopping-cart"></i>
						dernières réservations
					</h2>
					<div class="clearfix"></div>
				</div>
				<div class="x_content">
					<div class="row">
						<div class="col-md-11">
							<div class="alert alert-danger alert-dismissible " role="alert">
								<i class="fa fa-info mr-1"></i>
								Liste dynamique des cinq derniers devis transformés. Le bouton noir au dessus du tableau vous permet d'accéder à l'onglet des nouvelles réservations
							</div>
						</div>
						<div class="col-md-1 d-flex align-items-center ">
							<div class=" ">
								<a class="btn btn-gray2" href="{{path('reservation_index')}}">
									<i class="fa fa-list"></i>
								</a>
							</div>
						</div>
					</div>
					<div class="overflow-auto">
						<table class="table table-striped">
							<thead class="bg-dark text-white">
								<tr class="text-uppercase">
									<th>date de création
									</th>
									<th>référence</th>
									<th>client</th>
									<th>montant</th>
									<th>action</th>
								</tr>
							</thead>
							<tbody>
								{% for reservation in cinqDernieresreservations %}

									<tr>
										<th scope="row">{{reservation.dateReservation |date('d/m/Y - H:i')}}</th>
										<td>{{reservation.reference}}</td>
										<td>{{reservation.client.nom}}</td>
										<td>{{reservation.prix|number_format(2,","," ")}}
											€</td>
										<td>
											<a class="btn btn-dark text-white" href="{{ path('reservation_show', {'id': reservation.id} ) }}">Voir</a>
										</td>
									</tr>
								{% endfor %}

							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>

		<div class="col-md-4">
			<div class="x_panel tile ">
				<div class="x_title">
					<h2 class="text-uppercase">
						<i class="fa fa-cogs"></i>
						dernières actions</h2>
					<div class="clearfix"></div>
				</div>
				<div class="x_content">
					<div class="x_title">
						<div class="row">
							<div class="col-auto">
								<h2 class="text-uppercase">
									devis transformés</h2>
							</div>
							<div class="col-auto ml-auto pr-0">
								<a class="btn btn-gray2 mb-0 mr-0 text-white" href="{{path('reservation_index')}}">
									<i class="fa fa-list"></i>
								</a>
							</div>
							<div class="clearfix"></div>
						</div>
					</div>
					<div class="alert alert-danger alert-dismissible " role="alert">
						<i class="fa fa-info mr-1"></i>
						Liste dynamique des cinq derniers devis transformés. Le bouton noir au dessus du tableau vous permet d'accéder à l'onglet des nouvelles réservations
					</div>
					<div class="clearfix"></div>
					{# devis transformé #}
					{% if devis %}
						<div class="overflow-auto">
							<table class="table table-striped ">
								<thead class="bg-dark text-white">
									<tr class="text-uppercase">
										<th>date de création
										</th>
										<th>référence</th>
										<th>client</th>
										<th>montant</th>
										<th>action</th>
									</tr>
								</thead>
								<tbody>
									{% for devis in devis %}
										<tr>
											<th scope="row">{{devis.dateCreation |date('d/m/Y - H:i')}}</th>
											<td>{{devis.numero}}</td>
											<td>{{devis.client.nom}}</td>
											<td>{{devis.prix|number_format(2,","," ")}}
												€</td>
											<td>
												<a class="btn btn-dark text-white" href="{{ path('devis_show', {'id': devis.id} ) }}">Voir</a>
											</td>
										</tr>
									{% endfor %}

								</tbody>
							</table>
						</div>
					{% else %}
						Pas de réservation
					{% endif %}

					{# fin devis transformé #}
				</div>

				<div class="x_title">
					<h2>STOP SALE</h2>
					<div class="clearfix"></div>
				</div>
				<div class="x_content">

					<div class="alert alert-danger alert-dismissible " role="alert">
						<i class="fa fa-info mr-1"></i>
						Liste dynamique des derniers stop sales enregistrés
					</div>
					{% if stopSales %}
						<table class="table">

							<tbody>
								{% for stop in stopSales %}
									<tr>
										<td>{{stop.vehicule.immatriculation}}</td>
										<td>{{stop.dateReservation | date('d/m/Y')}}</td>
										<td>du
											{{stop.dateDebut | date('d/m/Y')}}
											au
											{{stop.dateFin | date('d/m/Y')}}</td>
									</tr>
								{% endfor %}

							</tbody>
						</table>
					{% else %}
						<div class="text-center">
							Pas de stop sales
						</div>
					{% endif %}
				</div>

				<div class="x_title">
					<h2>SATISFACTION</h2>
					<div class="clearfix"></div>
				</div>
				<div class="x_content">

					<div class="alert alert-danger alert-dismissible " role="alert">
						<i class="fa fa-info mr-1"></i>
						Liste dynamique des derniers avis provenant des enquêtes de satisfaction envoyées par mail à vos clients 48 heures après la fin de leur période de location
					</div>

					<table class="table">

						<tbody>
							{% for avis in avis %}
								<tr>
									<td>{{avis.reservation.reference}}</td>
									<td>
										{% for i in 1..(avis.global)  %}
											<i class="fa fa-star"></i>
											<br>
										{% endfor %}
										{% if avis.global != 5 %}
											{% for j in 1..(5 - avis.global)  %}
												<i class="fa fa-star-o"></i>
												<br>
											{% endfor %}
										{% endif %}
									</td>
									<td class="text-center">
										<button class="btn btn-danger">
											<i class="fa fa-info"></i>
										</button>
										<button class="btn btn-gray2">
											<i class="fa fa-newspaper-o"></i>
										</button>
									</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div><!-- Large modal -->{# <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-lg">Large modal</button> #}<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-hidden="true">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">

					<div class="modal-header">
						<h5 class="modal-title" id="myModalLabel">Détails avis client réservation : FH819AF21236549871</h5>
						<button type="button" class="close" data-dismiss="modal">
							<span aria-hidden="true">×</span>
						</button>
					</div>
					<div class="modal-body">
						<div class="row">
							<div class="col-md-4">
								<div class="row">
									<div class="col-auto">
										<p>Global</p>
									</div>
									<div class="col-auto">
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>

										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>

										<i class="fa fa-star"></i>
									</div>

								</div>

							</div>
							<div class="col-md-4">
								<div class="row">
									<div class="col-auto">
										<p>Ponctualité</p>
									</div>
									<div class="col-auto">
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>

										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>

										<i class="fa fa-star"></i>
									</div>
								</div>
							</div>
							<div class="col-md-4">
								<div class="row">
									<div class="col-auto">
										<p>Accueil</p>
									</div>
									<div class="col-auto">
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>

										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>

										<i class="fa fa-star"></i>
									</div>
								</div>
							</div>
							<div class="col-md-4">
								<div class="row">
									<div class="col-auto">
										<p>Service:
										</p>
									</div>
									<div class="col-auto">
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>

										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>

										<i class="fa fa-star"></i>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">
							<i class="fa fa-close"></i>
							Fermer</button>
					</div>
				</div>
			</div>
		</div>{# fin modal #}</div>
{% endblock %}
{% block javascripts %}<!-- easy-pie-chart --><script src="../../plugins/jquery/jquery.min.js"></script>
	<script src="../../admin/build/js/jquery.easypiechart.min.js"></script>
	<script src="../../admin/vendors/jquery.easy-pie-chart/src/easypiechart2.js"></script>
	<script src="{{asset('/js/admin/flashy.js')}}"></script>

	<script>
		$(function () {
$('.chart').easyPieChart({
barColor: '#000',
trackColor: '#949494',
scaleColor: false,
scaleLength: 0,
lineCap: 'square',
lineWidth: 15,
// percent: 75,
trackWidth: undefined,
size: 100,
rotate: 0,
animate: {
duration: 1000,
enabled: true
},
onStep: function (from, to, percent) {
$(this.el).find('.percent').text(Math.round(percent));
}
});
});
	</script>
	<script src="../../js/admin/owl.carousel.min.js"></script>
	<script src="../../js/admin/accueil.js"></script>
	<script src="../../chartjs/js/chart.js"></script>
{% endblock %}
