{% extends 'base2.html.twig' %}

{% block title %}Paiement index{% endblock %}

{% block content %}
    <h1>Liste de paiements</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Montant</th>
                <th>Date de paiement</th>
                <th>Motif</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for paiement in paiements %}
            <tr>
                <td>{{ paiement.id }}</td>
                <td>{{ paiement.montant }}</td>
                <td>{{ paiement.datePaiement ? paiement.datePaiement|date('Y-m-d') : '' }}</td>
                <td>{{ paiement.motif }}</td>
                <td>
                    <a href="{{ path('paiement_show', {'id': paiement.id}) }}">Visionner</a>
                    <a href="{{ path('paiement_edit', {'id': paiement.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Aucun enregistrement trouver</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('paiement_new') }}">Ajouter</a>
{% endblock %}
