<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Facture</title>
		<style>
			{% if isPreview %}
			/* A4 preview styling */
			body {
				background: #f0f0f0;
				padding: 20px;
				display: flex;
				justify-content: center;
				align-items: flex-start;
				min-height: 100vh;
			}

			.a4-paper {
				width: 210mm;
				min-height: 297mm;
				background: white;
				box-shadow: 0 0 20px rgba(0,0,0,0.1);
				padding: 10mm;
				margin: 10px auto;
				position: relative;
			}
			{% endif %}

			* {
				padding: 0;
				margin: 0;
			}

			#body {
				margin: 10px 40px 40px;
			}

			#footer {
				position: absolute;
				bottom: 0;
				width: 100%;
				padding: 10px;
			}

			.table-bordered th,
			.table-bordered td {
				border: 1px solid #dee2e6 !important;
			}

			.logo {

				display: inline-block;
				vertical-align: top;
				/* width: 350px; */

			}

			.joellocation {
				font-family: 'Arial', sans-serif;
				font-size: 16px;
				line-height: 1.5;
				color: #333;
				margin-bottom: 1em;
			}
			.details_facture {

				display: inline-block;
				vertical-align: top;
				padding-top: 30px;
				font-size: 14px;
				/* width: 350px; */

			}


			.adresse {
				display: inline-block;
				vertical-align: top;
				padding-left: 300px;

			}
			.details_client {
				display: inline-block;
				vertical-align: top;
				padding-left: 250px;
				padding-top: 10px;
				font-size: 14px;
			}

			.conditions_reglement {

				display: inline-block;
				vertical-align: top;
				padding-top: 20px;
				font-size: 13px;

			}
			.details-prix {
				font-size: 14px;
			}

			/* .table1 {
				display: inline-block;
				vertical-align: top;

				width: 245px;
			} */
			.table1 {
				display: inline-block;
				vertical-align: top;
				width: 245px;
				float: right;
				font-size: 13px;
			}

			.table-border {

				border-collapse: collapse;
				border: 1px solid black;
			}

			.table-border td {

				border-collapse: collapse;
				border: 1px solid black;
			}

			.text-white {
				color: #fff !important;
			}

			.bg-danger {
				background-color: red !important;
			}

			.bg-pink {
				background-color: #faf2f0 !important;

			}

			.p-0 {
				padding: 0 !important;
			}

			.m-0 {
				margin: 0 !important;
			}

			.p-2 {
				padding: 2px !important;
			}

			.p-5 {
				padding: 5px !important;
			}

			.m-2 {
				margin: 2px !important;
			}

			.text-center {
				text-align: center !important;
			}

			.text-right {
				text-align: right !important;
			}

			.fs-10 {
				font-size: 10px;
			}

			.fs-12 {
				font-size: 12px;
			}

			.text-uppercase {
				text-transform: uppercase !important;
			}

			#note {
				margin-top: 25px;
				font-size: 13px;
			}

			.signature {
				padding-left: 250px;
				font-weight: bold;
				padding-top: 25px;
			}
		</style>
	</head>
	<body>
		{% if isPreview %}
		<div class="a4-paper">
		{% endif %}
		<section>
			<div class="entete"><img src="{{ entete }}" alt="entete" width="800px" height="40px" type="images/png"></div>
		</section>
		<section
			id="body">
			{# logo et adresse #}
			<div class="logo"><img src="{{ logo }}" alt="logo" width="auto" height="80px" type="images/png"></div>
			<div class="adresse">
				<strong class="joellocation">JOELLOCATION</strong><br>
				94 chemin de la hache<br>
				97160 Le Moule<br>
				Tél: 0690737674 / 0767321447<br>
				Email: joel@joellocation.com<br>
				SIRET : 87868990000016<br>
			</div>
			<br>
			<div class="details_facture">
				<strong>Facture N°
					{{ numeroFacture }}</strong><br>
				Date de facture :
				{{ createdAt|date('d-m-Y') }}
			</div>
			<div class="details_client">
				<strong>
					<span>
						{{ reservation.client.sexe ? reservation.client.sexe : '' }}
					</span>
					{{ reservation.client.nom | upper }}
					{{ reservation.client.prenom | upper }}</strong>
				<br>
				{{ reservation.client.adresse }}
				{% if reservation.client.complementAdresse %}
					<br>
					{{ reservation.client.complementAdresse }}
				{% endif %}
				<br>
				{{reservation.client.codePostal}}
				{{ reservation.client.ville }}
			</div>
			<div style="margin-top: 10px; margin-bottom: 10px">
				<strong>Objet :
				</strong>
				Facture de location
				{{ reservation.vehicule.marque }}
				{{ reservation.vehicule.modele }}
				du
				{{ reservation.dateDebut|date('d/m/Y') }}
				au
				{{ reservation.dateFin|date('d/m/Y') }}</div>
			{# table gauche droite, info client et conducteurs #}
			<div class="">
				<table class=" p-0 details-prix " style="width : 100%;">
					<thead class="bg-danger text-white">
						<tr>
							<th>Désignation</th>
							<th>Qté</th>
							<th>Prix U.</th>
							<th>Prix HT</th>
							<th>TVA</th>
							<th>TTC</th>
						</tr>
					</thead>
					<tbody>
						<tr class="bg-pink">
							<td class="p-5">
								<strong>{{ reservation.vehicule.marque }}
									{{ reservation.vehicule.modele }}</strong>
								<br>
								Location de véhicule pour
								{{ reservation.duree }}
								{%  if reservation.duree == 1 %}
									jour.
								{% else %}
									jours.
								{% endif %}
								<br>
								Retrait le
								{{ reservation.dateDebut|date('d/m/Y') }}. Lieu :
								{{ reservation.agenceDepart }}.
								<br>
								Retour le
								{{ reservation.dateFin|date('d/m/Y') }}. Lieu :
								{{ reservation.agenceRetour }}.
							</td>
							<td class="text-right p-5">{{ reservation.duree }}j</td>
							<td class="text-right p-5">{{ (prixUnitHT)|number_format(2,","," ") }}</td>
							<td class="text-right p-5">{{ (prixHT)|number_format(2,","," ") }}</td>
							<td class="text-right p-5">{{ (prixTaxe)|number_format(2,","," ") }}</td>
							<td class="text-right p-5">{{ (prixTTC)|number_format(2,","," ") }}</td>
						</tr>
						{% if reservation.conducteur %}
							<tr class="bg-pink">
								<td class="p-5">
									Conducteur additionnel
								</td>
								<td class="text-right p-5">1</td>
								<td class="text-right p-5">{{ (prixConductTTC - (prixConductTTC / (1 + taxe)))|number_format(2,","," ") }}</td>
								<td class="text-right p-5">{{ (prixConductTTC - (prixConductTTC / (1 + taxe)))|number_format(2,","," ") }}</td>
								<td class="text-right p-5">{{ (prixConductTTC / (1 + taxe))|number_format(2,","," ") }}</td>
								<td class="text-right p-5">{{ (prixConductTTC)|number_format(2,","," ") }}</td>
							</tr>
						{% endif %}
						{% for frais in frais %}
							<tr class="bg-pink">
								<td class="p-5">
									{{ frais.designation }}
								</td>
								<td class="text-right p-5">1</td>
								<td class="text-right p-5">{{ (frais.totalHT)|number_format(2,","," ") }}</td>
								<td class="text-right p-5">{{ (frais.totalHT)|number_format(2,","," ") }}</td>
								<td class="text-right p-5">{{ (frais.totalTTC - frais.totalHT)|number_format(2,","," ") }}</td>
								<td class="text-right p-5">{{ (frais.totalTTC)|number_format(2,","," ") }}</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
			{# logo et adresse #}
			<div class="conditions_reglement">
				<strong>
					Conditions de règlement
				</strong><br>
				<br>
				Possibilité de payer par espèces, CB, chèque, chèque vacances,
				<br>
				virement bancaire.<br>
				Possibilité de payer en plusieurs fois.<br>
				Aucun escompte n'est consenti pour règlement anticipé.<br>
				Tout incident de paiement est passible d'intérêt de retard. Le montant
				<br>
				des pénalités résulte de l'application aux sommes restant dues d'un
				<br>
				taux d'intérêt légal en vigueur au moment de l'incident. L'indemnité
				<br>
				forfaitaire pour frais de recouvrement due au créancier en cas de
				<br>
				retard de paiement est de 80EUR (quatre vingt euros).
			</div>
			<div class="table1 ">
				<table style="width : 100%">
					<tr class="bg-pink">
						<td class="p-5">Montant HT</td>
						<td class="text-right p-5">{{ (prixTotalHT)|number_format(2,","," ") }}€</td>
					</tr>
					<tr>
						<td class="p-5">TVA {{ taxe*100 }} %</td>
						<td class="text-right p-5">{{ (prixTaxeTotal)|number_format(2,","," ") }}€</td>
					</tr>
					<tr class="bg-danger text-white">
						<td class="p-5">Total TTC</td>
						<td class="text-right p-5">{{ (prixTotalTTC)|number_format(2,","," ") }}€</td>
					</tr>
					{% for paiement in reservation.paiements %}
						<tr class="bg-pink">
							<td class="p-5">Paiement par
								{{ paiement.modePaiement.libelle }}
								<br>
								le
								{{ paiement.datePaiement|date('d/m/Y') }}
							</td>
							<td class="text-right p-5">
								{{ paiement.montant|number_format(2,","," ") }}
								€
							</td>
						</tr>
					{% endfor %}
					<tr class="bg-danger text-white">
						<td class="p-5">Reste à payer</td>
						<td class="text-right p-5">
							{{ ((prixTotalTTC) - reservation.sommePaiements)|number_format(2,","," ") }}€
						</td>
					</tr>
				</table>
			</div>
			<div id="note">
				<strong>
					Note
				</strong>
				<br>
				Caution: 800€ (carte bancaire non débitée)
				<br>
				Assurance responsabilité civile + accident causé au tiers inclus.
				<br>
				Deuxième conducteur gratuit.<br>
				Âge minimum pour le conducteur: 21 ans et 2 ans de permis.<br>
				En acceptant ce devis (par email, ou devis signé),
				<br>
				vous acceptez aux Conditions Générales de Location.<br>
				Merci de confirmer votre réservation avant la date d'expiration.<br>
				Au plaisir de vous compter parmi nos clients.<br>
			</div>
			<div class="">
				<div class="signature">Signature</div>
			</div>
		</section>
		<section id="footer " class="bg-danger">
			<div class=" text-white text-center fs-12">
				SIRET : 87868990000016 APE: 7711A
				<br>
				N°TVA FR40878689900
				<br>
				www.joellocation.com
			</div>
		</section>
		{% if isPreview %}
		</div>
		{% endif %}
	</body>
</html>