{% extends 'base.html.twig' %}

{% block title %}page client
{% endblock %}
{% block stylesheets %}
	<link rel="stylesheet" href="css/client/style.css">
{% endblock %}
{% block body %}
	<div class="container">
		<div class="section-title red text-center">
			<h2>Espace client de
				{{ client }}</h2>
		</div>
		{# test #}
		<div class="row mt-5">
			<div class="col-3">
				<div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
					<a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">
						<i class="fa fa-newspaper-o"></i>
						Mes informations</a>
					<a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">
						<div class="d-flex">
							<span>
								<i class="fa fa-list"></i>
								Mes réservations
							</span>
							<span class="badge badge-danger ml-auto">4</span>
						</div>
					</a>
					<a class="nav-link" id="v-pills-reservation-tab" data-toggle="pill" href="#v-pills-reservation" role="tab" aria-controls="v-pills-reservation" aria-selected="false">
						<div class="d-flex">
							<span>
								<i class="fa fa-plus"></i>
								Nouvelle réservation
							</span>
						</div>
					</a>
					<a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false">
						<div class="d-flex">
							<span>
								<i class="fa fa-user-friends"></i>
								Mes conducteurs
							</span>
							<span class="badge badge-danger ml-auto">0</span>
						</div>
					</a>
					<div class="mt-3">
						<a href="{{path('app_logout')}}" class="btn btn-danger w-100">
							<i class="fa fa-start"></i>
							Deconnexion
						</a>
						<a href="{{ path('accueil') }}" class="btn btn-warning w-100 mt-2">Aller sur le site Joellocation</a>
					</div>
				</div>
			</div>
			<div class="col-9">
				<div class="tab-content" id="v-pills-tabContent">
					<div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
						<h5>
							<i class="fa fa-newspaper"></i>
							MES INFORMATIONS</h5>
						<div class="clearfix"></div>
						<div class="form">

							<form>
								<div class="row">
									<div class="form-group col-md-6">
										<label for="">Nom :</label>
										<input type="text" class="form-control" id="">
									</div>
									<div class="form-group col-md-6">
										<label for="">Prénom :</label>
										<input type="text" class="form-control" id="">
									</div>

									<div class="form-group col-md-6">
										<label for="">Adresse email :</label>
										<input type="mail" class="form-control" id="" placeholder="">
									</div>
									<div class="form-group col-md-3">
										<label for="">Téléphone 1 :</label>
										<input type="text" class="form-control" id="" placeholder="">
									</div>
									<div class="form-group col-md-3">
										<label for="">Téléphone 2 :</label>
										<input type="text" class="form-control" id="" placeholder="">
									</div>
									<div class="form-group col-md-6">
										<label for="">Adresse :</label>
										<input type="text" class="form-control" id="" placeholder="">
									</div>
									<div class="form-group col-md-6">
										<label for="">Complément adresse :</label>
										<input type="text" class="form-control" id="" placeholder="">
									</div>
									<div class="form-group col-md-6">
										<label for="">Code postal :</label>
										<input type="text" class="form-control" id="" placeholder="">
									</div>

									<div class="form-group col-md-6">
										<label for="">Ville :</label>
										<input type="text" class="form-control" id="" placeholder="">
									</div>
								</div>
								<div class="text-center">
									<button type="submit" class="btn btn-success">
										<i class="fa fa-save"></i>
										Valider</button>
									<button type="submit" class="btn btn-dark">
										<i class="fa fa-close"></i>
										Annuler</button>
								</div>
							</form>

						</div>
					</div>
					{# mes reservations #}
					<div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
						<h3>Réservation en cours</h3>
						<div class="row">

							<table class="table">
								<thead>
									<tr>
										<th>Type</th>
										<th>Date de reservation</th>
										<th>Date de début</th>
										<th>Date de fin</th>
										<th>Lieu</th>
										<th>Code reservation</th>
									</tr>
								</thead>
								<tbody>
									{% for reservation_en_cours in reservation_en_cours %}
										<tr>
											<td>{{ reservation_en_cours.type }}</td>
											<td>{{ reservation_en_cours.dateReservation ? reservation_en_cours.dateReservation|date('d / m / Y') : '' }}</td>
											<td>{{ reservation_en_cours.dateDebut ? reservation_en_cours.dateDebut|date('d / m / Y') : '' }}</td>
											<td>{{ reservation_en_cours.dateFin ? reservation_en_cours.dateFin|date('d / m / Y') : '' }}</td>
											<td>{{ reservation_en_cours.lieu }}</td>
											<td>{{ reservation_en_cours.codeReservation }}</td>
										</tr>
									{% else %}
										<tr>
											<td colspan="8">Aucune reservation en cours</td>
										</tr>
									{% endfor %}
								</tbody>
							</table>
						</div>
						<hr>
						<h3>Réservation en attente</h3>
						<div class="row">
							<table class="table">
								<thead>
									<tr>
										<th>Type</th>
										<th>Date de reservation</th>
										<th>Date de début</th>
										<th>Date de fin</th>
										<th>Lieu</th>
										<th>Code reservation</th>
									</tr>
								</thead>
								<tbody>
									{% for reservation_en_attente in reservation_en_attentes %}
										<tr>
											<td>{{ reservation_en_attente.type }}</td>
											<td>{{ reservation_en_attente.dateReservation ? reservation_en_attente.dateReservation|date('d / m / Y') : '' }}</td>
											<td>{{ reservation_en_attente.dateDebut ? reservation_en_attente.dateDebut|date('d / m / Y') : '' }}</td>
											<td>{{ reservation_en_attente.dateFin ? reservation_en_attente.dateFin|date('d / m / Y') : '' }}</td>
											<td>{{ reservation_en_attente.lieu }}</td>
											<td>{{ reservation_en_attente.codeReservation }}</td>
										</tr>
									{% else %}
										<tr>
											<td colspan="8">Aucune reservation en attente</td>
										</tr>
									{% endfor %}
								</tbody>
							</table>
						</div>
						<hr>
						<h3>Réservation réalisées</h3>
						<div class="row">
							<table class="table">
								<thead>
									<tr>
										<th>Type</th>
										<th>Date de reservation</th>
										<th>Date de début</th>
										<th>Date de fin</th>
										<th>Lieu</th>
										<th>Code reservation</th>
									</tr>
								</thead>
								<tbody>
									{% for reservation_effectuer in reservation_effectuers %}
										<tr>
											<td>{{ reservation_effectuer.type }}</td>
											<td>{{ reservation_effectuer.dateReservation ? reservation_effectuer.dateReservation|date('d / m / Y') : '' }}</td>
											<td>{{ reservation_effectuer.dateDebut ? reservation_effectuer.dateDebut|date('d / m / Y') : '' }}</td>
											<td>{{ reservation_effectuer.dateFin ? reservation_effectuer.dateFin|date('d / m / Y') : '' }}</td>
											<td>{{ reservation_effectuer.lieu }}</td>
											<td>{{ reservation_effectuer.codeReservation }}</td>
										</tr>
									{% else %}
										<tr>
											<td colspan="8">Aucune reservation réaliser</td>
										</tr>
									{% endfor %}
								</tbody>
							</table>
						</div>

					</div>
					{# fin mes reservations #}

					{# new reservation #}
					<div class="tab-pane fade" id="v-pills-reservation" role="tabpanel" aria-labelledby="v-pills-reservation-tab">
						<div>
							<div class="text-center">
								<h3>Effectuer une reservation</h3>
							</div>
							<div
								class="row">
								{# <div class="row">{{ include('reservation/_form.html.twig') }}</div> #}
								<div class="col-12 ml-auto mr-auto">
									<form action="#" method="POST">
										<div class="row">
											{{ form_start(form) }}

											<div class="col-lg-12" class="bmd-label-floating">
												<div class="form-group">
													<label class="bmd-label-floating">Type :</label>
													{{form_widget(form.type) }}
												</div>
											</div>
											<div class="col-lg-12" class="bmd-label-floating">
												<div class="form-group">
													<label class="bmd-label-floating">Date de début :</label>
													{{form_widget(form.date_debut ) }}
												</div>
											</div>
											<div class="col-lg-12" class="bmd-label-floating">
												<div class="form-group">
													<label class="bmd-label-floating">Date de fin :</label>
													{{form_widget(form.date_fin)}}
												</div>
											</div>
											<div class="col-lg-12" class="bmd-label-floating">
												<div class="form-group">
													<label class="bmd-label-floating">Lieu :</label>
													{{form_widget(form.lieu )}}
												</div>
											</div>
											<div class="col-lg-12" class="bmd-label-floating">
												<div class="form-group">
													<label class="bmd-label-floating">Véhicule :</label>
													{{form_widget(form.vehicule	)}}
												</div>
											</div>
											<div class="col-lg-12">
												<input class="button" type="submit" value="Enregistrer">
											</div>
										</div>
										{{ form_end(form) }}
									</form>
								</div>
							</div>
							<hr>

						</div>


					</div>
					{# fin new reservation #}
					<div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">

						<table class="table text-center">
							<thead class="bg-dark text-uppercase">
								<tr>
									<th>nom</th>
									<th>prénom</th>
									<th>permis</th>
									<th>action</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>Mark</td>
									<td>Otto</td>
									<td>
										<p class="mb-0">
											Numéro de permis:
										</p>
										<p class="mb-0">
											Date de délivrance:
										</p>
										<p class="mb-0">
											Ville de délivrance:
										</p>

									</td>
									<td>
										<button class="btn btn-danger">
											<i class="fa fa-edit"></i>
										</button>
									</td>
								</tr>

							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>

	{# fin custom client #}


{% endblock %}
