{% extends 'base.html.twig' %}


{% block title %}Nous contacter en Guaeloupe
{% endblock %}

{% block stylesheets %}
	<link
	rel="stylesheet" href="css/material/material-kit.css?v=2.0.7">
{# <link rel="stylesheet" href="{{ asset('vitrine/css/style_index.css') }}"> #}
{% endblock %}

{% block body %}
	<div class="faq-area sp bg-white">
		<div class="section-title text-center" id="contact">
			<h2>Nous contacter</h2>
			<p>Vous pouvez nous envoyer un message ici</p>
		</div>

		<div class="container">
			{{ form_start(form, {'attr': {'class': 'form-contact'}}) }}

			<div class="p-5">
				<div class="row">
					<div class="col-lg-6">
						<div class="form-group">
							<label for="inputUsername" class="bmd-label-floating" style="color:white;font-weight:500">Nom :</label>
							{{form_widget(form.nom)}}
							{# <input type="text" class="form-control" name="nom" required> #}
						</div>
					</div>
					<div class="col-lg-6">
						<div class="form-group">
							<label for="email" class="bmd-label-floating" style="color:white;font-weight:500">Email :</label>
							{{form_widget(form.email)}}

							{# <input type="email" class="form-control" name="email" required> #}
						</div>
					</div>
					<div class="col-lg-6">
						<div class="form-group">
							<label for="telephone" class="bmd-label-floating" style="color:white;font-weight:500">Téléphone :</label>
							{{form_widget(form.telephone)}}

							{# <input type="text" class="form-control" name="telephone" required> #}
						</div>
					</div>
					<div class="col-lg-6">
						<div class="form-group">
							<label for="adresse" class="bmd-label-floating" style="color:white;font-weight:500">Adresse :</label>
							{{form_widget(form.adresse)}}

						</div>
					</div>

					<div class="col-lg-12">
						<div class="form-group">
							<label for="Objet" class="labelObjet">Objet* :
							</label>
							<div class="col-3">
								{{form_widget(form.objet)}}
							</div>

						</div>
					</div>
					<div class="col-lg-12">
						<div class="form-group">
							<label for="exampleMessage" class="">Message :</label>
							{{form_widget(form.message, {'attr': {'placeholder': 'Pour une demande de devis, veuillez préciser vos dates de retrait et de retour ainsi que le lieu (Aéroport ou autre).', "rows":"4"}})}}

						</div>
					</div>

					<div class="col-lg-12">
						<input class="button" type="submit" value="Envoyer Message">
					</div>
				</div>
			</div>

			{{form_end(form)}}

		</div>

	</div>
{% endblock %}
