{% extends 'base.html.twig' %}

{# {% form_theme form 'bootstrap_4_layout.html.twig' %} #}

{% block title %}inscription
{% endblock %}
{% block stylesheets %}
	{# <link rel="stylesheet" href="css/material/material-kit.css?v=2.0.7"> #}
	<link rel="stylesheet" href="css/inscription.css">
{% endblock %}
{% block body %}
	<div class="container">

		<h2 class="text-center title mt-5 mb-5">Veuillez vous inscrire</h2>

		<div class="col-lg-8 col-md-8 ml-auto mr-auto">

			<form action="#" method="POST">
				<div class="row">
					{{ form_start(form) }}

					<div class="col-lg-6">
						<div class="form-group">
							<label class="bmd-label-floating">Nom d'utilisateur :</label>
							{{form_widget(form.username) }}
						</div>
					</div>
					<div class="col-lg-6" class="bmd-label-floating">
						<div class="form-group">
							<label class="bmd-label-floating">Nom :</label>
							{{form_widget(form.nom)}}
						</div>
					</div>
					<div class="col-lg-6" class="bmd-label-floating">
						<div class="form-group">
							<label class="bmd-label-floating">Prénom :</label>
							{{form_widget(form.prenom )}}
						</div>
					</div>
					<div class="col-lg-6" class="bmd-label-floating">
						<div class="form-group">
							<label class="bmd-label-floating">Adresse :</label>
							{{form_widget(form.adresse	)}}
						</div>
					</div>
					<div class="col-lg-6" class="bmd-label-floating">
						<div class="form-group">
							<label class="bmd-label-floating">Mail :</label>
							{{form_widget(form.mail)}}
						</div>
					</div>
					<div class="col-lg-3" class="bmd-label-floating">
						<div class="form-group">
							<label class="bmd-label-floating">Téléphone :</label>
							{{form_widget(form.telephone)}}
						</div>
					</div>
					<div class="col-lg-3" class="bmd-label-floating">
						<div class="form-group">
							<label class="bmd-label-floating">Portable :</label>
							{{form_widget(form.portable)}}
						</div>
					</div>

					<div class="col-lg-6" class="bmd-label-floating">
						<div class="form-group">
							<label class="bmd-label-floating">Complément adresse :</label>
							{{form_widget(form.complementAdresse)}}
						</div>
					</div>
					<div class="col-lg-6" class="bmd-label-floating">
						<div class="form-group">
							<label class="bmd-label-floating">Ville :</label>
							{{form_widget(form.ville)}}
						</div>
					</div>
					<div class="col-lg-6" class="bmd-label-floating">
						<div class="form-group">
							<label class="bmd-label-floating">Code postal :</label>
							{{form_widget(form.codePostal)}}
						</div>
					</div>
					<div class="col-lg-6" class="bmd-label-floating">
						<div class="form-group">
							<label class="">Date de naissance :</label>
							{{form_widget(form.dateNaissance)}}
						</div>
					</div>
					<div class="col-lg-6" class="bmd-label-floating">
						<div class="form-group">
							<label class="bmd-label-floating">Lieu de naissance :</label>
							{{form_widget(form.lieuNaissance)}}
						</div>
					</div>
					<div class="col-lg-6" class="bmd-label-floating">
						<div class="form-group">
							<label class="bmd-label-floating">numero de permis :</label>
							{{form_widget(form.numeroPermis)}}
						</div>
					</div>
					<div class="col-lg-6" class="">
						<div class="form-group">
							<label class="">Date de délivrance permis :</label>
							{{form_widget(form.datePermis)}}
						</div>
					</div>
					<div class="col-lg-6" class="">
						<div class="form-group">
							<label class="">Ville de délivrance permis :</label>
							{{form_widget(form.villeDelivrancePermis)}}
						</div>
					</div>
					<div class="col-lg-12" class="bmd-label-floating">
						<div
							class="form-group">
							{# <label class="bmd-label-floating">Mot de passe :</label> #}
							{{form_widget(form.password ) }}
						</div>
					</div>
					<button class="btn btn-danger">
						<i class="fa fa-book" aria-hidden="true"></i>
						{{ button_label|default('Enregistrer') }}
					</button>
				</div>
				{{ form_end(form) }}
			</form>

		</div>


	</div>
{% endblock %}
{% block javascripts %}{# // <script src="js/custom/material/bootstrap-material-design.min.js" type="text/javascript"></script> #}
	{# // <script src="js/custom/material/material-kit.js?v=2.0.7" type="text/javascript"></script> #}
{% endblock %}
