{% extends 'base2.html.twig' %}

{% block title %}
	options et garanties
{% endblock %}
{% block stylesheets %}
	<link href="{{ asset( 'css/client/sidebarResaResume.css') }}" rel="stylesheet">
	<link href="{{ asset('css/admin/options_garanties/edit.css') }}" rel="stylesheet">
	<link href="{{ asset('css/admin/vente_comptoir/vente_comptoir.css') }}" rel="stylesheet">
{% endblock %}
{% block current_page %}
	<div class="text-info">
		<i class="fa fa-folder-open"></i>
		Modification options et garanties -
		<br>

		{{ type == "devis" ? "devis" : "réservation" }}
		n°
		<span>{{ type == "devis" ? devis.numero :  devis.reference  }}</span>
	</div>
{% endblock %}
{% block content %}

	<input
	type="hidden" id="options_garanties_data" data-conducteur="{{conducteur}}" data-selected-options="{{ dataOptions|json_encode() }}" data-selected-garanties="{{ dataGaranties|json_encode() }}" data-options="{{ allOptions|json_encode() }}" data-garanties="{{ allGaranties|json_encode() }}">
	<!--change path according to type  -->

	{% set pathName = 'devis_optionsGaranties_edit' %}
	{% if type == 'reservation' %}
		{% set pathName = 'reservation_optionsGaranties_edit' %}
	{% endif %}

	<form action="{{ path(pathName, {'id': devis.id}) }}">
		<input type="hidden" name="editedOptionsGaranties" value="true">
		<div class="row">
			<div class="col-md-3">

				<div class="x_panel">
					<div class="x_title">
						<h2 class="text-wrap">
							<i class="fa  fa-chevron-right"></i>Options souscrites :
						</h2>
						<div class="clearfix"></div>
					</div>
					<div class="options" id="optionsList">

						<ul id="optionsSubscribed"></ul>

					</div>
					<div class="sommeOptions">
						<div class="x_title">
							<h2 class="text-wrap">
								Total TTC options :
							</h2>
							<div class="clearfix"></div>
						</div>
						<h5 id="prixOptions" class="alert alert-secondary text-center"></h5>

					</div>
					<div class="x_title">
						<h2 class="text-wrap">
							<i class="fa  fa-chevron-right"></i>Garanties souscrites :
						</h2>
						<div class="clearfix"></div>
					</div>
					<div class="garanties" id="garantiesList">
						<ul id="garantiesSubscribed"></ul>
					</div>
					<div class="sommeGaranties">
						<div class="x_title">
							<h2 class="text-wrap">
								Total TTC garanties :
							</h2>
							<div class="clearfix"></div>
						</div>
						<h5 id="prixGaranties" class="alert alert-secondary text-center"></h5>

					</div>
				</div>

			</div>
			<div class="col-md-9">
				{% include "client/reservation/validation/parts/step2OptionsGaranties.html.twig" %}
			</div>
		</div>
		<div class="text-center mt-4">
			<a href="{{path(routeReferer, {id : devis.id})}}" class="btn btn-dark">Annuler</a>
			<button class="btn btn-danger" type="submit">
				Enregistrer
			</button>
		</div>
	</form>


{% endblock %}
{% block javascripts %}
	<script src="{{ asset('js/admin/options_garanties/edit.js') }}"></script>
{% endblock %}
