{% extends 'baseClient2.html.twig' %}

{% block title %}
	paiement
{% endblock %}
{% block stylesheets %}
	<link href="{{ asset( 'css/client/sidebarResaResume.css')}}" rel="stylesheet">
	<link rel="stylesheet" href="css/client.css">


{% endblock %}
{% block nav %}{% endblock %}
{% block body %}
	<div class="flex flex-col md:flex-row gap-6">
		<div class="md:w-1/4">
			<div class="mb-4">
				<h5 class="text-uppercase text-lg font-semibold">
					Votre véhicule
				</h5>
			</div>
			<div class="bg-white p-2 shadow-md rounded-lg">
				<div class="border-b border-gray-200 pb-2">
					<div class="text-lg font-semibold">{{devis.vehicule.marque}}
						{{devis.vehicule.modele}}</div>
					<img src="/uploads/vehicules/{{ devis.vehicule.image }}" alt="{{ devis.vehicule.image }}" class="rounded-lg" style="width : 100%;">

				</div>
				<div>
					<div class="border-b border-gray-200 pb-4">
						<h5 class="font-semibold mb-2">Agence départ
						</h5>
						<p>
							<i class="fa fa-map-marker mr-2"></i>
							<span id="agence_depart">{{devis.agenceDepart}}</span><br>
							<span id="date_depart">{{devis.dateDepart | date('d-m-Y H:i')}}</span>
							<span id="heure_depart"></span>
						</p>
					</div>
					<div class="border-b border-gray-200 pb-4">
						<h5 class="font-semibold mb-2">Agence retour
						</h5>
						<p>
							<i class="fa fa-map-marker mr-2"></i>
							<span id="agence_retour">{{devis.agenceRetour}}</span><br>
							<span id="date_retour">{{devis.dateRetour| date('d-m-Y H:i')}}</span>
							<span id="heure_retour"></span>
						</p>
					</div>
					<div class="border-b border-gray-200 pb-4">
						<h5 class="font-semibold mb-2">Prestations incluses</h5>
						<ul class="pl-2 ">
							<li class="flex items-center mb-1">
								<i class="fa fa-check mr-2"></i>
								Kilométrage Illimité
							</li>
							<li class="flex items-center mb-1">
								<i class="fa fa-check mr-2"></i>
								Assurance accidents causés aux tiers
							</li>
							<li class="flex items-center mb-1">
								<i class="fa fa-check mr-2"></i>
								Assurance responsabilité civile
							</li>
							<li class="flex items-center mb-1">
								<i class="fa fa-check mr-2"></i>
								Assurance collision (CDW)
							</li>
							<li class="flex items-center mb-1">
								<i class="fa fa-check mr-2"></i>
								TVA 8.5 %
							</li>
						</ul>
					</div>
					<div class="border-b border-gray-200 pb-4">
						<h5 class="font-semibold mb-2">Option(s)
						</h5>
						<ul class="pl-2 ">
							{% for option in devis.options %}
								<li class="flex justify-between mb-1">
									<div class="flex items-center">
										<i class="fa fa-check mr-2"></i>
										{{option.appelation}}
									</div>
									<div>
										{{option.prix}}€
									</div>
								</li>
							{% endfor %}
						</ul>
					</div>
					<div class="pb-4">
						<h5 class="font-semibold mb-2">Garantie(s)
						</h5>
						<ul class="pl-2 ">
							{% for garantie in devis.garanties %}
								<li class="flex justify-between mb-1">
									<div class="flex items-center">
										<i class="fa fa-check mr-2"></i>
										{{garantie.appelation}}
									</div>
									<div>
										{{garantie.prix}}€
									</div>
								</li>
							{% endfor %}
						</ul>
					</div>

				</div>
			</div>
			<div class="text-center mt-4">
				<h5 class="font-semibold">Prix total pour
					{{devis.duree}}
					jours
				</h5>
				<span class="text-xl font-bold">{{devis.prix}}€</span><br>
				<span>Soit
					{{(devis.prix / devis.duree)|number_format(2,'.') }}€ / jour</span>
			</div>
		</div>
		<div class="md:w-3/4">
			<div class="bg-white shadow-md p-2 rounded-lg">
				<div class="w-full max-w-xs mx-auto text-center">
					<form action="/payement" method="post" id="payment-form" class="block">
						<div class="mb-6">
							<label for="card-element" class="block text-left text-red-700 font-medium mb-2">
								les informations de la carte
							</label>
							<div
								id="card-element" class="border border-gray-300 rounded-lg p-3">
								<!-- A Stripe Element will be inserted here. -->
							</div>
							<!-- Used to display Element errors. -->
							<div id="card-errors" role="alert" class="text-red-500 mt-2"></div>
						</div>
						<div class="mb-4">
							<input type="hidden" name="montant" id="montant" value="{{ sommePaiement }}">
						</div>
						<div class="mb-4">
							<input type="hidden" name="id" id="devis" value="{{ devis.id }}">
						</div>
						<div class="space-y-2">
							<button type="submit" class="bg-red-500 hover:bg-red-600 text-white px-4 py-2 rounded-lg transition-all duration-300 w-full">
								Accepter
							</button>
							<button type="button" class="border border-gray-300 text-gray-700 hover:bg-gray-100 px-4 py-2 rounded-lg transition-all duration-300 w-full" onclick="window.location.href = '/';">
								Annuler
							</button>
						</div>
					</form>
				</div>
			</div>
		</div>

	</div>{% endblock %}{% block javascripts %}<script src="https://js.stripe.com/v3/"></script><script src="{{ asset('/js/client.js')}}"></script><script src="{{ asset('js/client/reservation/step2OptionsGaranties.js')}}"></script>{% endblock %}
