{% extends 'baseClient2.html.twig' %}

{% block title %}
	options et garanties
{% endblock %}
{% block stylesheets %}
	<link
	href="{{ asset( 'css/client/sidebarResaResume.css')}}" rel="stylesheet">
	{#	<link href="{{asset('css/client/step2OptionsGaranties.css')}}" rel="stylesheet">#}
	<link href="{{asset('css/admin/vente_comptoir/vente_comptoir.css')}}" rel="stylesheet">


{% endblock %}
{% block nav %}{% endblock %}
{% block body %}
	{% if vehiculeIsNotAvailable %}
		<div class="mt-2 mb-4">
			<h3 class="text-red-500 text-center">
				<i class="fa fa-warning"></i>
				Cette véhicule n'est plus disponible, veuillez effectuer une autre réservation

			</h3>
			<div class="text-center">
				<a href="{{path('client_step1')}}" class="border border-gray-300 text-gray-700 hover:bg-gray-100 px-4 py-2 rounded-lg transition-all duration-300">
					Nouvelle réservation</a>
			</div>
		</div>
	{% endif %}
	<input type="hidden" id="options_garanties_data" data-vehiculeisnotavailable=" {{ vehiculeIsNotAvailable }}" data-selected-options="{{dataOptions|json_encode()}}" data-selected-garanties="{{dataGaranties|json_encode()}}" data-options="{{allOptions|json_encode()}}" data-garanties="{{allGaranties|json_encode()}}">

	<form action="{{path('validation_step2',{'id':devis.id})}}" method="post">
		<input type="hidden" name="editedOptionsGaranties" value="true">
		<div class="flex flex-col md:flex-row gap-6">
			<div class="md:w-1/4">
				{% include "client2/reservation/validation/parts/sidebarResaResume.html.twig" %}
			</div>
			<div class="md:w-3/4">
				{% include "client2/reservation/validation/parts/step2OptionsGaranties.html.twig" %}
				<div class="text-center btns mt-6">
					<a href="{{cancelPath}}" class="border border-gray-300 text-gray-700 hover:bg-gray-100 px-4 py-2 rounded-lg transition-all duration-300 mr-2">Annuler</a>
					<button type="submit" class="bg-red-500 hover:bg-red-600 text-white px-4 py-2 rounded-lg transition-all duration-300">Enregistrer</button>
				</div>

			</div>
		</div>
	</form>
{% endblock %}
{% block javascripts %}
	{# // <script src="{{ asset('js/client/reservation/validation_devis/step2OptionsGaranties.js')}}"></script> #}
	<script src="{{asset('js/admin/options_garanties/edit.js')}}"></script>
	<script src="{{asset('js/client/reservation/validation_devis/vehicule_indispo.js')}}"></script>

{% endblock %}
