{% extends 'baseClient2.html.twig' %}

{% block title %}
	error
{% endblock %}
{% block stylesheets %}
	<script src="https://polyfill.io/v3/polyfill.js?version=3.52.1&features=fetch"></script>
	<script src="https://js.stripe.com/v3/"></script>
{% endblock %}
{% block nav %}{% endblock %}
{% block body %}

	<div class="text-center">
		<h1>
			page de paiement stripe
		</h1>
	</div>

	<div class="mb-4">
		<h5 class="text-uppercase text-lg font-semibold">
			Votre véhicule
		</h5>
	</div>
	<div class="bg-white p-2 shadow-md rounded-lg">
		<div class="border-b border-gray-200 pb-2">
			<div class="text-lg font-semibold">{{devis.vehicule.marque}}
				{{devis.vehicule.modele}}</div>
			<img src="/uploads/vehicules/{{ devis.vehicule.image }}" alt="{{ devis.vehicule.image }}" loading="lazy" class="rounded-lg" style="width : 20%;">

		</div>
		<div>
			<div class="border-b border-gray-200 pb-4">
				<h5 class="font-semibold mb-2">Agence départ
				</h5>
				<p>
					<i class="fa fa-map-marker mr-2"></i>
					<span id="agence_depart">{{devis.agenceDepart}}</span><br>
					<span id="date_depart">{{devis.dateDepart | date('d-m-Y H:i')}}</span>
					<span id="heure_depart"></span>
				</p>
			</div>
			<div class="border-b border-gray-200 pb-4">
				<h5 class="font-semibold mb-2">Agence retour
				</h5>
				<p>
					<i class="fa fa-map-marker mr-2"></i>
					<span id="agence_retour">{{devis.agenceRetour}}</span><br>
					<span id="date_retour">{{devis.dateRetour| date('d-m-Y H:i')}}</span>
					<span id="heure_retour"></span>
				</p>
			</div>
			<div class="border-b border-gray-200 pb-4">
				<h5 class="font-semibold mb-2">Prestations incluses</h5>
				<ul class="pl-2 ">
					<li class="flex items-center mb-1">
						<i class="fa fa-check mr-2"></i>
						Kilométrage Illimité
					</li>
					<li class="flex items-center mb-1">
						<i class="fa fa-check mr-2"></i>
						Assurance accidents causés aux tiers
					</li>
					<li class="flex items-center mb-1">
						<i class="fa fa-check mr-2"></i>
						Assurance responsabilité civile
					</li>
					<li class="flex items-center mb-1">
						<i class="fa fa-check mr-2"></i>
						Assurance collision (CDW)
					</li>
					<li class="flex items-center mb-1">
						<i class="fa fa-check mr-2"></i>
						TVA 8.5 %
					</li>
				</ul>
			</div>
			<div class="border-b border-gray-200 pb-4">
				<h5 class="font-semibold mb-2">Option(s)
				</h5>
				<ul class="pl-2 ">
					{% for option in devis.options %}
						<li class="flex justify-between mb-1">
							<div class="flex items-center">
								<i class="fa fa-check mr-2"></i>
								{{option.appelation}}
							</div>
							<div>
								{{option.prix}}€
							</div>
						</li>
					{% endfor %}
				</ul>
			</div>
			<div class="pb-4">
				<h5 class="font-semibold mb-2">Garantie(s)
				</h5>
				<ul class="pl-2 ">
					{% for garantie in devis.garanties %}
						<li class="flex justify-between mb-1">
							<div class="flex items-center">
								<i class="fa fa-check mr-2"></i>
								{{garantie.appelation}}
							</div>
							<div>
								{{garantie.prix}}€
							</div>
						</li>
					{% endfor %}
				</ul>
			</div>

		</div>
	</div>
	<div class="text-center mt-4">
		<h5 class="font-semibold">Prix total pour
			{{devis.duree}}
			jours
		</h5>
		<span class="text-xl font-bold">{{devis.prix}}€</span><br>
		<span>Soit
			{{(devis.prix / devis.duree)|number_format(2,'.') }}€ / jour</span>
	</div>
	<form action="{{path('paiementStripe')}}" method="POST">
		<button class="bg-red-500 hover:bg-red-600 text-white px-4 py-2 rounded-lg transition-all duration-300" type="submit" id="checkout-button">Checkout</button>
	</form>
{% endblock %}
{% block javascripts %}{% endblock %}
