{% extends 'base2.html.twig' %}

{% block title %}Editer Véhicule
{% endblock %}
{% block stylesheets %}{% endblock %}


{% block current_page %}
	<h2>
		<i class="fa fa-edit"></i>
		Modification véhicule
	</h2>
{% endblock %}

{% block content %}
	<div class="x_panel">
		<div class="x_title">
			<h2>
				<i class="fa fa-edit"></i>Modifier véhicule</h2>
			<div class="clearfix"></div>
		</div>


		{{ include('admin/vehicule/_form.html.twig', {'button_label': 'Modifier'}) }}

		<a href="{{ path('vehicule_index') }}" class="btn btn-light">
			<i class="fa fa-arrow-left" aria-hidden="true"></i>
			retour</a>

		{{ include('admin/vehicule/_delete_form.html.twig') }}

	</div>
{% endblock %}
{% block javascripts %}
	<script src="{{ asset( 'js/admin/populateSelect.js')}}"></script>
	<script src="{{ asset( 'js/admin/editVehicule_ajax.js')}}"></script>
{% endblock %}
