{% extends 'base2.html.twig' %}

{% block title %}Flotte véhicules
{% endblock %}


{% block stylesheets %}
	<!-- Datatables -->
	{% include "admin/_parts/datatables/css.html.twig" %}
	<link href="{{asset('css/admin/vehicules.css')}}" rel="stylesheet">
{% endblock %}
{% block current_page %}
	<h2>
		<i class="fa fa-car"></i>
		Flotte véhicule
	</h2>
{% endblock %}
{% block content %}
	<!-- top tiles -->
	<div class="x_panel">
		<p class="text-center font-weight-bold">
			<i class="fa fa-info mr-1"></i>
			<a href="{{path('vehicule_new')}}" class="text-red">
				Pour ajouter un nouveau véhicule, veuillez cliquer ici</a>
		</p>
		<div class="x_content">
			<div class="row">
				<div class="col-sm-12">
					<div class="card-box table-responsive ">
						<table id="datatable" class="table  table-bordered text-center" style="width:100%">
							<thead>
								<tr class="text-uppercase text-center">
									<th>image</th>
									<th class="text-nowrap">immatriculation</th>
									<th>modèle</th>
									<th class="text-nowrap">kilométrage</th>
									<th class="text-nowrap">description</th>
									<th>état</th>
									<th style="width : 25px;">action</th>
								</tr>
							</thead>
							<tbody>
								{% for vehicule in vehicules %}
									<tr class="text-center">
										<td>
											<img src="/uploads/vehicules/{{ vehicule.image }}" alt="{{ vehicule.image }}" class="img-circle  " style="width : 90px;">
										</td>
										<td>
											{{vehicule.immatriculation}}
										</td>
										<td>{{vehicule.marque}}
											{{vehicule.modele}}</td>
										<td></td>
										<td>
											{{vehicule.carburation}}</td>
										<td></td>
										<td class="text-center">
											<div class="d-flex justify-content-center m-0 p-0">
												<div class="">
													<a title="Modifier" href="{{ path('vehicule_edit', {'id': vehicule.id}) }}" class="btn btn-link">
														<i class="fa  fa-gear (alias)"></i>
													</a>
												</div>
												<div class="">
													<a title="Détails" href="{{ path('vehicule_show', {'id': vehicule.id}) }}" class="btn btn-link">
														<i class="fa  fa-list-ul"></i>
													</a>
												</div>
												<div class="">
													<a title="Liste résas" href="{{ path('reservations_par_vehicule', {'id': vehicule.id}) }}" class="btn btn-link">
														<i class="fa  fa-list"></i>
													</a>
												</div>
												<div class="">
													<form method="post" action="{{ path('vehicule_delete', {'id': vehicule.id}) }}" onsubmit="return confirm('Êtes-vous sûre de vouloir supprimer ce véhicule ?');">
														<input type="hidden" name="_method" value="DELETE">
														<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ vehicule.id) }}">
														<button class="btn btn-link" title="Supprimer">
															<i class="fa fa-trash" aria-hidden="true"></i>
														</button>
													</form>
												</div>
											</div>
										</td>
									</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	{% endblock %}
	{% block javascripts %}
		<!-- Datatables -->
		{% include "admin/_parts/datatables/js.html.twig" %}
		<script src="{{ asset('js/admin/datatables/datatablesConfig.js') }}"></script>
		<script src="{{asset('js/admin/datatables/vehicule.js')}}"></script>
	{% endblock  %}
