{% extends 'base2.html.twig' %}

{% block title %}Détails Véhicule
{% endblock %}

{% block current_page %}
	<h2>
		<i class="fa fa-list"></i>
		Détails
	</h2>
{% endblock %}

{% block content %}

	<div class="x_panel">
		<div class="x_title">
			<h2>
				<i class="fa fa-list"></i>
				Détail du
				{{vehicule.marque }}
				{{vehicule.modele}}</h2>
			<div class="clearfix"></div>
		</div>
		<div class="image text-center">
			<img src="{{vich_uploader_asset(vehicule, 'imageFile') }}" alt="{{ vehicule.immatriculation }}" style="width : 200px">
		</div>
		<table class="table">
			<tbody>
				<tr>
					<th>Id</th>
					<td>{{ vehicule.id }}</td>
				</tr>
				<tr>
					<th>Immatriculation</th>
					<td>{{ vehicule.immatriculation }}</td>
				</tr>
				<tr>
					<th>Date de mise en service</th>
					<td>{{ vehicule.dateMiseService ? vehicule.dateMiseService|date('d-m-Y') : '' }}</td>
				</tr>
				<tr>
					<th>Date de mise en location</th>
					<td>{{ vehicule.dateMiseLocation ? vehicule.dateMiseLocation|date('d-m-Y') : '' }}</td>
				</tr>
				<tr>
					<th>Modèle</th>
					<td>{{ vehicule.modele }}</td>
				</tr>
				<tr>
					<th>Bagages</th>
					<td>{{ vehicule.bagages }}</td>
				</tr>
				<tr>
					<th>Vitesse</th>
					<td>{{ vehicule.vitesse }}</td>
				</tr>
				<tr>
					<th>Prix d'acquisition</th>
					<td>{{ vehicule.prixAcquisition }}</td>
				</tr>
				<tr>
					<th>Tarif journalière</th>
					<td>{{ vehicule.tarifJournaliere }}</td>
				</tr>
			</tbody>
		</table>
		<a href="{{ path('vehicule_index') }}" class="btn btn-dark">
			<i class="fa fa-arrow-left" aria-hidden="true"></i>
			retour</a>
		{% if is_granted("ROLE_ADMIN") %}
			<a href="{{ path('vehicule_edit', {'id': vehicule.id}) }}" class="btn btn-success">
				<i class="fa fa-book" aria-hidden="true"></i>
				Modifier</a>
		{% endif %}
		{% if is_granted("ROLE_ADMIN") %}
			{{ include('admin/vehicule/_delete_form.html.twig') }}
		{% endif %}


	</div>
{% endblock %}
