{% extends 'base2.html.twig' %}

{% block title %}Véhicules vendus
{% endblock %}


{% block stylesheets %}
	<!-- Datatables -->
	<link href="{{asset('admin/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css')}}" rel="stylesheet">
	<link href="{{asset('admin/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css')}}" rel="stylesheet">
	<link href="{{asset('admin/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css')}}" rel="stylesheet">
	<link href="{{asset('admin/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css')}}" rel="stylesheet">
	<link href="{{asset('admin/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css')}}" rel="stylesheet">
	<link href="{{asset('css/admin/vehicules.css')}}" rel="stylesheet">

{% endblock %}
{% block current_page %}
	<h2>
		<i class="fa fa-car"></i>
		Véhicules vendus
	</h2>
{% endblock %}
{% block content %}
	<!-- top tiles -->
	<div class="x_panel">
		<p class="text-center font-weight-bold"></p>
		<div class="x_content">
			<div class="row">
				<div class="col-sm-12">
					<div class="card-box table-responsive ">
						<table id="datatable" class="table  table-bordered text-center" style="width:100%">
							<thead>
								<tr class="text-uppercase text-center">
									<th>image</th>
									<th class="text-nowrap">immatriculation</th>
									<th>modèle</th>
									<th class="text-nowrap">kilométrage</th>
									<th class="text-nowrap">description</th>
									<th>état</th>
									<th>Action</th>
								</tr>
							</thead>
							<tbody>
								{% for vehicule in vehicules %}
									<tr class="text-center">
										<td>
											<img src="/uploads/vehicules/{{ vehicule.image }}" alt="{{ vehicule.image }}" class="img-circle  " style="width : 90px;">
										</td>
										<td>
											{{vehicule.immatriculation}}
										</td>
										<td>{{vehicule.marque}}
											{{vehicule.modele}}</td>
										<td></td>
										<td>
											{{vehicule.carburation}}</td>
										<td></td>
										<td class="text-center" style="">
											<div class="row">
												<div class="col-12">
													<a title="Liste réservations" href="{{ path('reservations_par_vehicule', {'id': vehicule.id}) }}" class="btn btn-link">
														<i class="fa  fa-list"></i>
													</a>
												</div>
											</div>
										</td>
									</tr>
								</tbody>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
{% block javascripts %}<!-- Datatables --><script src="{{asset('admin/vendors/datatables.net/js/jquery.dataTables.min.js')}}"></script>
	<script src="{{asset('admin/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js')}}"></script>
	<script src="{{asset('admin/vendors/datatables.net-buttons/js/dataTables.buttons.min.js')}}"></script>
	<script src="{{asset('admin/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js')}}"></script>
	<script src="{{asset('admin/vendors/datatables.net-buttons/js/buttons.flash.min.js')}}"></script>
	<script src="{{asset('admin/vendors/datatables.net-buttons/js/buttons.html5.min.js')}}"></script>
	<script src="{{asset('admin/vendors/datatables.net-buttons/js/buttons.print.min.js')}}"></script>
	<script src="{{asset('admin/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js')}}"></script>
	<script src="{{asset('admin/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js')}}"></script>
	<script src="{{asset('admin/vendors/datatables.net-responsive/js/dataTables.responsive.min.js')}}"></script>
	<script src="{{asset('admin/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js')}}"></script>
	<script src="{{asset('admin/vendors/datatables.net-scroller/js/dataTables.scroller.min.js')}}"></script>
	<script src="{{asset('admin/vendors/jszip/dist/jszip.min.js')}}"></script>
	<script src="{{asset('admin/vendors/pdfmake/build/pdfmake.min.js')}}"></script>
	<script src="{{asset('admin/vendors/pdfmake/build/vfs_fonts.js')}}"></script>
	<script>
		// changement de langue pour le table datatable plugin de jquery
$(document).ready(function () {
$("#datatable").dataTable().fnDestroy();
$('#datatable').dataTable({
columnDefs: [
{
width: '20%',
targets: 0
}
],
"language": {
"emptyTable": "Aucune donnée disponible dans le tableau",
"lengthMenu": "Afficher _MENU_ éléments",
"loadingRecords": "Chargement...",
"processing": "Traitement...",
"zeroRecords": "Aucun élément correspondant trouvé",
"paginate": {
"first": "Premier",
"last": "Dernier",
"previous": "Précédent",
"next": "Suiv"
},
"linkedCalendars": false,
"aria": {
"sortAscending": ": activer pour trier la colonne par ordre croissant",
"sortDescending": ": activer pour trier la colonne par ordre décroissant"
},
"select": {
"rows": {
"_": "%d lignes sélectionnées",
"0": "Aucune ligne sélectionnée",
"1": "1 ligne sélectionnée"
},
"1": "1 ligne selectionnée",
"_": "%d lignes selectionnées",
"cells": {
"1": "1 cellule sélectionnée",
"_": "%d cellules sélectionnées"
},
"columns": {
"1": "1 colonne sélectionnée",
"_": "%d colonnes sélectionnées"
}
},
"autoFill": {
"cancel": "Annuler",
"fill": "Remplir toutes les cellules avec <i>%d<\/i>",
"fillHorizontal": "Remplir les cellules horizontalement",
"fillVertical": "Remplir les cellules verticalement",
"info": "Exemple de remplissage automatique"
},
"searchBuilder": {
"conditions": {
"date": {
"after": "Après le",
"before": "Avant le",
"between": "Entre",
"empty": "Vide",
"equals": "Egal à",
"not": "Différent de",
"notBetween": "Pas entre",
"notEmpty": "Non vide"
},
"number": {
"between": "Entre",
"empty": "Vide",
"equals": "Egal à",
"gt": "Supérieur à",
"gte": "Supérieur ou égal à",
"lt": "Inférieur à",
"lte": "Inférieur ou égal à",
"not": "Différent de",
"notBetween": "Pas entre",
"notEmpty": "Non vide"
},
"string": {
"contains": "Contient",
"empty": "Vide",
"endsWith": "Se termine par",
"equals": "Egal à",
"not": "Différent de",
"notEmpty": "Non vide",
"startsWith": "Commence par"
},
"array": {
"equals": "Egal à",
"empty": "Vide",
"contains": "Contient",
"not": "Différent de",
"notEmpty": "Non vide",
"without": "Sans"
}
},
"add": "Ajouter une condition",
"button": {
"0": "Recherche avancée",
"_": "Recherche avancée (%d)"
},
"clearAll": "Effacer tout",
"condition": "Condition",
"data": "Donnée",
"deleteTitle": "Supprimer la règle de filtrage",
"logicAnd": "Et",
"logicOr": "Ou",
"title": {
"0": "Recherche avancée",
"_": "Recherche avancée (%d)"
},
"value": "Valeur"
},
"searchPanes": {
"clearMessage": "Effacer tout",
"count": "{total}",
"title": "Filtres actifs - %d",
"collapse": {
"0": "Volet de recherche",
"_": "Volet de recherche (%d)"
},
"countFiltered": "{shown} ({total})",
"emptyPanes": "Pas de volet de recherche",
"loadMessage": "Chargement du volet de recherche..."
},
"buttons": {
"copyKeys": "Appuyer sur ctrl ou u2318 + C pour copier les données du tableau dans votre presse-papier.",
"collection": "Collection",
"colvis": "Visibilité colonnes",
"colvisRestore": "Rétablir visibilité",
"copy": "Copier",
"copySuccess": {
"1": "1 ligne copiée dans le presse-papier",
"_": "%ds lignes copiées dans le presse-papier"
},
"copyTitle": "Copier dans le presse-papier",
"csv": "CSV",
"excel": "Excel",
"pageLength": {
"-1": "Afficher toutes les lignes",
"1": "Afficher 1 ligne",
"_": "Afficher %d lignes"
},
"pdf": "PDF",
"print": "Imprimer"
},
"decimal": ",",
"info": "Affichage de _START_ à _END_ sur _TOTAL_ éléments",
"infoEmpty": "Affichage de 0 à 0 sur 0 éléments",
"infoThousands": ".",
"search": "Rechercher:",
"searchPlaceholder": "...",
"thousands": ".",
"infoFiltered": "(filtrés depuis un total de _MAX_ éléments)",
"datetime": {
"previous": "Précédent",
"next": "Suivant",
"hours": "Heures",
"minutes": "Minutes",
"seconds": "Secondes",
"unknown": "-",
"amPm": ["am", "pm"]
},
"editor": {
"close": "Fermer",
"create": {
"button": "Nouveaux",
"title": "Créer une nouvelle entrée",
"submit": "Envoyer"
},
"edit": {
"button": "Editer",
"title": "Editer Entrée",
"submit": "Modifier"
},
"remove": {
"button": "Supprimer",
"title": "Supprimer",
"submit": "Supprimer"
},
"error": {
"system": "Une erreur système s'est produite"
},
"multi": {
"title": "Valeurs Multiples",
"restore": "Rétablir Modification"
}
}
}
// "bDestroy": true
});
});
	</script>{# // <script src="../../js/admin/datatable.fr.js"></script> #}{% endblock  %}
