{% extends 'base2.html.twig' %}

{% block title %}Véhicules vendus
{% endblock %}


{% block stylesheets %}
	<!-- Datatables -->
	{% include "admin/_parts/datatables/css.html.twig" %}
	<link href="{{asset('css/admin/vehicules.css')}}" rel="stylesheet">

{% endblock %}
{% block current_page %}
	<h2>
		<i class="fa fa-car"></i>
		Véhicules vendus
	</h2>
{% endblock %}
{% block content %}
	<!-- top tiles -->
	<div class="x_panel">
		<p class="text-center font-weight-bold"></p>
		<div class="x_content">
			<div class="row">
				<div class="col-sm-12">
					<div class="card-box table-responsive ">
						<table id="datatable" class="table  table-bordered text-center" style="width:100%">
							<thead>
								<tr class="text-uppercase text-center">
									<th>image</th>
									<th class="text-nowrap">immatriculation</th>
									<th>modèle</th>
									<th class="text-nowrap">kilométrage</th>
									<th class="text-nowrap">description</th>
									<th>état</th>
									<th>Action</th>
								</tr>
							</thead>
							<tbody>
								{% for vehicule in vehicules %}
									<tr class="text-center">
										<td>
											<img src="/uploads/vehicules/{{ vehicule.image }}" alt="{{ vehicule.image }}" class="img-circle  " style="width : 90px;">
										</td>
										<td>
											{{vehicule.immatriculation}}
										</td>
										<td>{{vehicule.marque}}
											{{vehicule.modele}}</td>
										<td></td>
										<td>
											{{vehicule.carburation}}</td>
										<td></td>
										<td class="text-center" style="">
											<div class="row">
												<div class="col-12">
													<a title="Liste réservations" href="{{ path('reservations_par_vehicule', {'id': vehicule.id}) }}" class="btn btn-link">
														<i class="fa  fa-list"></i>
													</a>
												</div>
											</div>
										</td>
									</tr>
								</tbody>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
{% block javascripts %}
	<!-- Datatables -->
	{% include "admin/_parts/datatables/js.html.twig" %}
	<script src="{{asset('js/admin/datatables/vehicule_vendus.js')}}"></script>
{% endblock  %}
