{{ form_start(formStopSales) }}
<div class="row">


	<div class="form-group col-md-6">
		<label for="">Date début:</label>
		{% if vehicule is defined %}
			{{ form_widget(formStopSales.date_debut, {'attr': {'readonly': 'readonly'}}) }}
		{% else %}
			{{ form_widget(formStopSales.date_debut) }}
		{% endif %}
	</div>
	<div class="form-group col-md-6">
		<label for="">Date fin :</label>
		{% if vehicule is defined %}
			{{ form_widget(formStopSales.date_fin, {'attr': {'readonly': 'readonly'}}) }}
		{% else %}
			{{ form_widget(formStopSales.date_fin) }}
		{% endif %}
	</div>

	<div class="form-group col-md-6">
		<label for="">Motif :</label>
		{{ form_widget(formStopSales.type) }}
	</div>

	{% if vehicule is defined %}
		<div class="form-group col-md-6">
			<label for="">Véhicule :</label>
			<input type="text" value="{{vehicule.marque}} {{vehicule.modele}} {{vehicule.immatriculation}}" readonly class="form-control">
		</div>
	{% else %}

		<div class=" form-group col-md-6">
			<label for="">Véhicule :</label>
			<select name="select" id="selectVehicule" class="form-control"></select>
			{# {{ form_widget(form.vehicule) }} #}
		</div>
	{% endif %}

	<div class="form-group col-md-12">
		<label for="">Commentaire:</label>
		{# <input name="date_fin" id="dateFin" type="text" date="date_debut" class="form-control" placeholder="jj/mm/aaaaa hh:mm" onfocus="(this.type='datetime-local')" onblur="(this.type='text')"> #}
		{{ form_widget(formStopSales.commentaire) }}
	</div>

</div>
<div class="">
	<button class="btn btn-danger">
		<i class="fa fa-book" aria-hidden="true"></i>
		{{ button_label|default('Enregistrer') }}
	</button>
</div>
{{ form_end(formStopSales) }}
