<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Devis de location</title>
		<!-- Bootstrap -->
		<link
		href="{{ asset( 'admin/vendors/bootstrap/dist/css/bootstrap.min.css') }}" rel="stylesheet">
		<!-- Font Awesome -->
		<link href="{{ asset( 'admin/vendors/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet">
		<style>
			* {
				padding: 0;
				margin: 0;
			}

			#body {
				margin: 30px 40px 40px;
			}

			#footer {
				position: absolute;
				bottom: 0;
				width: 100%;
				padding: 5px;
			}

			/* #footer_content {
				margin: 10px;
			} */

			.table-bordered th,
			.table-bordered td {
				border: 1px solid #dee2e6 !important;
			}

			.logo {

				display: inline-block;
				vertical-align: top;
				/* width: 350px; */

			}

			.adresse {
				display: inline-block;
				vertical-align: top;
				padding-left: 25px;
				font-size: 13px
			}

			.contrat_location {
				display: inline-block;
				vertical-align: top;
				margin-left: 80px;
			}
			#contrat_location_table1 {
				width: 100px;

			}
			#contrat_location_table1 tr td {
				padding: 2px;
				font-size: 12px;
				text-align: center !important;
			}

			#contrat_location_table2 {
				width: 100px;
				margin-left: 5px;
			}
			#contrat_location_table2 tr td {
				font-size: 12px;
				padding: 2px;
				text-align: center !important;

			}

			/* details locataire */
			.locataire {
				display: inline-block;
				vertical-align: top;
				width: 350px;
			}

			#locataire_table tr td {
				padding: 1px;
			}

			/* autre conducteurs */
			.autre_conducteur {
				display: inline-block;
				vertical-align: top;
				width: 355px;
				height: auto;

			}
			#autre_conducteur_table tr td {

				min-height: 5px;

			}

			/* details véhicule */
			.voiture {}

			.prestations {

				display: inline-block;
				vertical-align: top;
				width: 350px;
			}

			#recu_depot_table tr td {
				padding: 1px;
			}

			#recap_table tr td {
				padding: 1px;
			}

			#prestations_table tr td {
				padding: 1px;
			}


			.recu_depot {
				display: inline-block;
				vertical-align: top;
				width: 356px;
			}

			.d-inline-block {
				display: inline-block;
				vertical-align: top;
			}

			.d-inline-block-bottom {
				display: inline-block;
				vertical-align: bottom;
			}


			.table-border {

				border-collapse: collapse;
				border: 1px solid black;
			}

			.table-border td {

				border-collapse: collapse;
				border: 1px solid black;
			}

			.row {
				display: -ms-flexbox;
				display: flex;
				-ms-flex-wrap: wrap;
				flex-wrap: wrap;
				margin-right: -15px;
				margin-left: -15px;
			}

			.d-flex {
				display: -ms-flexbox !important;
				display: flex !important;
			}

			.text-white {
				color: #fff !important;
			}

			.bg-danger {
				background-color: red !important;
			}

			.p-0 {
				padding: 0 !important;
			}

			.m-0 {
				margin: 0 !important;
			}

			.p-2 {
				padding: 2px !important;
			}

			.m-2 {
				margin: 2px !important;
			}

			.text-center {
				text-align: center !important;
			}

			body {
				;
				/* font-size: 10px; */
			}

			.text-white {
				color: white !important;
			}

			.fs-10 {
				font-size: 10px;
			}

			.fs-12 {
				font-size: 12px;
			}

			.text-uppercase {
				text-transform: uppercase !important;
			}

			@font-face {
				font-family: 'FontAwesome';
				src: url('../fonts/fontawesome-webfont.eot?v=4.5.0');
				src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.5.0') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff2?v=4.5.0') format('woff2'), url('../fonts/fontawesome-webfont.woff?v=4.5.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.5.0') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.5.0#fontawesomeregular') format('svg');
				font-weight: normal;
				font-style: normal;
			}

			.fa {
				display: inline-block;
				font: normal normal normal 14px / 1 FontAwesome;
				font-size: inherit;
				text-rendering: auto;
				-webkit-font-smoothing: antialiased;
				-moz-osx-font-smoothing: grayscale;
			}

			.fa-square-o:before {
				content: "\f096";
			}
			td {
				padding-left: 2px;
			}
		</style>
	</head>
	<body>
		<section id="body">
			<div>
				<div class="logo"><img src="{{ logo }}" alt="logo" width="130px" height="80px" type="images/png"></div>
				<div class="adresse">
					<strong style="font-weight : bold">JoelLocation</strong>
					<br>
					94 Chemin de la hache<br>
					97160 Le Moule
					<br>
					Tél: 0690737674 / 0767321447<br>
					Email: joel@joellocation.com<br>
					SIRET : 87868990000016<br>
					www.joellocation.com
				</div>
				<div class="contrat_location">
					<h2 class="p-0">Contrat de location
					</h2>
					<div class="d-inline-block">
						<table id="contrat_location_table1" class="table-border">
							<tbody>
								<tr>
									<td class="bg-danger  text-white text-center fs-12">Numéro de contrat</td>
								</tr>
								{% if devis is defined and devis is not null %}
									<tr>
										<td>
											{{ devis.numero }}
										</td>
									</tr>
								</tr>
							{% else %}
								<tr>
									<td>
										<p class="text-white">-</p>
									</td>
								</tr>
							{% endif %}
						</tbody>
					</table>
				</div>
				<div class="d-inline-block">
					<table id="contrat_location_table2" class="table-border">
						<tbody>
							<tr>
								<td class="bg-danger text-white text-center fs-12">Date de contrat</td>
							</tr>
							<tr>
								<td>{{ reservation.dateDebut|date('d/m/Y') }}</td>
							</tr>

						</tbody>
					</table>
				</div>
			</div>

			<div style="margin-top: 5px; margin-bottom: 5px">Location de voiture du
				{{ reservation.dateDebut|date('d/m/Y') }}
				à
				{{ reservation.dateDebut|date('H:i') }}
				au
				{{ reservation.dateFin|date('d/m/Y') }}
				à
				{{ reservation.dateFin|date('H:i') }}</div>

			{# table gauche droite, info client et conducteurs #}
			<div class="locataire p-0 ">
				<table id="locataire_table" class="table-border p-0 " style="width : 100%;">
					<tbody class="fs-12">
						<tr style="background-color : red">
							<td colspan="2" class="text-white">LOCATAIRE</td>
						</tr>
						<tr style="padding:2px">
							<td style="padding:2px">Nom</td>
							<td style="padding:2px">{{ reservation.client.nom }}</td>
						</tr>
						<tr>
							<td>Prénom</td>
							<td>{{ reservation.client.prenom }}</td>
						</tr>
						<tr>
							<td>Adresse permanante</td>
							<td>{{ reservation.client.adresse }}</td>
						</tr>
						<tr>
							<td></td>
							<td>{{ reservation.client.complementAdresse }}</td>
						</tr>
						<tr>
							<td>Téléhone(s)</td>
							<td>{{ reservation.client.telephone }}</td>
						</tr>
						<tr>
							<td>Email</td>
							<td>{{ reservation.client.mail }}</td>
						</tr>
						<tr>
							<td>Date/lieu de naissance</td>
							<td>{{ reservation.client.dateNaissance|date('d/m/Y') }}
								à
								{{ reservation.client.lieuNaissance }}</td>
						</tr>
						<tr>
							<td>N°/Date de permis</td>
							<td>{{ reservation.client.numeroPermis }}
								le
								{{ reservation.client.datePermis|date('d/m/Y') }}</td>
						</tr>
						<tr>
							<td colspan="2" class="text-center text-white bg-danger">INFOS TRANSFERT
							</td>
						</tr>
						<tr>
							<td>Infos arrivée</td>
							<td>{{ reservation.client.infosVolResa ? reservation.client.infosVolResa.heureVolAller|date('d/m/Y') : "  " }}
								, Vol
								{{ reservation.client.infosVolResa ? reservation.client.infosVolResa.numVolAller : "   " }}
								à
								{{ reservation.client.infosVolResa ? reservation.client.infosVolResa.heureVolAller|date('H:i') : "   " }}</td>
						</tr>
						<tr>
							<td>Infos retour
							</td>
							<td>
								{{ reservation.client.infosVolResa ? reservation.client.infosVolResa.heureVolRetour|date('d/m/Y') : "  " }}
								, Vol
								{{ reservation.client.infosVolResa ? reservation.client.infosVolResa.numVolRetour : "   " }}
								à
								{{ reservation.client.infosVolResa ? reservation.client.infosVolResa.heureVolRetour|date('H:i') :  "   " }}
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			{# table droite #}
			<div class="autre_conducteur  ">
				<table id="autre_conducteur_table " style="width : 100%;" class=" table-border p-0 ">
					<tbody class="fs-12">
						<tr class="bg-danger text-center text-white">
							<td colspan="2">
								AUTRE(S) CONDUCTEURS
							</td>
						</tr>
						{% if reservation.conducteursClient|length == 0 %}
							<tr>
								<td>Nom</td>
								<td></td>
							</tr>
							<tr>
								<td>Prénom</td>
								<td></td>
							</tr>
							<tr>
								<td>Date/lieu de naissance</td>
								<td></td>
							</tr>
							<tr>
								<td>
									N°/Date de permis
								</td>
								<td></td>
							</tr>
							<tr>
								<td>
									Téléphone(s)
								</td>
								<td></td>
							</tr>
							<tr>
								<td>Nom</td>
								<td></td>
							</tr>
							<tr>
								<td>Prénom</td>
								<td></td>
							</tr>
							<tr>
								<td>Date/lieu de naissance</td>
								<td></td>
							</tr>
							<tr>
								<td>
									N°/Date de permis
								</td>
								<td></td>
							</tr>
							<tr>
								<td>
									Téléphone(s)
								</td>
								<td></td>
							</tr>
							<tr>
								<td colspan="2" class="bg-danger text-center text-white text-uppercase">Adresse en guadeloupe</td>
							</tr>
							<tr>
								<td colspan="2">
									<div class='text-white'>
										-
									</div>
								</td>
							</tr>
						{% else %}
							{% for conducteur in reservation.conducteursClient %}
								<tr>
									<td style="min-height: 5px">Nom</td>
									<td style="min-height: 5px">{{ conducteur.nom }}
									</td>
								</tr>
								<tr>
									<td>Prénom</td>
									<td>{{ conducteur.prenom }}
									</td>
								</tr>
								<tr>
									<td>Date/lieu de naissance</td>
									<td>{{ conducteur.dateNaissance|date('d/m/Y') }}
										à
										{{ conducteur.villeNaissance }}</td>
								</tr>
								<tr>
									<td>
										N°/Date de permis
									</td>
									<td>{{ conducteur.numeroPermis }}
										le
										{{ conducteur.dateDelivrance|date('d/m/Y') }}</td>
								</tr>

							{% endfor %}
							<tr>
								<td colspan="2" class="bg-danger text-center text-white text-uppercase">adresse en guadeloupe</td>
							</tr>
							<tr>
								<td colspan="2"></td>
							</tr>
						{% endif %}
					</tbody>
					{# </tbody> #}
				</table>
			</div>
			{# table contenant details voiture #}
			<div class="voiture">
				<table class="table-border" style="width : 100%">
					<tbody class="fs-12">
						<tr class="bg-danger">
							<td colspan="8" style="color : white" class="text-uppercase text-white bg-danger">Voiture</td>
						</tr>
						<tr>
							<td>Marque/Modèle</td>
							<td>{{ reservation.vehicule.marque }}
								{{ reservation.vehicule.modele }}
							</td>
							<td>Carburant</td>
							<td>{{ reservation.vehicule.carburation }}
							</td>
							<td>N° Immat.
							</td>
							<td>{{ reservation.vehicule.immatriculation }}</td>
							<td>Kilométrage</td>
							<td>
								départ :
								{{ reservation.vehicule.kmDepart }}
								Km, retour :
								{{ reservation.vehicule.kmRetour }}
								Km
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			{# etat interieur #}
			<div style="border : 1px solid black; margin-bottom : 2px; margin-top : 2px" class="bg-danger text-white text-uppercase fs-12">
				Etat intérieur
			</div>
			<div class="fs-10" style="border : 1px solid black; margin-bottom : 2px; padding:1px;">
				Sièges__________Console centrale tableau de bord:__________ Ciel de toit:__________ Garnitures intérieures:_____________
				<br>
				Revêtement de sol:__________ Coffre:__________ Portes__________
				<br>
				Légende intérieur:
				<strong>S</strong>
				sale -
				<strong>D</strong>
				déchiré -
				<strong>T</strong>
				troué -
				<strong>E</strong>
				endommagé -
				<strong>M</strong>
				manque -
				<strong>A</strong>
				autre dommage –
				<strong>RAS</strong>
				Rien à signaler
			</div>
			{# etat extérieur #}
			<div class="bg-danger text-white text-uppercase fs-12" style="border : 1px solid black; margin-bottom : 2px">
				Etat extérieur
			</div>
			<table class="table-border " style="width : 100%;">
				<tbody class="fs-12">
					<tr>
						<td colspan="4">
							Obsérvations de départ
						</td>
						<td colspan="5"></td>
						<td colspan="4">

							Obsérvations à l'arrivée
						</td>
					</tr>
					<tr>
						<td colspan="4"></td>
						<td colspan="5">
							<img src="{{ vehicule }}" alt="véhicule" width="400px" height="150px" type="images/png">
						</td>
						<td colspan="4"></td>
					</tr>

					<tr>
						<td colspan="4">Carburant au départ</td>
						<td>Pneus/Jantes</td>
						<td>AV gauche</td>
						<td>
							AV droite
						</td>
						<td>AR gauche</td>
						<td>AR droite
						</td>
						<td colspan="4">Carburant à l’arrivée</td>
					</tr>
					<tr class="text-center">
						<td rowspan="2">1/4
						</td>
						<td rowspan="2">1/2</td>
						<td rowspan="2">3/4</td>
						<td rowspan="2">1/1</td>
						<td>
							Marque
						</td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td rowspan="2">1/4</td>
						<td rowspan="2">1/2</td>
						<td rowspan="2">3/4
						</td>
						<td rowspan="2">1/1</td>
					</tr>
					<tr class="text-center">
						<td>
							Etat
						</td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
				</tbody>
			</table>
			<p class="fs-12 p-0 m-0">
				Légende extérieur:
				<strong>
					P
				</strong>
				projection de pierres -
				<strong>R</strong>
				rouille -
				<strong>A</strong>
				autre dommage -
				<strong>R</strong>
				rayure -
				<strong>C</strong>
				creux -
				<strong>D</strong>
				dégât accident -</p>


			<div
				class="prestations">
				{# prestations #}
				<table id="prestations_table" class="table-border" style="width : 100%">
					<tbody class="fs-12">
						<tr>
							<td class="bg-danger text-white text-center" colspan="2">PRESTATIONS</td>
						</tr>
						<tr>
							<td>location ({{ reservation.dateDebut|date('d/m') }}-{{ reservation.dateFin|date('d/m') }})</td>
							<td>
								{{ reservation.prix|number_format(2,","," ") }}€
							</td>
						</tr>
						<tr>
							<td>lavage (35.00€)</td>
							<td>
								{% for key in allOptions|keys %}
									{% if key == 'Lavage'  %}
										{{allOptions['Lavage']['prix']}}€
									{% else %}
										0€
									{% endif %}
								{% endfor %}
							</td>
						</tr>
						<tr>
							<td>Multi-conducteurs (50.00€)</td>
							<td>
								{% if reservation.conducteur %}
									50€
								{% else %}
									0€
								{% endif %}
							</td>
						</tr>
						<tr>
							<td>Refueling (80.00€)</td>
							<td>
								{% for key in allOptions|keys %}
									{% if key == 'Refueling'  %}
										{{allOptions['Refueling']['prix']}}€
									{% else %}
										0€
									{% endif %}
								{% endfor %}
							</td>
						</tr>
						<tr>
							<td>Siège auto (30.00€)</td>
							<td>
								{% for key in allOptions|keys %}
									{% if key == 'Siège bébé'  %}
										{{allOptions['Siège bébé']['prix']}}€
									{% else %}
										0€
									{% endif %}
								{% endfor %}
							</td>
						</tr>
						<tr>
							<td>Siège nourisson (30.00€)</td>
							<td>
								{% for key in allOptions|keys %}
									{% if key == 'Siège nourrisson'  %}
										{{allOptions['Siège nourrisson']['prix']}}€
									{% else %}
										0€
									{% endif %}
								{% endfor %}
							</td>
						</tr>
						<tr>
							<td>Garantie bris de glace et pneus</td>
							<td>
								{% for key in allGaranties|keys %}
									{% if key == 'garantie bris de glace & pneus'  %}
										{{allGaranties['garantie bris de glace & pneus']['prix']}}€
									{% else %}
										0€
									{% endif %}
								{% endfor %}
							</td>
						</tr>
						<tr>
							<td>Assistance esprit tranquille</td>
							<td>
								{% for key in allGaranties|keys %}
									{% if key == 'assistance esprit tranquille'  %}
										{{allGaranties['assistance esprit tranquille']['prix']}}€
									{% else %}
										0€
									{% endif %}
								{% endfor %}
							</td>
						</tr>
						<tr>
							<td>Assurance premium</td>
							<td>
								{% for key in allGaranties|keys %}
									{% if key == 'assistance premium'  %}
										{{allGaranties['assistance premium']['prix']}}€
									{% else %}
										0€
									{% endif %}
								{% endfor %}
							</td>
						</tr>
						<tr>
							<td>
								<strong>Total TTC</strong>
							</td>
							<td></td>
						</tr>
						<tr>
							<td>
								<strong>ACOMPTE</strong>
							</td>
							<td></td>
						</tr>
						<tr>
							<td>
								<strong>RESTE A PAYER</strong>
							</td>
							<td></td>
						</tr>
						<tr>
							<td>
								<strong>CAUTION</strong>
							</td>
							<td>
								<strong>800€</strong>
							</td>
						</tr>
					</tbody>
				</table>
				<div class="fs-12">
					<span class="d-inline-block-bottom p-2">
						Espèce</span>
					<div class="d-inline-block-bottom">
						<input type="checkbox" class="p-0 m-0">
					</div>
					<div class="d-inline-block-bottom p-2">
						CB
					</div>
					<div class="d-inline-block-bottom">
						<input type="checkbox" class="p-0 m-0">
					</div>
					<div class="d-inline-block-bottom p-2">
						Chèque Vacances
					</div>
					<div class="d-inline-block-bottom">
						<input type="checkbox" class="p-0 m-0">
					</div>
					<div class="d-inline-block-bottom p-2">
						Chèque
					</div>
					<div class="d-inline-block-bottom">
						<input type="checkbox" class="p-0 m-0">
					</div>
					<div class="d-inline-block-bottom p-2">
						Virement
					</div>
					<div class="d-inline-block-bottom">
						<input type="checkbox" class="p-0 m-0">
					</div>
					<br>

					Aucune location est remboursable. Létat des lieux du véhicule est réalisé sur véhicule propre intérieur et extérieur
				</div>
			</div>
			<div
				class="recu_depot">
				{# RECU DE DEPOT CAUTION ET FRANCHISE #}
				<table id="recu_depot_table" class="table-border " style="width : 100%">
					<tbody class="fs-12">
						<tr>
							<td class="bg-danger text-white text-center">
								RECU DE DEPOT CAUTION ET FRANCHISE
							</td>
						</tr>
						<tr>
							<td style="padding:1px;">
								Je soussignée___
								<strong>
									{{ reservation.client.nom }}
									{{ reservation.client.prenom }}
								</strong>___autorise la société Joellocation a prélevé sur mon compte à l'aide de l'empreinte de ma carte bancaire, le montant de la franchise ou caution du présent contrat ceci en cas d'accident responsable, de vol, tentative de vol ou dommage occasionné au véhicule loué.
							</td>
						</tr>
					</tbody>
				</table>
				{# table dessous table recu de depot #}
				<table id="recap_table" class="table-border" style="width : 100%">
					<tbody class="fs-12"></tbody>
					<tbody class="fs-12">
						<tr>
							<td>Date départ</td>
							<td>{{ reservation.dateDebut|date('d/m/Y H:i') }}</td>
							<td>Date retour</td>
							<td>{{ reservation.dateFin|date('d/m/Y H:i') }}</td>
						</tr>
						<tr>
							<td>JOELLOCATION</td>
							<td></td>
							<td>JOELLOCATION</td>
							<td></td>
						</tr>
						<tr>
							<td>Locataire (lu et apprové)</td>
							<td></td>
							<td>Locataire</td>
							<td></td>
						</tr>
					</tbody>
				</table>
				<table>
					<tbody>
						<tr>
							<td class="fs-12">
								Le locataire déclare adhérer à toutes les conditions générales de location
							</td>

						</tr>
					</tbody>
				</table>
			</div>
		</section>
		<section id="footer" style="left : 0" class="bg-danger">
			<div class=" text-white text-center fs-12 ">
				<div>
					SIRET : 87868990000016-APE: 7711A
					<br>
					N°TVA FR40878689900
					<br>
					www.joellocation.com
				</div>
			</div>
		</section>
	</body>
</html>
