<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Facture</title>
		<!-- Bootstrap -->
		<link
		href="{{ asset( 'admin/vendors/bootstrap/dist/css/bootstrap.min.css') }}" rel="stylesheet">
		<!-- Font Awesome -->
		<link href="{{ asset( 'admin/vendors/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet">
		<style>

			* {
				padding: 0;
				margin: 0;
			}

			#body {
				margin: 40px;
			}
			#footer {
				position: absolute;
				bottom: 0;
				width: 100%;
				padding: 10px;
			}

			/*table recapitulatif*/
			#recap_table tr td {
				padding: 3px;
			}

			#montant tr td {
				padding: 3px;
			}

			.table-bordered th,
			.table-bordered td {
				border: 1px solid #dee2e6 !important;
			}

			.logo {

				display: inline-block;
				vertical-align: top;
				/* width: 350px; */

			}
			.joellocation {
				font-family: 'Arial', sans-serif;
				font-size: 16px;
				line-height: 1.5;
				color: #333;
				margin-bottom: 1em;
			}

			.adresse {
				display: inline-block;
				vertical-align: top;
				padding-left: 300px;

			}

			.details_facture {

				display: inline-block;
				vertical-align: top;
				padding-top: 50px;
				/* width: 350px; */

			}

			.details_client {
				display: inline-block;
				vertical-align: top;
				padding-left: 200px;
				padding-top: 50px;
			}

			.conditions_reglement {

				display: inline-block;
				vertical-align: top;
				padding-top: 50px;

			}

			.table1 {
				;
				/* display: inline-block;
				vertical-align: top; */
				/* margin-right: -97px; */
			}

			.table-border {

				border-collapse: collapse;
				border: 1px solid black;
			}

			.table-border td {

				border-collapse: collapse;
				border: 1px solid black;
			}

			.text-white {
				color: #fff !important;
			}

			.bg-danger {
				background-color: red !important;
			}

			.bg-pink {
				background-color: #faf2f0 !important;

			}

			.p-0 {
				padding: 0 !important;
			}

			.m-0 {
				margin: 0 !important;
			}

			.p-2 {
				padding: 2px !important;
			}

			.m-2 {
				margin: 2px !important;
			}

			.text-center {
				text-align: center !important;
			}

			.text-right {
				text-align: right !important;
			}

			.fs-10 {
				font-size: 10px;
			}

			.fs-12 {
				font-size: 12px;
			}

			.text-uppercase {
				text-transform: uppercase !important;
			}
			.d-flex {
				display: -ms-flexbox !important;
				display: flex !important
			}
			.mr-auto,
			.mx-auto {
				margin-right: auto !important
			}

			#note {
				margin-top: 50px;
			}
			.bold {
				font-weight: bolder;
			}
			.condition-montants {
				width: 100%;
				position: relative;
				overflow: visible;
			}

			.conditions_reglement {
				/* width: 55%; */
				display: inline-block;
				vertical-align: top;
			}

			.table1 {
				/* width: 40%; */
				vertical-align: top;
				position: absolute;
				top: 0;
				right: 0 !important;
				min-height: 100%;
			}
		</style>
	</head>
	<body>
		<section>
			<div class="entete"><img src="{{ entete }}" alt="entete" width="800px" height="40px" type="images/png"></div>
		</section>
		<section
			id="body">

			{# logo et adresse #}
			<div class="logo"><img src="{{ logo }}" alt="logo" width="auto" height="80px" type="images/png"></div>
			<div class="adresse">
				<strong class="joellocation">JOELLOCATION</strong>
				<br>
				94 Chemin de la hache<br>
				97160 Le Moule (Guadeloupe)
				<br>
				Tél: 0690737674 / 0767321447<br>
				Email: joel@joellocation.com<br>
				Num TVA Intra : FR40878689900<br>
				Site : joellocation.com
			</div>
			<br>
			<div class="details_facture">
				<strong>Facture N°
					{{numeroFacture}}</strong><br>
				Date de création :
				{{createdAt|date('d/m/Y')}}
				<br>
				Date d'échéance :
				{{reservation.dateDebut|date('d/m/Y')}}

				<br>
				{% if devis is defined and devis is not null %}
					Devis associé:
					{{ devis.numero }}
				{% endif %}
			</div>
			<div class="details_client">
				<strong>
					<span>
						{{ reservation.client.sexe ? reservation.client.sexe : "" }}
					</span>
					{{ reservation.client.nom | upper }}
					{{ reservation.client.prenom | upper }}</strong>
				<br>
				{{ reservation.client.adresse }}
				{% if reservation.client.complementAdresse %}
					<br>
					{{ reservation.client.complementAdresse }}
				{% endif %}
				<br>
				{{ reservation.client.ville }}

			</div>
			<div style="margin-top: 20px; margin-bottom: 10px" class="">
				<strong>Objet :
				</strong>
				Location
				<strong>
					{{ reservation.vehicule.marque }}
					{{ reservation.vehicule.modele }}
				</strong>
				du
				{{ reservation.dateDebut|date('d/m/Y H:i') }}
				au
				{{ reservation.dateFin|date('d/m/Y H:i') }}. KM illimités
				{# table gauche droite, info client et conducteurs #}
			</div>
			<div class="">
				<table id="recap_table" class=" p-0 " style="width : 100%;">
					<thead class="bg-danger text-white">
						<tr>
							<th>Désignation</th>
							<th>Qté</th>
							<th>Prix U.</th>
							<th>Prix HT</th>
							<th>TTC</th>
						</tr>
					</thead>
					<tbody>
						<tr class="bg-pink">

							<td>
								{{ reservation.vehicule.marque }}
								{{ reservation.vehicule.modele }}
								<br>
								Location de véhicule pour
								{{ reservation.duree }}
								{%  if reservation.duree == 1 %}
									jour.
								{% else %}
									jours.
								{% endif %}
								<br>
								Retrait le
								{{ reservation.dateDebut|date('d/m/Y') }}. Lieu :
								{{ reservation.agenceDepart }}.
								<br>
								Retour le
								{{ reservation.dateFin|date('d/m/Y') }}. Lieu :
								{{ reservation.agenceRetour }}.
							</td>
							{% set taxMultiplier = 1 + taxe %}
							<td class="text-right">{{ reservation.duree }}j</td>

							<td class="text-right p-5">{{ ((tarifVehiculeTTC / taxMultiplier) / reservation.duree)|number_format(2,","," ") }}</td>
							<td class="text-right p-5">{{ (tarifVehiculeTTC / taxMultiplier)|number_format(2,","," ") }}</td>
							<td class="text-right p-5">{{ (tarifVehiculeTTC)|number_format(2,","," ") }}</td>

							{# <td class="text-right">{{ (prixUnitHT)|number_format(2,","," ") }}</td>
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																	<td class="text-right">{{ (prixHT)|number_format(2,","," ")}}</td>
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																	<td class="text-right">{{ (prixTTC)|number_format(2,","," ") }}</td> #}
						</tr>
						{% for frais in frais %}
							<tr class="bg-pink">
								<td>
									{{ frais.description }}
								</td>
								<td class="text-right">{{ frais.quantite }}j</td>
								<td class="text-right">{{ frais.prixUnitaire|number_format(2,","," ") }}</td>
								<td class="text-right">{{ frais.totalHT|number_format(2,","," ") }}</td>
								<td class="text-right">{{ (frais.totalHT + ( frais.totalHT * taxe))|number_format(2,","," ") }}</td>
							</tr>
						{% endfor %}
						{% if reservation.conducteur %}
							<tr class="bg-pink">
								<td class="p-5">
									Conducteur additionnel
								</td>
								<td class="text-right p-5">1</td>
								{# prix ht unitaire #}
								<td class="text-right p-5">{{ (prixConductTTC / taxMultiplier  )|number_format(2,","," ") }}</td>
								<td class="text-right p-5">{{ (prixConductTTC / taxMultiplier  )|number_format(2,","," ") }}</td>
								<td class="text-right p-5">{{ (prixConductTTC)|number_format(2,","," ") }}</td>
							</tr>
						{% endif %}
						{# {% for option in reservation.options %}
																			<tr class="bg-pink">
																				<td class="p-5">
																					{{ option.appelation }}
																				</td>
																				<td class="text-right p-5">1</td>
																				<td class="text-right p-5">{{ (option.prix / taxMultiplier  )|number_format(2,","," ") }}</td>
																				<td class="text-right p-5">{{ (option.prix / taxMultiplier  )|number_format(2,","," ") }}</td>
																				<td class="text-right p-5">{{ (option.prix)|number_format(2,","," ") }}</td>
																			</tr>
																		{% endfor %} #}

						{% for option in reservation.devisOptions %}
							<tr class="bg-pink">
								<td class="p-5">
									{{ option.opt.appelation }}
								</td>
								<td class="text-right p-5">{{option.quantity}}</td>
								<td class="text-right p-5">{{ ((option.opt.prix * option.quantity) / taxMultiplier)|number_format(2,","," ") }}</td>
								<td class="text-right p-5">{{ ((option.opt.prix * option.quantity) / taxMultiplier)|number_format(2,","," ") }}</td>
								<td class="text-right p-5">{{ (option.opt.prix * option.quantity)|number_format(2,","," ") }}</td>
							</tr>
						{% endfor %}

						{% for garantie in reservation.garanties %}
							<tr class="bg-pink">
								<td class="p-5">
									{{ garantie.appelation }}
								</td>
								<td class="text-right p-5">1</td>
								<td class="text-right p-5">{{ (garantie.prix - (garantie.prix * taxe))|number_format(2,","," ") }}</td>
								<td class="text-right p-5">{{ (garantie.prix - (garantie.prix * taxe))|number_format(2,","," ") }}</td>
								<td class="text-right p-5">{{ (garantie.prix)|number_format(2,","," ") }}</td>
							</tr>
						{% endfor %}

					</tbody>
				</table>

			</div>


			{# logo et adresse #}
			<div class="condition-montants ">

				<div class="conditions_reglement ">
					<strong>
						Conditions de règlement
					</strong><br>
					Aucun escompte n'est consenti pour règlement anticipe.
					<br>
					Tout incident de paiement est passible d'intérêt de retard.<br>
					Le montant des pénalités résulte de l'application
					<br>
					aux sommes restant dues d'un taux d'intérêt légal en
					<br>
					vigueur au moment de l'incident.<br>
					L'indemnité forfaitaire pour frais
					<br>de recouvrement due au créancier en cas de retard
					<br>de paiement est de 80EUR.</div>

				<div class="table1 ">
					<table id="montant">
						<tr class="bg-pink">
							<td>Montant HT</td>
							<td class="text-right">{{ (prixTotalHT) |number_format(2,","," ") }}€</td>
						</tr>
						<tr>
							<td>Total TVA 8.5 %</td>
							<td class="text-right">{{ (prixTaxeTotal)|number_format(2,","," ")  }}€</td>
						</tr>
						<tr class="bg-danger text-white">
							<td>Total TTC</td>
							<td class="text-right">{{ (prixTotalTTC)|number_format(2,","," ") }}€</td>
						</tr>

						{% for paiement in reservation.paiements %}
							<tr class="bg-pink">
								<td>Paiement par
									{{ paiement.modePaiement.libelle }}
									<br>
									le
									{{ paiement.datePaiement|date('d/m/Y') }}
								</td>
								<td class="text-right">
									{{ paiement.montant|number_format(2,","," ") }}
									€
								</td>
							</tr>
						{% endfor %}
						<tr class="bg-danger text-white">
							<td>Reste à payer</td>
							<td class="text-right">
								{{ ((prixTotalTTC) - reservation.sommePaiements)|number_format(2,","," ") }}€
							</td>
						</tr>
					</table>
				</div>
			</div>

			<div id="note">
				<strong>
					Note
				</strong>
				<br>
				Merci pour votre aimable règlement.
				<br>
				Au plaisir de vous revoir à nouveau.
			</div>
			<br>
		</section>

		<section id="footer" class="bg-danger">
			<div class=" text-white text-center fs-12">
				<div style="">
					SIRET : 87868990000016-APE: 7711A
					<br>
					N°TVA FR40878689900
					<br>
					joellocation.com
				</div>
			</div>
		</section>
	</body>
</html>
