{% extends 'base2.html.twig' %}

{% block title %}Emails
{% endblock %}

{% block stylesheets %}
	<!-- Datatables -->
	{% include "admin/_parts/datatables/css.html.twig" %}

{% endblock %}
{% block current_page %}
	<h2>
		<i class="fa fa-shopping-cart"></i>
		Emails
	</h2>
{% endblock %}
{% block content %}
	<div class="x_panel">

		<div class="x_content">
			<table id="datatable" class="table table-striped table-bordered" style="width:100%">
				<thead class="text-uppercase bg-dark text-white text-center">
					<tr>
						<th>date</th>
						<th>prenom</th>
						<th>nom</th>
						<th class="">objet</th>
						<th>adresse email</th>
						<th class="">status</th>
					</tr>
				</thead>

				<tbody>
					{% for email in emails %}
						<tr>
							<td>{{email.dateReception|date('d/m/Y H:i')}}</td>
							<td>{{email.prenom}}</td>
							<td>{{email.nom}}</td>
							<td>{{email.objet}}</td>
							<td>{{email.mail}}</td>
							<td>
								{% if email.contenu == 'success' %}
									<span class="badge badge-success">{{ email.contenu }}</span>
								{% else %}
									<span class="badge badge-danger">{{ email.contenu }}</span>
								{% endif %}
							</td>

						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
{% endblock %}
{% block javascripts %}
	<!-- Datatables -->
	{% include "admin/_parts/datatables/js.html.twig" %}
{% endblock %}
