{% extends 'base2.html.twig' %}

{% block title %}devis Clients
{% endblock %}

{% block content %}
	<h1>devis</h1>

	<table class="table">
		<tbody>
			<tr>
				<th>client</th>
				<td>{{ devis.client }}</td>
			</tr>
			<tr>
				<th>Véhicule</th>
				<td>{{ devis.vehicule }}</td>
			</tr>
			<tr>
				<th>Date Départ</th>
				<td>{{ devis.dateDepart ? devis.dateDepart|date('d-m-Y H:i') : '' }}
				</td>
			</tr>
			<tr>
				<th>Date Retour</th>
				<td>{{ devis.dateRetour ? devis.dateRetour|date('d-m-Y H:i') : '' }}
				</td>
			</tr>
			<tr>
				<th>Agence Départ</th>
				<td>{{ devis.agenceDepart }}</td>
			</tr>
			<tr>
				<th>Agence Retour</th>
				<td>{{ devis.agenceRetour }}</td>
			</tr>
		</tbody>
	</table>

	<a href="{{ path('devis_index') }}" class="btn btn-dark">
		<i class="fa fa-arrow-left" aria-hidden="true"></i>
		retour</a>
	{% if is_granted("ROLE_ADMIN") %}
		<a href="{{ path('devis_edit', {'id': devis.id}) }}" class="btn btn-success">
			<i class="fa fa-book" aria-hidden="true"></i>
			Modifier</a>
	{% endif %}
	{% if is_granted("ROLE_ADMIN") %}
		{{ include('admin/devis/_delete_form.html.twig') }}
	{% endif %}


{% endblock %}
