{% extends 'base2.html.twig' %}

{% block title %}Echec de paiement
{% endblock %}


{% block stylesheets %}
	<!-- Datatables -->
	{% include "admin/_parts/datatables/css.html.twig" %}

{% endblock %}

{% block current_page %}
	<h2>
		<i class="fa fa-shopping-cart"></i>
		Réservations
	</h2>

{% endblock %}
{% block content %}
	<!-- top tiles -->
	<div class="x_panel">
		<div class="x_title">
			<h2>
				<i class="fa fa-shopping-cart"></i>
				Liste des réservations
			</h2>

			<div class="clearfix"></div>
		</div>
		<div class="x_content">
			<div class="row">
				<div class="col-sm-12">
					<div class="card-box table-responsive">

						<table id="datatable" class="table table-striped table-bordered" style="width:100%">
							<thead>
								<tr>
									<th>PAIEMENT</th>
									<th class="">DATE CREATION</th>
									<th>CLIENT</th>
									<th class="">RESERVATION/VEHICULE</th>
									<th class="">DATES / DUREES</th>
									<th>PRIX</th>
									<th>CODE</th>
									<th>ACTION</th>
								</tr>
							</thead>


							<tbody>
								{% for reservation in reservations %}

									<tr>
										<td class="text-center">
											<div class="">
												<span class="badge badge-danger p-2">NOT</span>
											</div>

										</td>
										<td>{{ reservation.dateReservation|date('d/m/Y H:i') }}</td>
										<td>{{reservation.client.nom}}</td>
										<td>
											{{reservation.reference}}
											<br>
											{{ reservation.vehicule.marque}}
											{{ reservation.vehicule.modele}}
											<br>
											{{ reservation.vehicule.immatriculation}}</td>
										<td class="text-center">{{  reservation.dateDebut|date('d-m-Y H:i')  }}
											<br>
											<span class="font-italic text-center">{{reservation.duree}}
												jours</span>
										</td>
										<td>{{reservation.prix|number_format(2,","," ")}}
											€</td>
										<td></td>
										<td class="text-center">
											<a href="{{ path('echec_paiement_show', {'id':reservation.id}) }}">
												<i class=" fa fa-info-circle" style="font-size: 2em !important;"></i>
											</a>
										</td>
									</tr>
								{% endfor %}

							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block javascripts %}

	<!-- Datatables -->
	{% include "admin/_parts/datatables/js.html.twig" %}
	<script src="{{asset('js/admin/datatable.fr.js')}}"></script>

	<script></script>

{% endblock  %}
