{% extends 'baseClient.html.twig' %}

{% block title %}page client
{% endblock %}
{% block stylesheets %}{% endblock %}
{% block body %}
	<div class="x_panel">
		<h4 class="mb-0 pb-0">Mes informations</h4>
		<div class="clearfix"></div>
		<div class="x_title"></div>
		<div class="row">
			<div class="form-group col-md-6">
				<label for="">Nom :</label>
				<input readonly class="form-control" value="{{client.nom}}">
			</div>
			<div class="form-group col-md-6">
				<label for="">Prénom :</label>
				<input readonly class="form-control" value="{{client.prenom}}">

			</div>

			<div class="form-group col-md-6">
				<label for="">Adresse email :</label>
				<input readonly class="form-control" value="{{client.mail}}">

			</div>
			<div class="form-group col-md-3">
				<label for="">Téléphone 1:</label>
				<input readonly class="form-control" value="{{client.telephone}}">

			</div>
			<div class="form-group col-md-3">
				<label for="">Téléphone 2 :</label>
				<input readonly class="form-control" value="{{client.portable}}">

			</div>

			<div class="form-group col-md-6">
				<label for="">Adresse :</label>
				<input readonly class="form-control" value="{{client.adresse}}">

			</div>
			<div class="form-group col-md-6">
				<label for="">Complément adresse :</label>
				<input readonly class="form-control" value="{{client.complementAdresse}}">

			</div>

			<div class="form-group col-md-3">
				<label for="">Ville :</label>
				<input readonly class="form-control" value="{{client.ville}}">

			</div>
			<div class="form-group col-md-3">
				<label for="">Code postal :</label>
				<input readonly class="form-control" value="{{client.codePostal}}">

			</div>

			<div class="form-group col-md-6">
				<label for="">Date de naissance :</label>
				<input readonly class="form-control" value="{{client.dateNaissance|date('d/m/Y')}}">

			</div>
			<div class="form-group col-md-6">
				<label for="">Lieu de naissance :</label>
				<input readonly class="form-control" value="{{client.lieuNaissance}}">

			</div>
			<div class="form-group col-md-6">
				<label for="">Numero permis :</label>
				<input readonly class="form-control" value="{{client.numeroPermis}}">

			</div>
			<div class="form-group col-md-6">
				<label for="">Date permis :</label>
				<input readonly class="form-control" value="{{client.datePermis|date('d/m/Y')}}">

			</div>

			<div class="form-group col-md-6">
				<label for="">Ville délivrance permis :</label>
				{# {{form_label('test')}} #}
				<input readonly class="form-control" value="{{client.villeDelivrancePermis}}">
			</div>
		</div>

		<div class="text-center">
			<a href="{{ path('infoclient_edit', {'id': id}) }}" id="editInfosClient" class="btn btn-danger " title="Modifiers mes informations">
				<i class="fa  fa-edit (alias)"></i>
				Modifier
			</a>
		</div>
	</div>

	<div class="x_panel">
		<div id="accordion">
			<div class="">
				<div class="" id="headingOne">
					<h5 class="mb-0">
						<button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
							<h4 class="mb-0 pb-0">
								<i class="fa fa-user"></i>
								Mon compte
							</h4>
						</button>
						<div class="clearfix"></div>
						<div class="x_title"></div>
					</h5>
				</div>

				<div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
					<div class="card-body">
						<div class="col-lg-8 col-md-8 ml-auto mr-auto">
							{{ form_start(formClientCompte) }}

							{{form_widget(formClientCompte)}}
							<div class="text-center mt-3">
								<button class="btn btn-danger">
									<i class="fa fa-book" aria-hidden="true"></i>
									{{ button_label|default('Valider') }}
								</button>
							</div>
							{{ form_end(formClientCompte) }}
						</div>
					</div>
				</div>
			</div>
		</div>


	{% endblock %}
	{% block javascripts %}

		<script src="{{asset('js/client/compteClient.js')}}"></script>

		{# js pour pop-up btn ... #}
		<script src="{{ asset('js/admin/pop-up/infos-client.js') }}"></script>

	{% endblock %}
