{% extends 'baseClient.html.twig' %}

{% block title %}Réservation
{% endblock %}


{% block stylesheets %}
	<link rel="stylesheet" href="{{asset('css/client/steps.css')}}">
	<link href="{{asset('css/admin/details_vehicule.css')}}" rel="stylesheet">
	<link href="{{asset('css/admin/vente_comptoir.css')}}" rel="stylesheet">

{% endblock %}
{% block current_page_right %}

	<div class="row">
		<div class="col-md-3 text-center">
			<i class="fa fa-check-circle-o icon-steps "></i>
			<p class="">
				Etape 1
				<br>
				Agences & Dates
			</p>

		</div>
		<div class="col-md-3 text-center">
			<i class="fa fa-check-circle-o icon-steps "></i>
			<p>
				Etape 2
				<br>
				Véhicules
			</p>
		</div>
		<div class="col-md-3 text-center current-step">
			<i class="fa fa-circle icon-steps "></i>
			<p>
				Etape 3
				<br>
				Options et garanties
			</p>
		</div>
		<div class="col-md-3 text-center">
			<i class="fa fa-circle-o icon-steps "></i>
			<p>
				Etape 4
				<br>
				Récapitulatif
			</p>
		</div>
	</div>
{% endblock %}

{% block body %}

	<div class="text-center mb-3">
		<a href="{{path('client_step2')}}" class="btn btn-dark">Revenir à l'étape précédente</a>
		<button type='submit' class="btn btn-danger btnEnregistrer" form="options_garanties" id="btnEnregistrer1">
			Enregistrer
		</button>
	</div>

	<form action="{{path('client_step3')}}" method='post' id="options_garanties">

		<div class="row">
			<div class="col-md-3">
				<div class="card p-2 h-100">
					<div class="x_title">
						<h3>
							<i class="fa fa-chevron-right"></i>
							Votre réservation
						</h3>
					</div>
					<img src="{{vich_uploader_asset(vehicule, 'imageFile') }}" alt="{{vehicule.marque}} {{vehicule.modele}}" style="width:100%;" id="vehicule_photo">

					<div>
						<div class="border-bottom mb-2">

							<h3 class="heading">Agence départ
							</h3>
							<div class="content_depart">
								<p>
									<i class="fa fa-map-marker"></i>
									<span id="agence_depart">{{agenceDepart}}</span><br>
									<span id="date_depart">{{dateDepart | date('d/m/Y') }}</span>
									<span id="heure_depart">
										{{dateDepart | date('H:i') }}</span>
								</p>
							</div>
						</div>
						<div class="border-bottom mb-2">
							<h3 class="heading">Agence retour
							</h3>
							<div class="content_retour">
								<p>
									<i class="fa fa-map-marker"></i>
									<span id="agence_retour">{{agenceRetour}}</span><br>
									<span id="date_retour">{{dateRetour | date('d/m/Y')}}</span>
									<span id="heure_retour">{{dateRetour | date('H:i')}}</span>
								</p>
							</div>
						</div>
						<div class="border-bottom mb-2">
							<p>
								Soit
								<span id="nombre_jours_location">{{duree}}</span>
								jours de location</p>

							<h3 class="heading">Prix de base de location</h3>
							<div class="prix_location">
								<span id="prixTotal">{{ tarifVehicule|number_format(2,","," ") }}</span>
								€<br>
								soit
								<span id="prixJournalier">{{ (tarifVehicule / duree)  |number_format(2,","," ")}}</span>
								€/jour
							</div>
						</div>
						<div class="border-bottom mb-2">

							<div class="prestation">
								<h3 class="heading">Prestations incluses</h3>
								<ul class="pl-2">
									<li>
										<i class="fa fa-check"></i>
										Kilométrage Illimité
									</li>
									<li>
										<i class="fa fa-check"></i>
										Assurance accidents causés aux tiers
									</li>
									<li>
										<i class="fa fa-check"></i>
										Assurance responsabilité civile
									</li>
									<li>
										<i class="fa fa-check"></i>
										Assurance collision (CDW)
									</li>
									<li>
										<i class="fa fa-check"></i>
										TVA 8.5 %
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-9">
				<div class="x_panel">
					<h3>
						<i class="fa fa-chevron-right"></i>
						Choisir vos options
					</h3>
					<div class="x_title"></div>

					<div class="row">
						<div class="col-md-6">
							<div class="row">
								<div class="col-md-4">
									<div class="alert alert-secondary h-100">
										<img src="" alt="" style="width:100%;" id="vehicule_photo">

									</div>
								</div>
								<div class="col-md-8">
									<div class="x_title">
										<h4>
											Conducteur additionnel
										</h4>

									</div>
									<p class="text-justify">
										A Joel Location, nous savons que les longs trajets peuvent être fatigants, surtout après un bon bain de mer. C’est pour cela, que nous vous proposons l’ajout d’un deuxième conducteur gratuitement. De plus, les assurances responsabilités civiles et accidents causés aux tiers sont inclus dans votre forfait "location de voiture".
									</p>

									<div class="row">
										<div class="col-auto">
											<label class="label-conducteur">Oui (50€)
												<input type="radio" checked name="radio-conducteur" value="true">
												<span class="checkmark-conducteur"></span>
											</label>
										</div>
										<div class="col-auto">
											<label class="label-conducteur">Non
												<input type="radio" name="radio-conducteur" value="false">
												<span class="checkmark-conducteur"></span>
											</label>
										</div>
									</div>

									{# fin incrementer #}
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="row">
								<div class="col-md-4">
									<div class="alert alert-secondary btn-block h-100">
										<img src="" alt="" style="width:100%;" id="vehicule_photo">
									</div>
								</div>
								<div class="col-md-8">
									<div class="x_title">
										<h4>
											Siège bébé / enfant
										</h4>
									</div>
									<p class="text-justify">Nous mettons à votre disposition des sièges bébé et nourrissons, homologués NF, pour seulement 30 euros TTC. Les rehausseurs pour les enfants de + de 15kg sont totalement gratuits !</p>
									{# test radio #}
									{% for option in options %}
										{% if option.type == "siège" %}

											<label class="label-container">
												{{option.appelation}}
												{% if option.prix != 0  %}
													:
													{{option.prix|number_format(2,","," ")}}€
												{% endif %}
												<input type="checkbox" name="checkboxOptions[]" value="{{option.id}}">
												<span class="checkmark"></span>
											</label>

										{% endif %}
									{% endfor %}
									{# fin incrementer #}
								</div>
							</div>
						</div>

						{# nouvelles options #}
						{% for option in options  %}
							{% if option.type != "siège" %}
								{# refueling #}
								<div class="col-md-6 p-2">
									<div class="row">
										<div class="col-md-4">
											<div class="alert alert-secondary h-100">
												<img src="" alt="" style="width:100%;">
											</div>
										</div>
										<div class="col-md-8">
											<div class="x_title">
												<h5>
													{{option.appelation}}
												</h5>
											</div>
											<p>
												{{option.description|raw}}
											</p>
											<div class="col-auto">
												<label class="label-container">{{option.appelation}}
													:
													{{option.prix|number_format(2,","," ")}}
													€
													<input type="checkbox" name="checkboxOptions[]" value="{{option.id}}">
													<span class="checkmark"></span>
												</label>
											</div>
										</div>
									</div>
								</div>

							{% endif %}
						{% endfor %}

						{# fin nouvelles options #}

					</div>
				</div>

				<div class="x_panel">

					<h3>
						<i class="fa fa-chevron-right"></i>
						Choisissez vos garanties
					</h3>
					<div class="row">
						{% for garantie in garanties %}
							<div class="col-md-6">
								<div class="row">
									<div class="col-md-4">
										<div class="alert alert-secondary h-100">
											<img src="" alt="" style="width:100%;" id="vehicule_photo">

										</div>
									</div>
									<div class="col-md-8">
										<div class="x_title">
											<h4>
												{{garantie.appelation}}
											</h4>
										</div>
										<p class="text-justify">
											{{garantie.description}}
										</p>
										<div
											class="row">
											{# <div class="col-auto p-0"><label class="label-container">90€<input type="checkbox" checked="checked"><span class="checkmark"></span></label></div> #}

											<label class="label-container">{{garantie.prix|number_format(2,","," ")}}
												€
												<input type="checkbox" name="checkboxGaranties[]" value="{{garantie.id}}">
												<span class="checkmark"></span>
											</label>
										</div>
									</div>
								</div>
							</div>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
	</form>
	<div class="text-center mt-3">
		<a href="{{path('client_step2')}}" class="btn btn-dark">Revenir à l'étape précédente</a>
		<button type='submit' class="btn btn-danger" form="options_garanties" id="btnEnregistrer2">
			Enregistrer
		</button>
	</div>

{% endblock %}
{% block javascripts %}

	<script src="{{asset('js/client/step3.js')}}"></script>
{% endblock  %}
