<div class="row">
	<div class="col-md-3">
		<div class="alert alert-secondary btn-block h-100">
			<div class="x_title">
				<h3>
					<i class="fa fa-chevron-right"></i>
					Votre réservation
				</h3>
			</div>
			<img src="" alt="" style="width:100%;" id="vehicule_photo">

			<div>
				<h3 class="heading">Agence départ
				</h3>
				<div class="content_depart">
					<p>
						<i class="fa fa-map-marker"></i>
						<span id="agence_depart"></span><br>
						<span id="date_depart"></span>
						<span id="heure_depart"></span>
					</p>
				</div>
				<h3 class="heading">Agence retour
				</h3>
				<div class="content_retour">
					<p>
						<i class="fa fa-map-marker"></i>
						<span id="agence_retour"></span><br>
						<span id="date_retour"></span>
						<span id="heure_retour"></span>
					</p>
				</div>
				<p>
					Soit
					<span id="nombre_jours_location"></span>
					jours de location</p>

				<h3 class="heading">Prix de base de location</h3>
				<div class="prix_location">
					<span id="prixTotal"></span>EUR<br>
					soit
					<span id="prixJournalier"></span>euro/jour
				</div>
				<div class="prestation">
					<h3 class="heading">Prestations incluses</h3>
					<ul class="pl-2">
						<li>
							<i class="fa fa-check"></i>
							Kilométrage Illimité
						</li>
						<li>
							<i class="fa fa-check"></i>
							Assurance accidents causés aux tiers
						</li>
						<li>
							<i class="fa fa-check"></i>
							Assurance responsabilité civile
						</li>
						<li>
							<i class="fa fa-check"></i>
							Assurance collision (CDW)
						</li>
						<li>
							<i class="fa fa-check"></i>
							TVA 8.5 %
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-9">
		<h3>
			<i class="fa fa-chevron-right"></i>
			Choisir vos options
		</h3>

		<div class="row">
			<div class="col-md-6">
				<div class="row">
					<div class="col-md-4">
						<div class="alert alert-secondary h-100">
							<img src="" alt="" style="width:100%;" id="vehicule_photo">

						</div>
					</div>
					<div class="col-md-8">
						<div class="x_title">
							<h4>
								Conducteur additionnel
							</h4>

						</div>
						<p>
							A Joel Location, nous savons que les longs trajets peuvent être fatigants, surtout après un bon bain de mer. C’est pour cela, que nous vous proposons l’ajout d’un deuxième conducteur gratuitement. De plus, les assurances responsabilités civiles et accidents causés aux tiers sont inclus dans votre forfait "location de voiture".
						</p>

						<div class="row">
							<div class="col-auto">
								<label class="label-conducteur">Oui
									<input type="radio" checked name="radio-conducteur" value="1">
									<span class="checkmark-conducteur"></span>
								</label>
							</div>
							<div class="col-auto">
								<label class="label-conducteur">Non
									<input type="radio" name="radio-conducteur" value="2">
									<span class="checkmark-conducteur"></span>
								</label>
							</div>
						</div>

						{# fin incrementer #}
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="row">
					<div class="col-md-4">
						<div class="alert alert-secondary btn-block h-100">
							<img src="" alt="" style="width:100%;" id="vehicule_photo">

						</div>
					</div>
					<div class="col-md-8">
						<div class="x_title">
							<h4>
								Siège bébé / enfant
							</h4>
						</div>
						<p>Nous mettons à votre disposition des sièges bébé et nourrissons, homologués NF, pour seulement 30 euros TTC. Les rehausseurs pour les enfants de + de 15kg sont totalement gratuits !</p>
						{# test radio #}
						{% for option in options %}

							<label class="label-radio">
								{{option.appelation}}
								{% if option.prix != 0  %}
									:
									{{option.prix}}€
								{% endif %}
								<input type="radio" checked="checked" name="radio-siege" value="{{option.id}}">
								<span class="checkmark-radio"></span>
							</label>

						{% endfor %}
						{# fin incrementer #}
					</div>
				</div>
			</div>
		</div>

		<h3>
			<i class="fa fa-chevron-right"></i>

			Choisissez vos garanties</h3>
		<div class="row">

			{% for garantie in garanties %}

				<div class="col-md-6">
					<div class="row">
						<div class="col-md-4">
							<div class="alert alert-secondary h-100">
								<img src="" alt="" style="width:100%;" id="vehicule_photo">

							</div>
						</div>
						<div class="col-md-8">
							<div class="x_title">
								<h4>
									{{garantie.appelation}}
								</h4>
							</div>
							<p>
								{{garantie.description}}
							</p>
							<div
								class="row">
								{# <div class="col-auto p-0"><label class="label-container">90€<input type="checkbox" checked="checked"><span class="checkmark"></span></label></div> #}

								<label class="label-radio">{{garantie.prix}}
									€
									<input type="radio" checked="checked" name="radio-garantie" value="{{garantie.id}}">
									<span class="checkmark-radio"></span>
								</label>
							</div>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
</div>
