{% extends 'base2.html.twig' %}

{% block title %}Message index{% endblock %}

{% block body %}
    <h1>Liste des messages</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Message</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for message in messages %}
            <tr>
                <td>{{ message.id }}</td>
                <td>{{ message.message }}</td>
                <td>
                    <a href="{{ path('message_show', {'id': message.id}) }}">Visionner</a>
                    <a href="{{ path('message_edit', {'id': message.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Aucun enregistrement trouver</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('message_new') }}">Ajouter</a>
{% endblock %}
