{% extends 'base2.html.twig' %}

{% block title %}Message{% endblock %}

{% block content %}
    <h1>Message</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ message.id }}</td>
            </tr>
            <tr>
                <th>Message</th>
                <td>{{ message.message }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('message_index') }}" class="btn btn-primary"><i class="fa fa-arrow-left" aria-hidden="true"></i> retour</a>
    {% if is_granted("ROLE_ADMIN") %}
        <a href="{{ path('message_edit', {'id': message.id}) }}" class="btn btn-success"><i class="fa fa-book" aria-hidden="true"></i> Modifier</a>
    {% endif %}
    {% if is_granted("ROLE_ADMIN") %}
        {{ include('message/_delete_form.html.twig') }}
    {% endif %}
{% endblock %}
