<!DOCTYPE html>
<html lang="en">
	<head>
		<meta
		http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<!-- Meta, title, CSS, favicons, etc. -->
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link
		rel="icon" href="{{ asset( 'images/Joel-Location-new.png') }}" type="image/png"/>

		<!-- <title>Gentelella Alela! | </title> -->
		<title>JOEL LOCATION -
			{% block title %}{% endblock %}
		</title>

		<!-- Bootstrap -->
		<link
		href="{{ asset( 'admin/vendors/bootstrap/dist/css/bootstrap.min.css')}}" rel="stylesheet">
		<!-- Font Awesome -->
		<link
		href="{{ asset( 'admin/vendors/font-awesome/css/font-awesome.min.css')}}" rel="stylesheet">
		<!-- NProgress -->
		<link href="{{ asset( 'admin/vendors/nprogress/nprogress.css')}}" rel="stylesheet">
		<!-- iCheck -->
		{# <link
												href="{{ asset( 'admin/vendors/iCheck/skins/flat/green.css')}}" rel="stylesheet"> #}

		<!-- bootstrap-progressbar -->
		<link
		href="{{ asset( 'admin/vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css')}}" rel="stylesheet"> <!-- JQVMap -->
		<link
		href="{{ asset( 'admin/vendors/jqvmap/dist/jqvmap.min.css')}}" rel="stylesheet"/>
		<!-- bootstrap-daterangepicker -->
		<link
		href="{{ asset( 'admin/vendors/bootstrap-daterangepicker/daterangepicker.css')}}" rel="stylesheet">

		<!-- Custom Theme Style -->
		<link
		href="{{ asset( 'admin/build/css/custom.min.css')}}" rel="stylesheet">

		<!-- Custom header dynamic table -->
		<link href="{{ asset( 'css/admin/custom_datatable.css')}}" rel="stylesheet">
		<link href="{{ asset( 'css/admin/custom_styles.css')}}" rel="stylesheet">

		<link href="{{ asset( 'css/admin/nav.css')}}" rel="stylesheet">
		<link href="{{ asset( 'css/admin/easypiechart.css')}}" rel="stylesheet">
		<link rel="stylesheet" href="{{ asset('bundles/mercuryseriesflashy/css/flashy.css') }}">
		<link rel="stylesheet" href="{{ asset('jquery-confirm/jquery-confirm.min.css') }}"> {% block stylesheets %}{% endblock %}

		</head>

		<body class="nav-md">
			<div class="container body">
				<div class="main_container">
					{% block nav %}
						{% include 'admin/layouts/nav.html.twig' %}
					{% endblock %}
					{# test nom de page #}
					<div class=" top_nav bg-white p-2 shadow-lg" style=" box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;">
						<div class="row">
							<div class="col-auto">
								<div class="col-auto ml-auto text-info current_page"> {% block current_page %}{% endblock %}
									</div>
								</div>
								<div class="col-auto ml-auto">
									<div class="d-flex align-items-center"> {% block current_page_right %}{% endblock %}
										</div>
									</div>
								</div>
							</div>
						</div>
						{# fin de test #}


						<!-- page content -->
						<div class="right_col" role="main"> {% block content %}{% endblock %}

							<!-- /page content -->

							<!-- footer content -->
							<footer class="hide"></footer>
						</div>
					</div>
				</body>
			</html>
		</div>
	</div>
	<!-- /footer content -->
	<!-- jQuery -->
	<script src="{{asset('plugins/jquery/jquery.min.js')}}"></script>
	{# D:\projets informatiques\dev_symfony\joellocation\public\plugins\jquery\jquery.min.js #}
	<!-- Bootstrap -->
	<script src="../../admin/vendors/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<!-- bootstrap-progressbar -->
	<script src="../../admin/vendors/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
	<!-- iCheck -->
	<script src="../../admin/vendors/iCheck/icheck.min.js"></script>
	<!-- Skycons -->
	<script src="../../admin/vendors/skycons/skycons.js"></script>
	<!-- DateJS -->
	<script src="../../admin/vendors/DateJS/build/date.js"></script>
	<!-- Custom Theme Scripts -->
	<script src="../../admin/build/js/custom.min.js"></script>
	<script src="../../js/admin/nav.js"></script>
	<!-- Load Flashy default JavaScript -->
	<script src="{{ asset('bundles/mercuryseriesflashy/js/flashy.js') }}"></script>
	<script src="{{ asset('jquery-confirm/jquery-confirm.js') }}"></script>
	{% block javascripts %}{% endblock %}
	<!-- Include Flashy default partial -->
	{{ include('@MercurySeriesFlashy/flashy.html.twig') }}
</body></html>
