
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>JoelLocation - Espace client</title>
        <link rel="icon" href="{{ asset('images/Joel-Location-new.png') }}" type="image/png"/>
        <!-- Tailwind and DaisyUI -->
        <link href="https://cdn.jsdelivr.net/npm/daisyui@4.12.10/dist/full.min.css" rel="stylesheet" type="text/css" />
        <link href="https://cdn.tailwindcss.com/3.4.1" rel="stylesheet">
        <!-- Font Awesome -->
        <link href="{{ asset('admin/vendors/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet">
        <!-- Custom styles -->
        <link href="{{ asset('css/client/style.css') }}" rel="stylesheet">
        <link rel="stylesheet" href="{{ asset('bundles/mercuryseriesflashy/css/flashy.css') }}">
        <link rel="stylesheet" href="{{ asset('jquery-confirm/jquery-confirm.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/pop-up/pop-up.css') }}">
        <!-- Star rating -->
        <link rel="stylesheet" href="{{ asset('kartik-v-bootstrap-star-rating/css/star-rating.min.css') }}">
        <link rel="stylesheet" href="{{ asset('kartik-v-bootstrap-star-rating/themes/krajee-fa/theme.css') }}" media="all" type="text/css"/>
        <link rel="stylesheet" href="{{ asset('kartik-v-bootstrap-star-rating/themes/krajee-svg/theme.css') }}" media="all" type="text/css"/>
        <link rel="stylesheet" href="{{ asset('kartik-v-bootstrap-star-rating/themes/krajee-uni/theme.css') }}" media="all" type="text/css"/>
        {% block stylesheets %}{% endblock %}
    </head>
    <body class="bg-base-200">
        <div class="preloader fixed inset-0 flex items-center justify-center bg-base-100 z-50">
            <span class="loading loading-spinner loading-lg text-primary"></span>
        </div>

        <div class="site min-h-screen">
            <!-- Navigation -->
            <div class="containerNav bg-base-100 shadow-lg">
                {% include "client/layouts/nav.html.twig" %}
            </div>

            <!-- Page Header -->
            <div class="bg-base-200 p-4">
                <div class="container mx-auto flex flex-col md:flex-row gap-4">
                    <div class="md:w-5/12">
                        {% block current_page %}{% endblock %}
                    </div>
                    <div class="md:w-7/12 md:ml-auto">
                        {% block current_page_right %}{% endblock %}
                    </div>
                </div>
            </div>

            <!-- Main Content -->
            <div class="containerBody container mx-auto py-8">
                {% block body %}{% endblock %}
            </div>
        </div>

        <!-- Required JS files -->
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="{{ asset('bundles/mercuryseriesflashy/js/flashy.js') }}"></script>
        <script src="{{ asset('jquery-confirm/jquery-confirm.js') }}"></script>
        <!-- Star rating -->
        <script src="{{ asset('kartik-v-bootstrap-star-rating/js/star-rating.min.js') }}"></script>
        <script src="{{ asset('kartik-v-bootstrap-star-rating/themes/krajee-fa/theme.js') }}" type="text/javascript"></script>
        <script src="{{ asset('kartik-v-bootstrap-star-rating/themes/krajee-svg/theme.js') }}" type="text/javascript"></script>
        <script src="{{ asset('kartik-v-bootstrap-star-rating/themes/krajee-gly/theme.js') }}" type="text/javascript"></script>
        <script src="{{ asset('kartik-v-bootstrap-star-rating/themes/krajee-uni/theme.js') }}" type="text/javascript"></script>
        {% block javascripts %}{% endblock %}
        <!-- Include Flashy default partial -->
        {{ include('@MercurySeriesFlashy/flashy.html.twig') }}
    </body>
</html>
