<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>Espace client
		</title>
		<link
		rel="icon" type="image/x-icon" href="../../images/Joel-Location-new.png"/>
		<!-- Bootstrap -->
		<link
		href="{{ asset( 'admin/vendors/bootstrap/dist/css/bootstrap.min.css')}}" rel="stylesheet">
		<!-- Font Awesome -->
		<link href="{{ asset( 'admin/vendors/font-awesome/css/font-awesome.min.css')}}" rel="stylesheet">
		<link href="{{ asset( 'css/client/baseClient2.css')}}" rel="stylesheet">
		<link rel="stylesheet" href="{{ asset('bundles/mercuryseriesflashy/css/flashy.css') }}"> {% block stylesheets %}{% endblock %}
		</head>
		<body>
			<div class="preloader">
				<span class="preloader-spin"></span>
			</div>

			<div
				class="site">
				{# <header class="d-flex align-items-center"></header> #}
				<div class="containerBody"> {% block body %}{% endblock %}

					<!--Required JS files-->
					<!-- jQuery -->


					</div>
				</div>
				<script src="../../plugins/jquery/jquery.min.js"></script>
				<script src="/assets/js/vendor/bootstrap.min.js"></script>

				<!-- Load Flashy default JavaScript -->
				<script src="{{ asset('bundles/mercuryseriesflashy/js/flashy.js') }}"></script>
				{% block javascripts %}{% endblock %}
			</body>
		</html>
	</body>
</html>
