<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>JoelLocation-Espace client</title>
		<link
		rel="icon" href="{{ asset( 'images/Joel-Location-new.png') }}" type="image/png"/>

		<!-- Bootstrap -->
		<link
		href="{{ asset( 'admin/vendors/bootstrap/dist/css/bootstrap.min.css')}}" rel="stylesheet">
		<!-- Font Awesome -->
		<link href="{{ asset( 'admin/vendors/font-awesome/css/font-awesome.min.css')}}" rel="stylesheet">
		<link href="{{ asset( 'css/client/style.css')}}" rel="stylesheet">
		<link
		rel="stylesheet" href="{{ asset('bundles/mercuryseriesflashy/css/flashy.css') }}">


		<!-- Custom header dynamic table -->
		<link
		href="{{ asset( 'css/admin/custom_datatable.css')}}" rel="stylesheet">

		{# jquery confirm modal alert ... #}
		<link
		rel="stylesheet" href="{{ asset('jquery-confirm/jquery-confirm.min.css') }}">
		{# style pour pop-up #}
		<link
		rel="stylesheet" href="{{ asset('css/pop-up/pop-up.css') }}">
		{# star rating #}
		<link rel="stylesheet" href="{{asset('kartik-v-bootstrap-star-rating/css/star-rating.min.css')}}">
		<link rel="stylesheet" href="{{asset('kartik-v-bootstrap-star-rating/themes/krajee-fa/theme.css')}}" media="all" type="text/css"/>
		<link rel="stylesheet" href="{{asset('kartik-v-bootstrap-star-rating/themes/krajee-svg/theme.css')}}" media="all" type="text/css"/>
		<link rel="stylesheet" href="{{asset('kartik-v-bootstrap-star-rating/themes/krajee-uni/theme.css')}}" media="all" type="text/css"/> {% block stylesheets %}{% endblock %}
		</head>
		<body>
			<div class="preloader">
				<span class="preloader-spin"></span>
			</div>

			<div class="site">

				<div class="containerNav ">
					{% include "client/layouts/nav.html.twig" %}
				</div>

				<div class="bg-gray p-2">
					<div class="row">

						<div class="col-md-5">
							<div class=""> {% block current_page %}{% endblock %}
								</div>
							</div>

							<div class="col-md-7 ml-auto">
								<div class=""> {% block current_page_right %}{% endblock %}
									</div>
								</div>
							</div>
						</div>

						<div class="containerBody"> {% block body %}{% endblock %}
							</div>
						</div>
						<!--Required JS files-->
						<!-- jQuery -->
						<script src="{{asset('plugins/jquery/jquery35.min.js')}}"></script>

						<script src="/assets/js/vendor/bootstrap.min.js"></script>

						<script src="/dist/js/bootstrap.bundle.min.js"></script>
						<script type="text/javascript" src="{{asset('plugins/popper/popper.min.js') }}"></script>
						<!-- Load Flashy default JavaScript -->
						<script src="{{ asset('bundles/mercuryseriesflashy/js/flashy.js') }}"></script>

						{# jquery confirm, alert, modal ... #}
						<script src="{{ asset('jquery-confirm/jquery-confirm.js') }}"></script>

						{# star rating #}
						<script src="{{asset('kartik-v-bootstrap-star-rating/css/star-rating.min.js')}}"></script>
						<script src="{{asset('kartik-v-bootstrap-star-rating/js/star-rating.js')}}" type="text/javascript"></script>
						<script src="{{asset('kartik-v-bootstrap-star-rating/themes/krajee-fa/theme.js')}}" type="text/javascript"></script>
						<script src="{{asset('kartik-v-bootstrap-star-rating/themes/krajee-svg/theme.js')}}" type="text/javascript"></script>
						<script src="{{asset('kartik-v-bootstrap-star-rating/themes/krajee-gly/theme.js')}}" type="text/javascript"></script>
						<script src="{{asset('kartik-v-bootstrap-star-rating/themes/krajee-uni/theme.js')}}" type="text/javascript"></script>
						{% block javascripts %}{% endblock %}
						<!-- Include Flashy default partial -->
						{{ include('@MercurySeriesFlashy/flashy.html.twig') }}
					</body>
				</html>
