<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>JoelLocation - Espace client</title>
		<link rel="icon" href="{{ asset('images/Joel-Location-new.png') }}" type="image/png"/>
		{{ encore_entry_link_tags('vitrine_styles') }}
		<link href="{{ asset('client2/css/app.css') }}" rel="stylesheet">
		<link href="{{ asset('admin/vendors/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
		<link rel="stylesheet" href="{{ asset('bundles/mercuryseriesflashy/css/flashy.css') }}">
		<style>
			.flashy {
				font-family: Arial, sans-serif;
				padding: 11px 30px;
				border-radius: 4px;
				font-weight: 400;
				position: fixed;
				top: 100px;
				right: 20px;
				font-size: 16px;
				color: #fff;
				z-index: 1000;
				text-align: center;
				z-index: 9999;
			}
		</style>
		{% block stylesheets %}{% endblock %}
	</head>
	<body class="bg-base-200">
		<div class="preloader" id="preloader">
			<span class="loading loading-spinner loading-lg text-primary"></span>
		</div>

		<div
			class="site min-h-screen">
			<!-- Navigation -->
			<div class="containerNav bg-base-100 shadow-lg">
				{% include "client2/layouts/nav.html.twig" %}
			</div>

			<!-- Page Header -->
			<div class="bg-base-200 ">
				<div class="container mx-auto flex flex-col md:flex-row gap-4">
					<div class="md:w-5/12"> {% block current_page %}{% endblock %}
						</div>
						<div class="md:w-7/12 md:ml-auto"> {% block current_page_right %}{% endblock %}
							</div>
						</div>
					</div>

					<!-- Main Content -->
					<div class="containerBody container mx-auto py-8 px-4 md:px-0"> {% block body %}{% endblock %}
						</div>


						{# find toatst #}

						<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
						<script src="{{ asset('client2/js/app.js') }}"></script>
						<script>
							function flashy(message, link) {
var template = $($('#flashy-template').html())
$('.flashy').remove()
template.find('.flashy__body').html(message).attr('href', link || '#').end().appendTo('.content-header').hide().fadeIn(300).delay(3000).animate({
marginRight: '-200%'
}, 5000, 'swing', function () {
$(this).remove()
})
}
						</script>
						<script src="{{ asset('bundles/mercuryseriesflashy/js/flashy.js') }}"></script>
						{% block javascripts %}{% endblock %}
						{{ include('@MercurySeriesFlashy/flashy.html.twig') }}</body>
				</body>
			</html>
