{% extends 'baseClient.html.twig' %}

{% block title %}
	options et garanties
{% endblock %}
{% block stylesheets %}

	<link href="{{ asset( 'css/client/sidebarResaResume.css')}}" rel="stylesheet">
	<link href="{{ asset( 'css/client/step3InfosClient.css')}}" rel="stylesheet">
	<script src="https://www.paypal.com/sdk/js?client-id=AWDZI-LFPNgYnDIXkhBDGTlwkF5HaSDlSKCke0HowHz5xfBAqh4Vdw0_bm3A4JRN2pYgA6J1uZ3ueP12&locale=fr_FR&buyer-country=FR&currency=EUR&components=buttons&enable-funding=venmo,paylater" data-sdk-integration-source="developer-studio"></script>
{% endblock %}
{% block nav %}{% endblock %}
{% block body %}

	<div class="row">

		<div class="col-md-3">
			{% include "client/reservation/validation/parts/sidebarResaResume.html.twig" %}
		</div>
		<div class="col-md-9 ">
			{{ form_start(formClient) }}
			{# Hidden fields for PayPal payment #}
			<input type="hidden" id="montant" value="{{ devis.prix }}">
			<input type="hidden" id="devisId" value="{{ devis.numero }}">

			<div class="card mdl-shadow--2dp p-4 divInformations">
				<div class="text-center">
					<h3>Mes informations
					</h3>
				</div>
				<div class="row">
					<div class="col-md-6" class="bmd-label-floating">
						<div class="form-group">
							<label class="bmd-label-floating">Nom *:</label>
							{{form_widget(formClient.nom) }}
						</div>
					</div>
					<div class="col-md-6" class="bmd-label-floating">
						<div class="form-group">
							<label class="bmd-label-floating">Prénom *:</label>
							{{form_widget(formClient.prenom)}}
						</div>
					</div>
					<div class="col-md-2" class="bmd-label-floating">
						<div class="form-group">
							<label class="bmd-label-floating">Sexe *:</label>
							{{form_widget(formClient.sexe) }}
						</div>
					</div>
					<div class="col-md-4" class="bmd-label-floating">
						<div class="form-group">
							<label class="bmd-label-floating">Portable *:</label>
							{{form_widget(formClient.portable) }}
						</div>
					</div>
					<div class="col-md-6" class="bmd-label-floating">
						<div class="form-group">
							<label class="bmd-label-floating">Email *:</label>
							{{form_widget(formClient.mail) }}
						</div>
					</div>

				</div>
			</div>
			<div class="card mdl-shadow--2dp p-4 divModePaiement">
				<div class="text-center">
					<h3>Mode de paiement
					</h3>
				</div>
				<div>
					<p>Mode de paiement par PayPal. Pour valider votre réservation, vous devez effectuer un premier paiement. Une fois le paiement effectué, un email de confirmation vous sera envoyé.</p>
					<div id='paypal-button-container' class='mt-4'></div>
				</div>
			</div>
			<div class="card mdl-shadow--2dp p-4 divConditionGeneralVente">
				<div class="text-center">
					<h3>Conditions générales de location
					</h3>
				</div>
				<label class="label-container">
					Je reconnais avoir pris connaissance des
					<a href="/cgl/Joel location conditions générales de location_Version 1.0.pdf">
						conditions générales de location
					</a>
					que j'accepte sans réserve
					<input type="checkbox" name="conditionGeneralVente" id="conditionGeneralVente">
					<span class="checkmark"></span>
				</label>
			</div>
			<div
				class="text-center mt-3 mb-3">{# <button type="button" class="btn btn-danger" id="validerPaiement">
															Je confirme
														</button> #}
			</div>
			{{ form_end(formClient) }}
		</div>
	</div>
{% endblock %}
{% block javascripts %}
	<script src="{{ asset('js/client/reservation/validation_devis/step3infosClient.js')}}"></script>
	<script src="{{ asset('js/client/payement/paypal.js')}}"></script>
{% endblock %}
