{% extends 'baseClient2.html.twig' %}

{% block title %}
	options et garanties
{% endblock %}
{% block stylesheets %}
	<link href="{{ asset( 'css/client/validationDevis.css')}}" rel="stylesheet">

{% endblock %}
{% block nav %}{% endblock %}
{% block body %}

	<div class="row">
		<div class="col-md-3">
			<div class="votreVehicule">
				<h5 class="text-uppercase">
					Votre véhicule
				</h5>
			</div>
			<div class="card p-2 btn-block card mdl-shadow--2dp">
				<div class="vehicule border-bottom">
					<div class="marque_modele">{{devis.vehicule.marque}}
						{{devis.vehicule.modele}}</div>
					<img src="/uploads/vehicules/{{ devis.vehicule.image }}" alt="{{ devis.vehicule.image }}" class="img-circle  " style="width : 100%;">

				</div>
				<div>
					<div class="divDepart border-bottom">
						<h5 class="heading">Agence départ
						</h5>
						<p>
							<i class="fa fa-map-marker"></i>
							<span id="agence_depart">{{devis.agenceDepart}}</span><br>
							<span id="date_depart">{{devis.dateDepart | date('d-m-Y H:i')}}</span>
							<span id="heure_depart"></span>
						</p>
					</div>
					<div class="divRetour border-bottom">
						<h5 class="heading">Agence retour
						</h5>
						<p>
							<i class="fa fa-map-marker"></i>
							<span id="agence_retour">{{devis.agenceRetour}}</span><br>
							<span id="date_retour">{{devis.dateRetour| date('d-m-Y H:i')}}</span>
							<span id="heure_retour"></span>
						</p>
					</div>
					<div class="divPrestation border-bottom">
						<h5 class="heading">Prestations incluses</h5>
						<ul class="pl-2 ">
							<li>
								<i class="fa fa-check"></i>
								Kilométrage Illimité
							</li>
							<li>
								<i class="fa fa-check"></i>
								Assurance accidents causés aux tiers
							</li>
							<li>
								<i class="fa fa-check"></i>
								Assurance responsabilité civile
							</li>
							<li>
								<i class="fa fa-check"></i>
								Assurance collision (CDW)
							</li>
							<li>
								<i class="fa fa-check"></i>
								TVA 8.5 %
							</li>
						</ul>
					</div>
					<div class="divOptions border-bottom">
						<h5 class="heading">Option(s)
						</h5>
						<ul class="pl-2 ">
							{% for option in devis.options %}
								<li>
									<div class="d-flex">
										<div>
											<i class="fa fa-check"></i>
											{{option.appelation}}
										</div>
										<div class="ml-auto">
											{{option.prix}}€
										</div>
									</div>

								</li>
							{% endfor %}
						</ul>
					</div>
					<div class="divGaranties">
						<h5 class="heading">Garantie(s)
						</h5>
						<ul class="pl-2 ">
							{% for garantie in devis.garanties %}
								<li>
									<div class="d-flex">
										<div>
											<i class="fa fa-check"></i>
											{{garantie.appelation}}
										</div>
										<div class="ml-auto">
											{{garantie.prix}}€

										</div>
									</div>
								</li>
							{% endfor %}
						</ul>
					</div>

				</div>
			</div>
			<div class="divTarifTotal text-center">
				<h5 class="heading">Prix total pour
					{{devis.duree}}
					jours
				</h5>
				<span class="tarifTotal">{{tarifTotal}}€</span><br>
				<span class="tarifJournalier">Soit
					{{tarifJournalier}}€ / jour</span>
			</div>
		</div>
		<div class="col-md-9 ">
			{{ form_start(form) }}
			<div class="card mdl-shadow--2dp divGaranties">
				<input type="hidden" value={{devisID}} name="devisID">
				<div class="text-center mt-4 mb-4">
					<h2>VOS GARANTIES</h2>
				</div>
				<div class="row mb-0">
					{% for garantie in form.garanties %}
						<div class="col-md-4">
							<div class="m-2 p-2 border-top border-right border-left">
								{{form_widget(garantie)}}
							</div>
						</div>
					{% endfor %}
				</div>
				<div class="row mt-0">
					{% for gar in garanties %}
						<div class="col-md-4 ">
							<div class="m-2 p-2 border-bottom border-right border-left ">
								<p>
									{{gar.description}}
								</p>
							</div>
						</div>
					{% endfor %}
				</div>
			</div>

			<div class="card mdl-shadow--2dp divOptions">
				<div class="text-center mt-4 mb-4">
					<h2>VOS OPTIONS</h2>
				</div>
				<div class="p-3">
					<div class="x_title">
						<h4>
							Siège bébé / enfant
						</h4>
					</div>
					<p>Nous mettons à votre disposition des sièges bébé et nourrissons, homologués NF, pour seulement 30 euros TTC. Les rehausseurs pour les enfants de + de 15kg sont totalement gratuits !</p>
				</div>
				<div class="d-flex justify-content-around">
					{% for option in form.options %}
						<div>
							{{form_widget(option)}}
						</div>
					{% endfor %}
				</div>
				<div class="text-center mt-3 mb-3">
					<button class="btn btn-danger ">
						<i class="fa fa-book" aria-hidden="true"></i>
						{{ button_label|default('Enregistrer') }}</button>
				</div>
			</div>
			{{ form_end(form) }}
		</div>
	</div>
</div>{% endblock %}{% block javascripts %}

<script src="{{ asset('js/client/reservation/step2OptionsGaranties.js')}}"></script>{% endblock %}
