{% extends 'baseClient2.html.twig' %}

{% block title %}
	options et garanties
{% endblock %}
{% block stylesheets %}
	<link href="{{ asset( 'css/client/validationDevis.css')}}" rel="stylesheet">

{% endblock %}
{% block nav %}{% endblock %}
{% block body %}


	<div class="row">
		<div class="col-md-3">
			<div class="votreVehicule">
				<h5 class="text-uppercase">
					Votre véhicule
				</h5>
			</div>
			<div class="card p-2 btn-block card mdl-shadow--2dp">
				<div class="vehicule border-bottom">
					<div class="marque_modele">{{devis.vehicule.marque}}
						{{devis.vehicule.modele}}</div>
					<img src="/uploads/vehicules/{{ devis.vehicule.image }}" alt="{{ devis.vehicule.image }}" class="img-circle  " style="width : 100%;">

				</div>
				<div>
					<div class="divDepart border-bottom">
						<h5 class="heading">Agence départ
						</h5>
						<p>
							<i class="fa fa-map-marker"></i>
							<span id="agence_depart">{{devis.agenceDepart}}</span><br>
							<span id="date_depart">{{devis.dateDepart | date('d-m-Y H:i')}}</span>
							<span id="heure_depart"></span>
						</p>
					</div>
					<div class="divRetour border-bottom">
						<h5 class="heading">Agence retour
						</h5>
						<p>
							<i class="fa fa-map-marker"></i>
							<span id="agence_retour">{{devis.agenceRetour}}</span><br>
							<span id="date_retour">{{devis.dateRetour| date('d-m-Y H:i')}}</span>
							<span id="heure_retour"></span>
						</p>
					</div>
					<div class="divPrestation border-bottom">
						<h5 class="heading">Prestations incluses</h5>
						<ul class="pl-2 ">
							<li>
								<i class="fa fa-check"></i>
								Kilométrage Illimité
							</li>
							<li>
								<i class="fa fa-check"></i>
								Assurance accidents causés aux tiers
							</li>
							<li>
								<i class="fa fa-check"></i>
								Assurance responsabilité civile
							</li>
							<li>
								<i class="fa fa-check"></i>
								Assurance collision (CDW)
							</li>
							<li>
								<i class="fa fa-check"></i>
								TVA 8.5 %
							</li>
						</ul>
					</div>
					<div class="divOptions border-bottom">
						<h5 class="heading">Option(s)
						</h5>
						<ul class="pl-2 ">
							{% for option in devis.options %}
								<li>
									<div class="d-flex">
										<div>
											<i class="fa fa-check"></i>
											{{option.appelation}}
										</div>
										<div class="ml-auto">
											{{option.prix}}€
										</div>
									</div>

								</li>
							{% endfor %}
						</ul>
					</div>
					<div class="divGaranties">
						<h5 class="heading">Garantie(s)
						</h5>
						<ul class="pl-2 ">
							{% for garantie in devis.garanties %}
								<li>
									<div class="d-flex">
										<div>
											<i class="fa fa-check"></i>
											{{garantie.appelation}}
										</div>
										<div class="ml-auto">
											{{garantie.prix}}€

										</div>
									</div>
								</li>
							{% endfor %}
						</ul>
					</div>

				</div>
			</div>
			<div class="divTarifTotal text-center">
				<h5 class="heading">Prix total pour
					{{devis.duree}}
					jours
				</h5>
				<span class="tarifTotal">{{tarifTotal}}€</span><br>
				<span class="tarifJournalier">Soit
					{{tarifJournalier}}€ / jour</span>
			</div>
		</div>
		<div class="col-md-9 ">
			{{ form_start(formClient) }}
			<div class="card mdl-shadow--2dp p-4 divInformations">
				<div class="text-center">
					<h3>Mes informations
					</h3>
				</div>
				<div class="row">
					<div class="col-md-6" class="bmd-label-floating">
						<div class="form-group">
							<label class="bmd-label-floating">Nom *:</label>
							{{form_widget(formClient.nom) }}
						</div>
					</div>
					<div class="col-md-6" class="bmd-label-floating">
						<div class="form-group">
							<label class="bmd-label-floating">Prénom *:</label>
							{{form_widget(formClient.prenom)}}
						</div>
					</div>
					<div class="col-md-6" class="bmd-label-floating">
						<div class="form-group">
							<label class="bmd-label-floating">Email *:</label>
							{{form_widget(formClient.mail) }}
						</div>
					</div>
					<div class="col-md-6" class="bmd-label-floating">
						<div class="form-group">
							<label class="bmd-label-floating">Téléphone *:</label>
							{{form_widget(formClient.telephone) }}
						</div>
					</div>
				</div>
			</div>
			<div class="card mdl-shadow--2dp p-4 divModePaiement">
				<div class="text-center">
					<h3>Mode de paiement
					</h3>
				</div>
				<div>
					<input type="radio" value="100" name="modePaiement">
					<label for="">Je souhaite régler en une seule fois le montant de

						<span id="value">
							{{tarifTotal}}
						</span>

						€</label>
				</div>
				<div>
					<input type="radio" value="50" name="modePaiement">
					<label for="">Je paie un acompte de
						<span>
							{{cinquantePourcentTarifTotal}}
						</span>
						€ (50%) et à mon arrivée
						<span class="reste50pourcent">
							{{ tarifTotal - cinquantePourcentTarifTotal }}€
						</span>
					</label>
				</div>
				<div>
					<input type="radio" value="20" name="modePaiement">
					<label for="">Je paie un acompte de
						<span>
							{{vingtPourcentTarifTotal}}
						</span>
						€ (20%) et à mon arrivée
						<span class="reste20pourcent">
							{{ tarifTotal - vingtPourcentTarifTotal}}€
						</span>

					</label>
				</div>
			</div>
			<div class="card mdl-shadow--2dp p-4 divConditionGeneralVente">
				<div class="text-center">
					<h3>Condition générale de vente
					</h3>
				</div>
				<div>
					<input type="checkbox" value="10" name="conditionGeneralVente" id="conditionGeneralVente">
					<label for="">Je reconnais avoir prix connaissance des conditions générales de vente que j'accepte sans réserve</label>
				</div>
			</div>

			<div class="text-center mt-3 mb-3">
				<button class="btn btn-danger" id="validerPaiement">

					{{ button_label|default('Enregistrer') }}</button>
			</div>

			{{ form_end(formClient) }}
		</div>
	</div>
{% endblock %}
{% block javascripts %}

	<script src="{{ asset('js/client/reservation/step3infosClient.js')}}"></script>

{% endblock %}
