{# {{ form_start(form) }}
{{ form_widget(form) }}
<button class="btn btn-success">
	<i class="fa fa-book" aria-hidden="true"></i>
	{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }} #}


{{ form_start(form) }}
<div class="row">

	<div class="form-group col-md-3">
		<label for="">Date résérvation :</label>
		{{ form_widget(form.date_reservation) }}
	</div>
	<div class="form-group col-md-3">
		<label for="">Date début:</label>
		{# <input name="date_debut" id="dateDebut" type="text" date="date_debut" class="form-control" placeholder="jj/mm/aaaaa hh:mm" onfocus="(this.type='datetime-local')" onblur="(this.type='text')"> #}
		{{ form_widget(form.date_debut) }}
	</div>
	<div class="form-group col-md-3">
		<label for="">Date fin :</label>
		{# <input name="date_fin" id="dateFin" type="text" date="date_debut" class="form-control" placeholder="jj/mm/aaaaa hh:mm" onfocus="(this.type='datetime-local')" onblur="(this.type='text')"> #}
		{{ form_widget(form.date_fin) }}
	</div>
	<div class="form-group col-md-3">
		<label for="">Mode résérvation :</label>
		{{ form_widget(form.mode_reservation) }}

	</div>
	<div class="form-group col-md-6">
		<label for="">Type :</label>
		{{ form_widget(form.type) }}
	</div>
	<div class="form-group col-md-6">
		<label for="">Client :</label>
		{{ form_widget(form.client) }}

	</div>
	<div class="form-group col-md-3">
		<label for="">Utilisateur :</label>
		{{ form_widget(form.utilisateur) }}

	</div>
	<div class="form-group col-md-3">
		<label for="">Code résérvation :</label>
		{{ form_widget(form.code_reservation) }}
	</div>
	<div class="form-group col-md-3">
		<label for="">Véhicule :</label>
		<select name="select" id="selectVehicule" class="form-control"></select>
		{# {{ form_widget(form.vehicule) }} #}

	</div>
	<div class="form-group col-md-6">
		<label for="">Lieu :</label>
		{{ form_widget(form.lieu) }}

	</div>
	<div class="form-group col-md-6">
		<label for="">Etat résérvation :</label>
		{{ form_widget(form.etat_reservation) }}

	</div>
</div>
<div class="">
	<button class="btn btn-danger">
		<i class="fa fa-book" aria-hidden="true"></i>
		{{ button_label|default('Enregistrer') }}
	</button>
</div>
{{ form_end(form) }}
