{# {{ form_start(form) }}
{{ form_widget(form) }}
<button class="btn btn-success">
	<i class="fa fa-book" aria-hidden="true"></i>
	{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }} #}


{{ form_start(form) }}
<div class="row">
	<div class="form-group col-md-6">
		<label for="">Date et heure de départ:</label>
		{{ form_widget(form.date_debut) }}
	</div>
	<div class="form-group col-md-6">
		<label for="">Date et heure de retour :</label>
		{{ form_widget(form.date_fin) }}
	</div>
	<div class="form-group col-md-6">
		<label for="">Agence de départ:</label>
		{{ form_widget(form.agenceDepart) }}
	</div>
	<div class="form-group col-md-6">
		<label for="">Agence de retour:</label>
		{{ form_widget(form.agenceRetour) }}
	</div>
	<div class="form-group col-md-4">
		<label for="">Tarif Véhicule:</label>
		{{ form_widget(form.tarifVehicule) }}
	</div>
	<div class="form-group col-md-4">
		<label for="">Prix options et garanties:</label>
		{{ form_widget(form.prixOptionsGaranties) }}
	</div>
	<div class="form-group col-md-4">
		<label for="">Prix Resa:</label>
		{{ form_widget(form.prix) }}
	</div>
	<div class="form-group col-md-6">
		<label for="">Vehicule actuel:</label>
		<input type="text" class="form-control" value="{{ reservation.vehicule.marque }} {{ reservation.vehicule.modele }} {{ reservation.vehicule.immatriculation }}" readonly>
	</div>
	{# <div class="form-group col-md-6">
														<label for="">Prix réservation:</label>
														{{ form_widget(form.prix) }}
													</div> #}
	<div class="form-group col-md-6">
		<label for="">Nouveau véhicule :</label>
		<select name="select" id="selectVehicule" class="form-control"></select>
		{# {{ form_widget(form.vehicule) }} #}

	</div>


</div>
<div class="">
	<button class="btn btn-danger" id="btnSubmitResa">
		<i class="fa fa-book" aria-hidden="true"></i>
		{{ button_label|default('Enregistrer') }}
	</button>
</div>
{{ form_end(form) }}
