{% extends 'base2.html.twig' %}

{% block title %}Détails reservation
{% endblock %}


{% block stylesheets %}
	<!-- Datatables -->
	<link href="{{ asset('admin/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css') }}" rel="stylesheet">
	<link href="{{ asset('admin/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css') }}" rel="stylesheet">
	<link href="{{ asset('admin/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css') }}" rel="stylesheet">
	<link href="{{ asset('admin/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css') }}" rel="stylesheet">
	<link
	href="{{ asset('admin/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css') }}" rel="stylesheet">
	<!-- Font Awesome -->
	<link href="{{ asset('admin/vendors/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet">
	<link href="{{ asset('css/admin/detail.css') }}" rel="stylesheet">

{% endblock %}

{% block current_page %}
	<div class="text-info">
		<i class="fa fa-folder-open"></i>
		Détails de la réservation -
		<br>
		<span>{{ reservation.reference }}</span>
	</div>
{% endblock %}

{% block current_page_right %}
	<div class="font-weight-bold">
		<span class="text-info">
			<i class="fa fa-dashboard"></i>
			Tableau de bord
		</span>
		> Détail de la réservation
	</div>
{% endblock %}


{% block content %}

	{# utile pour autocompletion #}
	<input
	type="hidden" value="{{ reservation.id }}" id="idReservation">
	<!-- div contenant extra information utile pour javascript -->
	<div class="hide">
		<span class="js-vehCarb">{{ reservation.vehicule.carburation }}</span>
		<span class="js-vehIM">{{ reservation.vehicule.immatriculation }}</span>
	</div>
	<!-- top tiles -->
	<div class="x_panel">

		<div class="d-flex bd-highlight">
			<div class="p-2  bd-highlight">
				<div class="btn-group mb-4">
					<button type="button" class="btn btn-danger dropdown-toggle text-white font-weight-bold" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						Réservation
					</button>
					<div class="dropdown-menu">
						<a class="dropdown-item" data-toggle="modal" data-target=".modalReportReservation">Reporter la réservation</a>
						<a class="dropdown-item" href="#">Mail de confirmation</a>
						{% if reservation.canceled == false  %}
							<a class="dropdown-item" data-toggle="modal" data-target=".modalAnnulation">Annuler la réservation</a>
						{% endif %}
						<a class="dropdown-item" href="#">Fermer le contrat</a>
						<a class="dropdown-item" href="{{ path('reservation_archive', {'id':reservation.id}) }}">Archiver la réservation</a>
					</div>
				</div>
			</div>
			<div class="p-2 w-100 flex-grow text-center bd-highlight">
				<div class="">

					<h3 class="m-0 text-danger">

						{{ reservation.canceled ?  ' <i class="fa fa-warning"></i> Resa annulée' : '' }}</h3>
				</div>
			</div>
		</div>

		<div class="x_title mb-0">
			<h2>
				<i class="fa fa-chevron-right"></i>INFORMATIONS CLIENT
			</h2>
			<div class="clearfix"></div>
		</div>
		{# <div class="x_content"></div> #}
		<div>
			<button type="button" class="btn btn-outline-dark text-uppercase p-1" data-toggle="modal" data-target=".modalKM">
				<i class="fa  fa-car"></i>
				kilometrage
			</button>

			<a href="{{ path('contrat_pdf', {'id': reservation.id}) }}" type="button" id="" class="btn btn-outline-danger text-uppercase p-1">
				<i class="fa fa-newspaper-o"></i>
				Générer le contrat</a>

			<a href="{{ path('envoyer_contrat', {'id': reservation.id}) }}" type="button" id="" class="btn btn-outline-success text-uppercase p-1">
				<i class="fa fa-newspaper-o"></i>
				Envoyer le contrat</a>

			{# <button type="button" class="btn btn-outline-info text-uppercase p-1" id="genererFacturePDF"><i class="fa fa-send (alias)"></i>générer facture</button> #}

			<a href="{{ path('facture_pdf', {'id': reservation.id}) }}" type="button" class="btn btn-outline-info text-uppercase p-1">
				<i class="fa fa-send (alias)"></i>
				générer facture</a>

		</div>
		<div class="row mt-3">
			<div class="col-md-2">
				<img src="{{ vich_uploader_asset(reservation.vehicule, 'imageFile') }}" alt="{{ reservation.vehicule.image }}" class="img-circle  " style="width : 180px;">

			</div>
			<div class="col-md-10 info_client">
				<div class="row">
					<div class="col-md-4">
						<span class="label_client">Client :</span>
						<span class="js-prenom_client">{{ reservation.client.prenom }}
						</span>
						<span class="js-nom_client">{{ reservation.client.nom }}</span>
					</div>
					<div class="col-md-4">
						<span class="label_client">Email :</span>
						<span class="js-email_client">{{ reservation.client.mail }}</span>
					</div>
					<div class="col-md-4">
						<span class="label_client">Téléphone(s):</span>
						<span class="js-tel_client">{{ reservation.client.telephone }}</span>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<span class="label_client">adresse:</span>
						<span class="js-adresse_client">{{ reservation.client.adresse }}</span>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4">
						<span class="label_client">Référence :</span>
					</div>
					<div class="col-md-4">
						<span class="label_client">Date de création :</span>
						<span>{{ reservation.dateReservation|date('d-m-Y H:i') }}</span>
					</div>
					<div class="col-md-4">
						<span class="label_client">Catégorie :</span>
						<span class="js-categorie">{{ reservation.vehicule.marque }}{{ reservation.vehicule.modele }}</span>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4">
						<span class="label_client">Véhicule :</span>
						<span class="js-vehicule">{{ reservation.vehicule }}</span>
						<span class="js-idVehicule hide">{{ reservation.vehicule.id }}</span>
					</div>

				</div>

				<div class="row">
					<div class="col-md-3">
						<span class="label_client">Km départ :

							{{ reservation.vehicule.kmDepart }}
							Km
						</span>
					</div>
					<div class="col-md-3">
						<span class="label_client">Km retour :
							{{ reservation.vehicule.kmRetour }}
							Km</span>
					</div>
					<div class="col-md-3">
						<span class="label_client">Date mise à jour km :
							{{ reservation.vehicule.dateKm ? reservation.vehicule.dateKm|date('d/m/Y H:i') : "" }}</span>
					</div>
					<div class="col-md-3">
						<span class="label_client">Km saisie par :
						</span>
						{% if reservation.vehicule.saisisseurKm %}
							{{ reservation.vehicule.saisisseurKm.nom }}
						{% endif %}
					</div>
				</div>
				<div class=" text-center">
					<a type="button" class="btn btn-primary text-nowrap" href="{{ path('reservation_infosClient_edit', {'id': reservation.id}) }}">
						<i class="fa fa-user mr-1"></i>Modifier les informations</a>
					<a href="{{ path('reservation_retour_anticipe', {'id' : reservation.id }) }}" type="button" class="btn btn-dark text-nowrap">
						<i class="fa fa-reply-all mr-1"></i>Retour anticipé</a>
					<a type="button" class="btn btn-warning text-nowrap" href="{{ path('reservation_edit', {'id': reservation.id} ) }}">
						<i class="fa fa-cog"></i>
						Modifier la réservation</a>
					<a type="button" class="btn btn-danger text-nowrap" href="{{ path('optionsGaranties_edit', {'id': reservation.id} ) }}">
						<i class="fa fa-edit (alias)"></i>
						Modifier les options & garanties</a>
					<a href="{{ path('reservation_ident_connex', {'id' : reservation.id }) }}" type="button" class="btn btn-violet text-nowrap">
						<i class="fa  fa-send-o (alias)"></i>
						Envoyer les identifians de connexion</a>
				</div>
			</div>
		</div>

		<div class="x_title">
			<h2>
				<i class="fa fa-chevron-right"></i>INFORMATIONS CONDUCTEUR(S)
			</h2>
			<div class="clearfix"></div>
		</div>
		<div class="x_content ">
			{% if reservation.conducteursClient|length < 2 %}
				<div class="text-center">

					<a href="{{ path('add_conducteur', {'reservation' : reservation.id}) }}" type="submit" class="btn btn-primary">
						<i class="fa fa-plus"></i>
						Ajouter conducteur</a>
				</div>
			{% endif %}

			{# conducteurs du client #}
			{% set i = 1 %}
			{% for conducteur in reservation.conducteursClient %}

				<div class="x_title">
					<h4 class="text-danger font-weight-bold mb-0">Conducteur n°
						{{ i }}</h4>
				</div>
				{# <p class="text-success font-weight-bold font-italic">Conducteur principal</p> #}
				<div class="row info_conducteur">
					<div class="col-md-3">
						<span class="">
							<strong>
								Nom/Prénom :{{ conducteur.nom }}
							</strong>
							{{ conducteur.prenom }}
						</span>
					</div>
					<div class="col-md-3">
						<span class="">
							<strong>Permis :
							</strong>
							{{ conducteur.numeroPermis }}
						</span>
					</div>
					<div class="col-md-3">
						<span class="">
							<strong>Obtention :</strong>
							{{ conducteur.dateObtention|date('d/m/Y') }}
						</span>
					</div>
					<div class="col-md-3">
						<span class="">
							<strong>Date délivrance :</strong>
							{{ conducteur.dateDelivrance|date('d/m/Y') }}
						</span>
					</div>
					<div class="col-md-3">
						<span class="">
							<strong>Ville délivrance :</strong>
							{{ conducteur.villeDelivrance }}
						</span>
					</div>
					<div class="col-md-3">
						<span class="">
							<strong>Date de naissance :</strong>
							{{ conducteur.dateNaissance|date('d/m/Y') }}
						</span>
					</div>
					<div class="col-md-3">
						<span class="">
							<strong>Ville de naissance :</strong>
							{{ conducteur.villeNaissance }}
						</div>
						<div class="col-md-3">
							<a class="btn btn-warning" href="{{ path('reservation_conducteur_edit', {'id' : conducteur.id, 'reservation' : reservation.id}) }}">
								<i class="fa fa-reply"></i>
							</a>
							<form method="post" action="{{ path('reservation_conducteur_delete', {'id': conducteur.id, 'reservation' : reservation.id}) }}" onsubmit="return confirm('Êtes-vous sûre de vouloir supprimer ce conducteur ?');">
								<input type="hidden" name="_method" value="DELETE">
								<input type="hidden" name="reservation" value="{{ reservation.id }}">

								<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ conducteur.id) }}">
								<button class="btn btn-danger">
									<i class="fa fa-close (alias)" aria-hidden="true"></i>
								</button>
							</form>
						</div>
					</div>
					{% set i = i + 1 %}
				{% endfor %}
				{% set i = 1 %}

			</div>

			{# périod de location #}
			<div class="x_title">
				<h2>
					<i class="fa fa-chevron-right"></i>période de location
				</h2>

				<div class="clearfix"></div>
			</div>
			<div class="x_content periode_location">
				<div class="row">
					<div class="col-md-6">
						<span class="label_periode">Départ :</span>
						<br>
						<span class="js-agenceDepart">{{ reservation.agenceDepart }}
						</span>
						<br>
						<span class="js-dateDepart">{{ reservation.dateDebut|date('d-m-Y H:i') }}</span>
					</div>
					<div class="col-md-6">
						<span class="label_periode">Retour :</span>
						<br>
						<span class="js-agenceRetour">{{ reservation.agenceRetour }}
						</span>
						<br>
						<span class="js-dateRetour">{{ reservation.dateFin|date('d-m-Y H:i') }}</span>

					</div>
					<div class="col-md-6">
						<span class="label_periode">
							Vol arrivée :
						</span>
						<br>
						{{ reservation.client.infosVolResa ? reservation.client.infosVolResa.numVolRetour : "" }}
					</div>
					<div class="col-md-6">
						<strong class="label_periode">Vol retour :</strong>
						<br>
						{{ reservation.client.infosVolResa ? reservation.client.infosVolResa.numVolAller : "" }}

					</div>
					<div class="col-md-6">
						<span class="label_periode">Nombre de personne :</span>
						<br>
						{% if reservation.client.infosResa %}
							Adulte(s):
							{{ reservation.client.infosResa.nbrAdultes }}
						{% else %}
							Adulte(s):--
						{% endif %}

						{% if reservation.client.infosResa %}
							Enfant(s):
							{{ reservation.client.infosResa.nbrEnfants }},
						{% else %}
							Enfant(s): --

						{% endif %}
						{% if reservation.client.infosResa %}
							Bébé(s):
							{{ reservation.client.infosResa.nbrBebes }}
						{% else %}
							Bébé(s): 0,
						{% endif %}
					</div>
					<div class="col-md-6">
						<span class="label_periode">Note client :</span>
						<div class="alert alert-secondary" role="alert"></div>
					</div>
					<div class="col-md-6">
						<span class="label_periode">Informations internes :</span>
						<div class="alert alert-secondary" role="alert"></div>
					</div>
					<div class="col-md-6">
						<span class="label_periode">Motif annulation :</span>
						<div class="alert alert-secondary" role="alert"></div>
					</div>

				</div>
				<div>
					<h3 class="text-center">
						SOIT
						<span class="js-duree" style="color:red">{{ reservation.duree }}
							JOUR(S)</span>
						DE LOCATION
					</h3>
				</div>
			</div>
			{# options et garanties souscrites #}
			<div class="x_title">
				<h2>
					<i class="fa fa-chevron-right"></i>options et garanties souscrites
				</h2>
				<div class="clearfix"></div>
			</div>
			<div class="x_content options_garanties">
				<p class="font-weight-bold label">
					Option(s) souscrite(s):
				</p>
				<ul class="">
					{% if reservation.conducteur ==1 %}
						<li>Conducteur</li>

					{% endif %}
					{% for option in reservation.options %}

						<li class="js-siege">{{ option }}</li>
					{% endfor %}
				</ul>
				{# <p class="font-italic">Aucune option souscrite.</p> #}
				<p class="font-weight-bold label">
					Garantie(s) souscrite(s):
				</p>
				{% for gar in reservation.garanties %}

					<p class="js-garantie">{{ gar }}</p>
				{% endfor %}
				{# <p class="font-italic">Aucune garantie souscrite.</p> #}
				<p class="font-weight-bold label">
					Taxes de dépassement horaire
				</p>
				<p class="font-italic">Pas de dépassement d'horaire</p>

			</div>
			<div class="x_title">
				<h2>
					<i class="fa fa-chevron-right"></i>Frais supplémentaires
				</h2>
				<div class="clearfix"></div>
			</div>
			<div
				class="x_content mb-5">
				{# options et garanties souscrites #}


				{% form_theme formCollectionFraisSupplResa _self %}

				{{form_start(formCollectionFraisSupplResa)}}
				<div class="form-group">
					<table class="table table-bordered {% if reservation.fraisSupplResas|length == 0 %} hide {% endif %} " id="frais-table">
						<thead>
							<tr>
								<th>Description</th>
								<th>Prix u.</th>
								<th>Quantité</th>
								<th>Prix HT</th>
								<th>Actions</th>
							</tr>
						</thead>
						<tbody>

							{{form_widget(formCollectionFraisSupplResa)}}

						</tbody>
					</table>
				</div>
				<button id="btnSaveFrais" class="btn btn-danger {% if reservation.fraisSupplResas|length == 0 %} hide {% endif %}" type="submit">Enregistrer</button>
				{{form_end(formCollectionFraisSupplResa)}}</tr>
		</div>
		{# Montant de la reservation #}
		<div class="x_title">
			<div class="row">
				<div class="col-auto pl-2">
					<h2>
						<i class="fa fa-chevron-right"></i>montant de la réservation TTC
					</h2>
				</div>
				<div class="col-auto ml-auto d-flex align-items-center">
					<div class="js-prix">
						{{ (prixResaTTC + totalFraisTTC)|number_format(2,","," ") }}
						€
					</div>
				</div>
			</div>
			<div class="clearfix"></div>
		</div>
		<div class="x_content ">
			<div class="row">
				<div class="col-md-8 col-sm-8 col-xs-8">
					<i class="fa fa-chevron-right"></i>Location NDMR
					{{ reservation.duree }}
					jours
				</div>
				<div class="col-md-4 col-sm-4 col-xs-4">
					<div class="text-right">
						{{ reservation.tarifVehicule|number_format(2,","," ") }}€
					</div>
				</div>

				<div class="col-md-8 col-sm-8 col-xs-8">
					<i class="fa fa-chevron-right"></i>Total dépassements horaires
				</div>
				<div class="col-md-4 col-sm-4 col-xs-4">
					<div class="text-right">
						0.00 €
					</div>
				</div>

				<div class="col-md-8 col-sm-8 col-xs-8">
					<i class="fa fa-chevron-right"></i>Total options souscrites
				</div>
				<div class="col-md-4 col-sm-4 col-xs-4">
					<div class="text-right">{{ reservation.prixOptions|number_format(2,","," ") }}€</div>
				</div>

				<div class="col-md-8 col-sm-8 col-xs-8">
					<i class="fa fa-chevron-right"></i>Total garanties souscrites

				</div>
				<div class="col-md-4 col-sm-4 col-xs-4">
					<div class="text-right">
						{{ reservation.prixGaranties|number_format(2,","," ") }}
						€
					</div>
				</div>
				<div class="col-md-8 col-sm-8 col-xs-8">
					<i class="fa fa-chevron-right"></i>Montant frais supplémentaires HT
				</div>
				<div class="col-md-4 col-sm-4 col-xs-4">
					<div class="text-right">
						{{totalFraisHT|number_format(2,","," ")}}
						€
					</div>
				</div>

				<div class="col-md-8 col-sm-8 col-xs-8">
					<i class="fa fa-chevron-right"></i>Montant à régler TTC
				</div>
				<div class="col-md-4 col-sm-4 col-xs-4">
					<div class="text-right">
						{{ (totalFraisTTC + prixResaTTC)|number_format(2,","," ") }}
						€
					</div>
				</div>


			</div>

		</div>

		{# options et garanties souscrites #}
		<div class="x_title">
			<h2>
				<i class="fa fa-chevron-right"></i>réglement(s)
			</h2>
			<div class="clearfix"></div>
		</div>
		<div class="x_content">

			{% if reservation.sommePaiements < totalResaFraisTTC %}
				<div class="d-flex justify-content-end">
					<div class="btn-group mb-1">
						<button type="button" class="btn btn-danger dropdown-toggle font-weight-bold " data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Autre réglement
						</button>
						<div class="dropdown-menu">
							<button class="dropdown-item" id="btnAjouterPaiement">Ajouter un paiement</button>
							{# <button class="dropdown-item" id="btnRelancePaiementSolde">Relance paiement solde</button> #}
							{% if appelPaiement is not null %}
								<a type="button" href="{{ path('envoi_email_appel_paiement_index', {'id': appelPaiement.id}) }}" class="dropdown-item">
									Relance paiement solde
								</a>
							{% endif %}
						</div>
					</div>
				</div>
			{% endif %}
			<div id="formAjoutPaiement" class="hide">
				{{ form_start(formAjoutPaiement) }}
				<div class="row">
					<div class="col-md-3">
						<label for="">Mode paiement :
						</label>
						{{ form_widget(formAjoutPaiement.modePaiement) }}
					</div>
					<div class="col-md-3">
						<label for="">Montant :
						</label>
						{{ form_widget(formAjoutPaiement.montant) }}
					</div>
					<div class="col-2">
						<label for="" class="text-white">d</label><br>
						<button type="submit" class="btn btn-danger">Enregistrer</button>
					</div>
				</div>
				{{ form_end(formAjoutPaiement) }}
			</div>
			<table class="table table-bordered text-center mt-2">
				<thead class="bg-dark text-white text-uppercase">
					<tr>
						<th>date</th>
						<th>type</th>
						<th>méthode</th>
						<th>référence</th>
						<th>montant</th>
						<th>motif</th>
						<th>action</th>
					</tr>
				</thead>
				<tbody>
					{% if reservation.paiements|length > 0 %}
						{% for paiement in reservation.paiements %}
							<tr>
								<td>{{ paiement.datePaiement|date('d/m/Y H:i') }}</td>
								<td>Débit</td>
								<td>{{ paiement.modePaiement.libelle }}</td>
								<td></td>
								<td>{{ paiement.montant|number_format(2,","," ") }}</td>
								<td></td>
								<td>
									<form method="post" action="{{ path('reservation_paiement_delete', {'id': paiement.id, 'reservation' : reservation.id}) }}" onsubmit="return confirm('Êtes-vous sûre de vouloir supprimer ce paiement ?');">
										<input type="hidden" name="_method" value="DELETE">
										<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ paiement.id) }}">
										<button class="btn btn-danger">
											<i class="fa fa-trash (alias)" aria-hidden="true"></i>
											Supprimer
										</button>
									</form>
								</td>
							</tr>
						{% endfor %}
					{% else %}
						<tr>
							<td colspan="7">
								Aucun paiement effectué
							</td>
						</tr>

					</td>
				{% endif %}
			</tbody>
		</table>

		<div class="row">
			<div class="col-md-8 col-sm-8 col-xs-8">
				<i class="fa fa-chevron-right"></i>Total des règlements effectués :
			</div>

			<div class="col-md-4 col-sm-4 col-xs-4">
				<div class="text-right">
					{{ reservation.sommePaiements|number_format(2,","," ") }}€
				</div>
			</div>

			<div class="col-md-8 col-sm-8 col-xs-8">
				<i class="fa fa-chevron-right"></i>Solde
			</div>
			<div class="col-md-4 col-sm-4 col-xs-4">
				<div class="text-right">
					{{ ((totalFraisTTC + prixResaTTC) - reservation.sommePaiements)|number_format(2,","," ") }}€
				</div>
			</div>
		</div>


		{# avis client #}
		<div class="x_title">
			<h2>
				<i class="fa fa-chevron-right"></i>avis client
			</h2>
			<div class="clearfix"></div>
		</div>

		{% if reservation.avis %}

			<div class="x_content">
				<div class="row">
					<div class="col-md-4">
						<div class="row">
							<div class="col-auto">
								Global
							</div>
							<div class="col-auto">
								<div class="x_content">
									{% for i in 1..(reservation.avis.global) %}
										<i class="fa fa-star"></i>
									{% endfor %}
									{% if reservation.avis.global != 5 %}
										{% for j in 1..(5 - reservation.avis.global) %}
											<i class="fa fa-star-o"></i>
										{% endfor %}
									{% endif %}
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="row">
							<div class="col-auto">
								Ponctualité
							</div>
							<div class="col-auto">
								<div class="x_content">
									{% for i in 1..(reservation.avis.ponctualite) %}
										<i class="fa fa-star"></i>
									{% endfor %}
									{% if reservation.avis.ponctualite != 5 %}
										{% for j in 1..(5 - reservation.avis.ponctualite) %}
											<i class="fa fa-star-o"></i>
										{% endfor %}
									{% endif %}
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="row">
							<div class="col-auto">
								Accueil
							</div>
							<div class="col-auto">
								<div class="x_content">
									{% for i in 1..(reservation.avis.accueil) %}
										<i class="fa fa-star"></i>
									{% endfor %}
									{% if reservation.avis.accueil != 5 %}
										{% for j in 1..(5 - reservation.avis.accueil) %}
											<i class="fa fa-star-o"></i>
										{% endfor %}
									{% endif %}
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="row">
							<div class="col-auto">
								Service:
							</div>
							<div class="col-auto">
								<div class="x_content">
									{% for i in 1..(reservation.avis.service) %}
										<i class="fa fa-star"></i>
									{% endfor %}
									{% if reservation.avis.service != 5 %}
										{% for j in 1..(5 - reservation.avis.service) %}
											<i class="fa fa-star-o"></i>
										{% endfor %}
									{% endif %}
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		{% else %}
			<div class="text-center">
				Aucun avis pour cette réservation
			</div>
		{% endif %}
	</div>
	<!-- Large modal -->
	{# <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-lg">Large modal</button> #}
	{% include "admin/reservation/crud/modal/modalKM.html.twig" %}
	{% include "admin/reservation/crud/modal/modalReportReservation.html.twig" %}
	{# modal pour annulation #}
	{% include "admin/reservation/crud/modal/modalAnnulation.html.twig" %}
	{# fin modal #}
{% endblock %}{# block representant personnalisation affichage du champ collection_frais_suppl_resa #}{#form represente le champ addfrais #}{% block collection_frais_suppl_resa_widget  %}

	{{form_widget(form)}}
	<div class="form-group">
		<button type="button" id="add-frais" class="btn btn-secondary">Ajouter ligne</button>
	</div>
{% endblock %}
{% block collection_entry_row %}
	{{form_widget(form)}}
{% endblock %}{# pour chaque entry -> sous champs dans fraistype #}{# form dans le bloc represente une entry (un sous champ) #}{% block collection_entry_widget %}
	<tr id="block_{{id}}" class="table-ligne text-center">
		<td>{{form_widget(form.description)}}</td>
		<td style="width : 80px">{{form_widget(form.prixUnitaire, {attr:{'class':'prixUnitaire'}})}}</td>
		<td style="width : 80px">{{form_widget(form.quantite, {attr:{'class':'quantite'}})}}</td>
		<td style="width : 80px">{{form_widget(form.totalHT, {attr:{'class':'totalHT'}})}}</td>
		<td style="width : 120px">
			<button title="Supprimer" class="btn btn-danger" type="button" data-action="delete" data-target="block_{{id}}" onclick="return confirm('Voulez-vous supprimer cette ligne?')">
				<i class="fa fa-trash"></i>
			</button>
		</td>
	</tr>
{% endblock %}
{% block javascripts %}<!-- Datatables --><script src="{{ asset('admin/vendors/datatables.net/js/jquery.dataTables.min.js') }}"></script>
	<script src="{{ asset('admin/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js') }}"></script>
	<script src="{{ asset('admin/vendors/datatables.net-buttons/js/dataTables.buttons.min.js') }}"></script>
	<script src="{{ asset('admin/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js') }}"></script>
	<script src="{{ asset('admin/vendors/datatables.net-buttons/js/buttons.flash.min.js') }}"></script>
	<script src="{{ asset('admin/vendors/datatables.net-buttons/js/buttons.html5.min.js') }}"></script>
	<script src="{{ asset('admin/vendors/datatables.net-buttons/js/buttons.print.min.js') }}"></script>
	<script src="{{ asset('admin/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js') }}"></script>
	<script src="{{ asset('admin/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js') }}"></script>
	<script src="{{ asset('admin/vendors/datatables.net-responsive/js/dataTables.responsive.min.js') }}"></script>
	<script src="{{ asset('admin/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js') }}"></script>
	<script src="{{ asset('admin/vendors/datatables.net-scroller/js/dataTables.scroller.min.js') }}"></script>
	<script src="{{ asset('admin/vendors/jszip/dist/jszip.min.js') }}"></script>
	<script src="{{ asset('admin/vendors/pdfmake/build/pdfmake.min.js') }}"></script>
	<script src="{{ asset('admin/vendors/pdfmake/build/vfs_fonts.js') }}"></script>
	<script src="{{ asset('js/admin/jspdf.min.js') }}"></script>
	<script src="{{ asset('js/admin/jspdf.plugin.autotable.js') }}"></script>
	<script src="{{ asset('js/admin/factureJsPDF.js') }}"></script>
	{% if reservation.sommePaiements < totalResaFraisTTC %}
		<script src="{{ asset('js/admin/reservation/ajout_paiement.js') }}"></script>
		<script src="{{ asset('js/admin/reservation/relance_paiement_solde.js') }}"></script>
		<script src="{{ asset('js/admin/reservation/ajout_frais.js') }}"></script>
	{% endif %}
	{# generer facture avec jsPDf mais doomPDF est plus pratique à cause des conditions à considerer #}
	{# // <script src="{{asset('js/admin/reservation/generer_facture.js')}}"></script> #}

	<script src="{{asset('js/admin/reservation/frais_suppl_resa.js')}}"></script>
{% endblock %}
