{% extends 'base2.html.twig' %}

{% block title %}Agence index{% endblock %}

{% block body %}
    <h1>Liste des Agences</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Présentation</th>
                <th>Mail</th>
                <th>Téléphone</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for agence in agences %}
            <tr>
                <td>{{ agence.id }}</td>
                <td>{{ agence.nom }}</td>
                <td>{{ agence.presentation }}</td>
                <td>{{ agence.mail }}</td>
                <td>{{ agence.telephone }}</td>
                <td>
                    <a href="{{ path('agence_show', {'id': agence.id}) }}">Visionner</a>
                    <a href="{{ path('agence_edit', {'id': agence.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Aucun enregistrement trouver</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('agence_new') }}">Ajouter</a>
{% endblock %}
