{% extends 'baseClient.html.twig' %}

{% block title %}
	page client
{% endblock %}
{% block stylesheets %}{% endblock %}
{% block body %}
	<div class="x_panel">
		<h3>Réservation en cours</h3>
		<div class="clearfix"></div>
		<div class="x_title"></div>
		<table class="table">
			<thead>
				<tr>
					<th>Référence
					</th>
					<th>Date de création</th>
					<th>Réservation/véhicule</th>
					<th>Dates/Durée</th>
					<th>Prix</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				{% for reserv in reservation_en_cours %}
					<tr>
						<td>{{ reserv.reference }}</td>
						<td>{{ reserv.dateReservation|date('d/m/Y - H:i') }}</td>
						<td>{{ reserv.vehicule.marque}}
							{{ reserv.vehicule.modele}}</td>
						<td>{{ reserv.dateDebut|date('d/m/Y - H:i')  }}<br>
							<span class="text-center font-italic">
								{{ reserv.duree}}
								jours
							</span>
						</td>
						<td>{{ reserv.prix }}
							€</td>
						<td>
							{% if reserv.prix > reserv.sommePaiements %}
								<form action="{{path('paiement_sold')}}" method="POST">
									<input type="hidden" name="montantSolde" value="{{reserv.prix - reserv.sommePaiements}}">
									<input type="hidden" name="reservation" value="{{reserv.id}}">
									<button class="btn btn-danger">Payer solde
										{{reserv.prix - reserv.sommePaiements}}€</button>
								</form>
							{% endif %}
							<div class="mt-2">
								<a href="{{path('add_avis', {'id': reserv.id})}}" class="btn btn-dark">Donner avis</a>
							</div>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
	<div class="x_panel">

		<h3>Devis</h3>
		<div class="clearfix"></div>
		<div class="x_title"></div>
		<table class="table">
			<thead>
				<tr>
					<th>Numéro Devis</th>
					<th>Date de création</th>
					<th>Réservation/véhicule</th>
					<th>Dates/Durée</th>
					<th>Prix</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				{% for reserv in devis %}

					<tr>
						<td id="devisID " class="hide">{{reserv.id}}</td>
						<td>{{ reserv.numero }}</td>
						<td>{{ reserv.dateCreation ? reserv.dateCreation|date('d/m/Y - H:i') : '' }}</td>
						<td>{{ reserv.vehicule.marque}}
							{{ reserv.vehicule.modele}}</td>
						<td>{{ reserv.dateDepart ? reserv.dateDepart|date('d/m/Y - H:i') : '' }}/
							{{ reserv.duree}}
							jours
						</td>
						<td>{{ reserv.prix }}
							€</td>
						<td class=" d-flex justify-content-center ">
							<div class="row">
								<div class="col-auto m-0 p-0">
									<a id="telechargerDevis">
										<i class="fa fa-arrow-circle-o-down" style="font-size: 1.5em !important;"></i>
									</a>
								</div>
								<div class="col-auto m-0 p-0">
									<form method="post" action="{{ path('validation_step2') }}">
										<input type="hidden" name="reservID" value="{{reserv.id}}">
										<button class="btn btn-link m-0 p-0" style=" -webkit-appearance: none">
											<i class="fa fa-check" style="font-size: 1.5em !important;"></i>
										</button>
									</form>
								</div>
							</div>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</tbody>
	</table>
</div>

<div class="x_panel">
	<h3>Réservations à venir</h3>
	<div class="clearfix"></div>
	<div class="x_title"></div>

	<table class=" table">
		<thead>
			<tr>
				<th>Numéro Devis</th>
				<th>Date de création</th>
				<th>Réservation/véhicule</th>
				<th>Dates/Durée</th>
				<th>Prix</th>
			</tr>
		</thead>
		<tbody>
			{% for reserv in res_attente_dateDebut %}
				<tr>
					<td>{{ reserv.reference }}</td>
					<td>{{ reserv.dateReservation ? reserv.dateReservation|date('d/m/Y - H:i') : '' }}</td>
					<td>{{ reserv.vehicule.marque}}
						{{reserv.vehicule.modele}}
					</td>
					<td>{{ reserv.dateDebut ? reserv.dateDebut|date('d/m/Y - H:i ') : '' }}/<br>
						<span class="text-center font-italic">
							{{ reserv.duree}}
							jours
						</span>
					</td>
					<td>{{ reserv.prix }}
						€</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

</div>


<div class="x_panel">
	<h3>Réservations réalisées</h3>
	<div class="clearfix"></div>
	<div class="x_title"></div>


	<table class="table">
		<thead>
			<tr>
				<th>Référence</th>
				<th>Date de création</th>
				<th>Réservation/véhicule</th>
				<th>Dates/Durée</th>
				<th>Prix</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody>
			{% for reserv in reservation_effectuers %}
				<tr>
					<td>{{ reserv.reference }}</td>
					<td>{{ reserv.dateReservation|date('d/m/Y - H:i') }}</td>
					<td>{{ reserv.vehicule.marque}}
						{{ reserv.vehicule.modele}}
						{{reserv.vehicule.immatriculation}}</td>
					<td>{{ reserv.dateDebut|date('d/m/Y - H:i')  }}
						<br>
						<span class="text-center font-italic">
							{{ reserv.duree}}
							jours
						</span>
					</td>
					<td>{{ reserv.prix }}
						€</td>
					<td>
						{% if reserv.avis == null %}
							<div class="mt-2">
								<a href="{{path('add_avis', {'id': reserv.id})}}" class="btn btn-dark">Donner avis</a>
							</div>
							{% else %}

						{% endif %}
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

</div>{% endblock %}{% block javascripts %}
<script src="{{ asset( 'js/admin/jspdf.min.js')}}"></script>
<script src="{{ asset( 'js/admin/jspdf.plugin.autotable.js')}}"></script>
<script src="{{ asset( 'js/admin/devisJsPDF.js')}}"></script>
<script src="{{ asset( 'js/client/reservation.js')}}"></script>{% endblock %}
