<div class="modal fade modalKM" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="myModalLabel">
					<i class="fa fa-plus"></i>
					Ajouter un conducteur à la réservation</h5>
				<button type="button" class="close" data-dismiss="modal">
					<span aria-hidden="true">×</span>
				</button>
			</div>
			<form action="{{path('client_add_conducteur', {'reference': reservation.reference})}}" method="POST">
				<div class="modal-body">
					<label>Sélectionner un conducteur à ajouter à la réservation :</label>
					<select id="monselect" class="form-control" name="conducteur">
						{% for conducteur in conducteurs %}
							<option value="{{conducteur.id}}">{{conducteur.nom}}
								{{conducteur.prenom}}</option>
						{% endfor %}
					</select>
					Le conducteur recherché n'est pas dans la liste ci-desssus?
					<a href="{{path('client_newConducteur')}}">Cliquez-ici</a>
				</div>
				<div class="modal-footer">
					<button class="btn btn-dark" data-dismiss="modal">
						<i class="fa fa-close"></i>
						Annuler</button>
					<button class="btn btn-danger" type="submit">
						<i class="fa fa-save"></i>
						Valider
					</button>
				</div>
			</form>
		</div>
	</div>
</div>
