{% extends 'base2.html.twig' %}

{% block title %}Détails reservation
{% endblock %}


{% block stylesheets %}
	<!-- Datatables -->
	<link href="../../admin/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
	<link href="../../admin/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css" rel="stylesheet">
	<link href="../../admin/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css" rel="stylesheet">
	<link href="../../admin/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" rel="stylesheet">
	<link
	href="../../admin/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css" rel="stylesheet">
	<!-- Font Awesome -->
	<link href="../../admin/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
	<link href="../../css/admin/detail.css" rel="stylesheet">

{% endblock %}

{% block current_page %}
	<div class="text-info">
		<i class="fa fa-folder-open"></i>
		Détails de la réservation -
		<br>
		<span>{{reservation.reference}}</span>
	</div>
{% endblock %}

{% block current_page_right %}
	<div class="font-weight-bold">
		<span class="text-info">
			<i class="fa fa-dashboard"></i>
			Tableau de bord
		</span>
		> Détails de la réservation
	</div>
{% endblock %}


{% block content %}
	<!-- div contenant extra information utile pour javascript -->
	<div class="hide">
		<span class="js-vehCarb">{{reservation.vehicule.carburation}}</span>
		<span class="js-vehIM">{{reservation.vehicule.immatriculation}}</span>
	</div>

	<div class="x_panel">

		<div class="btn-group mb-4">
			<button type="button" class="btn btn-warning dropdown-toggle text-white font-weight-bold" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				Réservation
			</button>
			<div class="dropdown-menu">
				<a class="dropdown-item" href="#">Reporter la réservation</a>
				<a class="dropdown-item" href="#">Mail de confirmation</a>
				<a class="dropdown-item" href="#">Annuler la réservation</a>
				<a class="dropdown-item" href="#">Fermer le contrat</a>
				<a class="dropdown-item" href="#">Archiver la réservation</a>
			</div>
		</div>

		<div class="x_title mb-0">
			<h2>
				<i class="fa fa-chevron-right"></i>INFORMATIONS CLIENT
			</h2>
			<div class="clearfix"></div>
		</div>
		{# <div class="x_content"></div> #}
		<div>
			<button type="button" class="btn btn-outline-dark text-uppercase p-1" data-toggle="modal" data-target=".modalKM">
				<i class="fa  fa-car"></i>
				kilometrage</button>

			<button type="button" id="genererContratPDF" class="btn btn-outline-danger text-uppercase p-1">
				<i class="fa fa-newspaper-o"></i>
				Générer le contrat</button>


			<button type="button" class="btn btn-outline-info text-uppercase p-1" id='genererFacturePDF'>
				<i class="fa fa-send (alias)"></i>
				générer facture</button>

		</div>
		<div class="row mt-3">
			<div class="col-md-2">
				<img src="{{vich_uploader_asset(reservation.vehicule, 'imageFile') }}" alt="{{ reservation.vehicule.image }}" class="img-circle  " style="width : 180px;">

			</div>
			<div class="col-md-10 info_client">
				<div class="row">
					<div class="col-md-4">
						<span class="label_client">Client :</span>
						<span class="js-prenom_client">{{reservation.client.prenom}}
							<span class="js-nom_client">{{reservation.client.nom}}</span>
						</span>
					</div>
					<div class="col-md-4">
						<span class="label_client">Email :</span>
						<span class="js-email_client">{{reservation.client.mail}}</span>
					</div>
					<div class="col-md-4">
						<span class="label_client">Téléphone(s):</span>
						<span class="js-tel_client">{{reservation.client.telephone}}</span>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<span class="label_client">adresse:</span>
						<span class="js-adresse_client">{{reservation.client.adresse}}</span>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4">
						<span class="label_client">Référence :</span>
					</div>
					<div class="col-md-4">
						<span class="label_client">Date de création :</span>
						<span>{{reservation.dateReservation|date('d-m-Y H:i')}}</span>
					</div>
					<div class="col-md-4">
						<span class="label_client">Catégorie :</span>
						<span class="js-categorie">{{reservation.vehicule.marque}}{{reservation.vehicule.modele}}</span>
					</div>
				</div>

				<div class="row">
					<div class="col-md-4">
						<span class="label_client">Véhicule :</span>
						<span class="js-vehicule">{{reservation.vehicule.marque}}{{reservation.vehicule.modele}}</span>
						<span class="js-idVehicule hide">{{reservation.vehicule.id}}</span>
					</div>
					<div class="col-md-4">
						<span class="label_client">Code affilié :</span>
					</div>

				</div>

				<div class="row">

					<div class="col-md-4">
						<span class="label_client">Destination :</span>
					</div>
				</div>
				<div class="row">
					<div class="col-md-3">
						<span class="label_client">Km départ :</span>
					</div>
					<div class="col-md-3">
						<span class="label_client">Km retour :</span>
					</div>
					<div class="col-md-3">
						<span class="label_client">Date mise à jour km :</span>
					</div>
					<div class="col-md-3">
						<span class="label_client">Km saisie par :</span>
					</div>
				</div>
				<div class=" text-center">
					<a type="button" class="btn btn-primary text-nowrap" href="{{path('client_edit', {'id': reservation.client.id})}}">
						<i class="fa fa-user mr-1"></i>Modifier les informations</a>
					<button type="button" class="btn btn-dark text-nowrap">
						<i class="fa fa-reply-all mr-1"></i>Retour anticipé</button>
					<a type="button" class="btn btn-warning text-nowrap" href="{{path('reservation_edit', {'id': reservation.id} ) }}">
						<i class="fa fa-cog"></i>
						Modifier la réservation</a>
					<a type="button" class="btn btn-danger text-nowrap" href="{{path('reservation_edit', {'id': reservation.id} ) }}">
						<i class="fa fa-edit (alias)"></i>
						Modifier les options & garanties</a>

					<button type="button" class="btn btn-violet text-nowrap">
						<i class="fa  fa-send-o (alias)"></i>
						Envoyer les identifians de connexion</button>
				</div>
			</div>
		</div>

		<div class="x_title">
			<h2>
				<i class="fa fa-chevron-right"></i>INFORMATIONS CONDUCTEUR(S)
			</h2>

			<div class="clearfix"></div>
		</div>
		<div class="x_content ">
			<div class="text-center">
				<button class="btn btn-primary" id="ajouterConducteur">
					<i class="fa fa-plus"></i>
					Ajouter conducteur</button>
			</div>

			<div class="x_title">
				<h4 class="text-danger font-weight-bold mb-0">Conducteur n°1</h4>
			</div>
			<p class="text-success font-weight-bold font-italic">Conducteur principal</p>
			<div class="row info_conducteur">
				<div class="col-md-3">
					<span class="label_conducteur">Nom/Prénom :</span>
				</div>
				<div class="col-md-3">
					<span class="label_conducteur">Permis :</span>
				</div>
				<div class="col-md-3">
					<span class="label_conducteur">Obtention :</span>
				</div>
				<div class="col-md-3">
					<span class="label_conducteur">Date délivrance :</span>
				</div>
				<div class="col-md-3">
					<span class="label_conducteur">Ville délivrance :</span>
				</div>
				<div class="col-md-3">
					<span class="label_conducteur">Date de naissance :</span>
				</div>
				<div class="col-md-3">
					<span class="label_conducteur">Ville de naissance :</span>
				</div>
				<div class="col-md-3">
					<button class="btn btn-warning">
						<i class="fa fa-reply"></i>
					</button>
					<button class="btn btn-danger">
						<i class="fa fa-close (alias)"></i>
					</button>
				</div>
			</div>


		</div>

		{# périod de location #}
		<div class="x_title">
			<h2>
				<i class="fa fa-chevron-right"></i>période de location
			</h2>

			<div class="clearfix"></div>
		</div>
		<div class="x_content periode_location">
			<div class="row">
				<div class="col-md-6">
					<span class="label_periode">Départ :</span>
					<p class="js-agenceDepart">{{reservation.agenceDepart}}
					</p>
					<span class="js-dateDepart">{{reservation.dateDebut|date('d-m-Y H:i')}}</span>
				</div>
				<div class="col-md-6">
					<span class="label_periode">Retour :</span>
					<p class="js-agenceRetour">{{reservation.agenceRetour}}
					</p>
					<span class="js-dateRetour">{{reservation.dateFin|date('d-m-Y H:i')}}</span>

				</div>
				<div class="col-md-6">
					<span class="label_periode">
						Vol arrivée :</span>
				</div>
				<div class="col-md-6">
					<span class="label_periode">Vol retour :</span>
				</div>
				<div class="col-md-6">
					<span class="label_periode">Nombre de personne :</span>
				</div>
				<div class="col-md-6">
					<span class="label_periode">Note client :</span>
					<div class="alert alert-secondary" role="alert"></div>
				</div>
				<div class="col-md-6">
					<span class="label_periode">Informations internes :</span>
					<div class="alert alert-secondary" role="alert"></div>
				</div>
				<div class="col-md-6">
					<span class="label_periode">Motif annulation :</span>
					<div class="alert alert-secondary" role="alert"></div>
				</div>

			</div>
			<div>
				<h3 class="text-center">
					SOIT
					<span class="js-duree" style="color:red">{{reservation.duree}}
						JOURS</span>
					DE LOCATION
				</h3>
			</div>
		</div>
		{# options et garanties souscrites #}
		<div class="x_title">
			<h2>
				<i class="fa fa-chevron-right"></i>options et garanties souscrites
			</h2>
			<div class="clearfix"></div>
		</div>
		<div class="x_content options_garanties">
			<p class="font-weight-bold label">
				Option(s) souscrite(s):
			</p>
			{% if reservation.conducteur ==1 %}
				<p>Conducteur : Oui</p>
			{% else %}
				<p>Conducteur : Non</p>
			{% endif %}

			{% for opt in reservation.options %}
				<p class="js-siege">{{opt}}</p>

			{% endfor %}
			{# <p class="font-italic">Aucune option souscrite.</p> #}
			<p class="font-weight-bold label">
				Garantie(s) souscrite(s):
			</p>
			{% for gar in reservation.garanties %}

				<p class="js-garantie">{{gar}}</p>
			{% endfor %}
			{# <p class="font-italic">Aucune garantie souscrite.</p> #}
			<p class="font-weight-bold label">
				Taxes de dépassement horaire
			</p>
			<p class="font-italic">Pas de dépassement d'horaire</p>

		</div>

		{# Montant de la reservation #}
		{# Montant de la reservation #}
		<div class="x_title">
			<div class="row">
				<div class="col-auto pl-2">
					<h2>
						<i class="fa fa-chevron-right"></i>montant de la réservation
					</h2>
				</div>
				<div class="col-auto ml-auto d-flex align-items-center">
					<div class="js-prix">
						{{reservation.prix}}
						€
					</div>
				</div>
			</div>
			<div class="clearfix"></div>
		</div>
		<div class="x_content ">
			<div class="row">
				<div class="col-md-8 col-sm-8 col-xs-8">
					<i class="fa fa-chevron-right"></i>Location NDMR
					{{ reservation.duree }}
					jours
				</div>
				<div class="col-md-4 col-sm-4 col-xs-4">
					<div class="text-right">
						{{tarifVehicule}}€
					</div>
				</div>

				<div class="col-md-8 col-sm-8 col-xs-8">
					<i class="fa fa-chevron-right"></i>Total dépassements horaires
				</div>
				<div class="col-md-4 col-sm-4 col-xs-4">
					<div class="text-right">
						0 €
					</div>
				</div>

				<div class="col-md-8 col-sm-8 col-xs-8">
					<i class="fa fa-chevron-right"></i>Total options souscrites
				</div>
				<div class="col-md-4 col-sm-4 col-xs-4">
					<div class="text-right">{{tarifGaranties}}€</div>
				</div>

				<div class="col-md-8 col-sm-8 col-xs-8">
					<i class="fa fa-chevron-right"></i>Total garanties souscrites

				</div>
				<div class="col-md-4 col-sm-4 col-xs-4">
					<div class="text-right">
						{{tarifOptions}}
						€
					</div>
				</div>

				<div class="col-md-8 col-sm-8 col-xs-8">
					<i class="fa fa-chevron-right"></i>Montant de la remise
				</div>
				<div class="col-md-4 col-sm-4 col-xs-4">
					<div class="text-right">
						0 €
					</div>
				</div>

				<div class="col-md-8 col-sm-8 col-xs-8">
					<i class="fa fa-chevron-right"></i>Montant à régler
				</div>
				<div class="col-md-4 col-sm-4 col-xs-4">
					<div class="text-right">
						{{reservation.prix}}
						€
					</div>
				</div>


			</div>

		</div>


		{# options et garanties souscrites #}
		<div class="x_title">
			<h2>
				<i class="fa fa-chevron-right"></i>réglement(s)
			</h2>
			<div class="clearfix"></div>
		</div>
		<div class="x_content">
			<div class="d-flex justify-content-end">
				<div class="btn-group mb-1">
					<button type="button" class="btn btn-danger dropdown-toggle font-weight-bold " data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						Autre réglement
					</button>
					<div class="dropdown-menu">
						<a class="dropdown-item" href="#">Reporter la réservation</a>
						<a class="dropdown-item" href="#">Mail de confirmation</a>
						<a class="dropdown-item" href="#">Annuler la réservation</a>
						<a class="dropdown-item" href="#">Fermer le contrat</a>
						<a class="dropdown-item" href="#">Archiver la réservation</a>
					</div>
				</div>
			</div>
			<table class="table table-bordered text-center">
				<thead class="bg-dark text-white text-uppercase">
					<tr>
						<th>date</th>
						<th>type</th>
						<th>méthode</th>
						<th>référence</th>
						<th>montant</th>
						<th>motif</th>
						<th>action</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th scope="row">1</th>
						<td>Mark</td>
						<td>Otto</td>
						<td>@mdo</td>
						<td>@mdo</td>
						<td>@mdo</td>
						<td>
							<button class="btn btn-danger">
								<i class="fa fa-trash"></i>
								Supprimer</button>
						</td>
					</tr>

				</tbody>
			</table>


			<div class="row">
				<div class="col-md-8 col-sm-8 col-xs-8">
					<i class="fa fa-chevron-right"></i>Montant de la remise
				</div>
				<div class="col-md-4 col-sm-4 col-xs-4">
					<div class="text-right">
						300.00€
					</div>
				</div>

				<div class="col-md-8 col-sm-8 col-xs-8">
					<i class="fa fa-chevron-right"></i>Montant à régler
				</div>
				<div class="col-md-4 col-sm-4 col-xs-4">
					<div class="text-right">
						300.00€
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Large modal -->
	{# <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-lg">Large modal</button> #}
	{% include "admin/reservation/contrat/en_cours/modalKM.html.twig" %}

	{# fin modal #}
{% endblock %}
{% block javascripts %}
	<!-- Datatables -->
	<script src="../../admin/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
	<script src="../../admin/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
	<script src="../../admin/vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
	<script src="../../admin/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
	<script src="../../admin/vendors/datatables.net-buttons/js/buttons.flash.min.js"></script>
	<script src="../../admin/vendors/datatables.net-buttons/js/buttons.html5.min.js"></script>
	<script src="../../admin/vendors/datatables.net-buttons/js/buttons.print.min.js"></script>
	<script src="../../admin/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
	<script src="../../admin/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
	<script src="../../admin/vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
	<script src="../../admin/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
	<script src="../../admin/vendors/datatables.net-scroller/js/dataTables.scroller.min.js"></script>
	<script src="../../admin/vendors/jszip/dist/jszip.min.js"></script>
	<script src="../../admin/vendors/pdfmake/build/pdfmake.min.js"></script>
	<script src="../../admin/vendors/pdfmake/build/vfs_fonts.js"></script>
	<script src="../../js/admin/jspdf.min.js"></script>
	<script src="../../js/admin/jspdf.plugin.autotable.js"></script>
	<script src="../../js/admin/factureJsPDF.js"></script>
	<script src="../../js/admin/details_contrats.js"></script>

{% endblock  %}
