<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Devis de location</title>
		<!-- Bootstrap -->
		<link
		href="{{ asset( 'admin/vendors/bootstrap/dist/css/bootstrap.min.css') }}" rel="stylesheet">
		<!-- Font Awesome -->
		<link href="{{ asset( 'admin/vendors/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet">
		<style>
			{% if isPreview %}
			/* A4 preview styling */
			body {
				background: #f0f0f0;
				padding: 20px;
				display: flex;
				justify-content: center;
				align-items: flex-start;
				min-height: 100vh;
			}
			
			.a4-paper {
				width: 210mm;
				min-height: 297mm;
				background: white;
				box-shadow: 0 0 20px rgba(0,0,0,0.1);
				padding: 10mm;
				margin: 10px auto;
				position: relative;
			}
			{% endif %}

			* {
				padding: 0;
				margin: 0;
			}

			#body {
				margin: 10px 40px 40px;
			}

			#footer {
				position: absolute;
				bottom: 0;
				width: 100%;
				padding: 10px;
			}

			/* #footer_content {
				margin: 10px;
			} */

			.table-bordered th,
			.table-bordered td {
				border: 1px solid #dee2e6 !important;
			}

			.logo {

				display: inline-block;
				vertical-align: top;
				/* width: 350px; */

			}

			.adresse {
				display: inline-block;
				vertical-align: top;
				padding-left: 25px;
				font-size: 13px
			}
			.joellocation {
				font-family: 'Arial', sans-serif;
				font-size: 16px;
				line-height: 1.5;
				color: #333;
				margin-bottom: 1em;
			}

			.contrat_location {
				display: inline-block;
				vertical-align: top;
				margin-left: 140px;
			}
			#contrat_location_table1 {
				width: 100px;

			}
			#contrat_location_table1 tr td {
				padding: 2px;
				font-size: 12px;
				text-align: center !important;
			}

			#contrat_location_table2 {
				width: 100px;
				margin-left: 5px;
			}
			#contrat_location_table2 tr td {
				font-size: 12px;
				padding: 2px;
				text-align: center !important;

			}

			/* details locataire */
			.locataire {
				display: inline-block;
				vertical-align: top;
				width: 49.5%;
			}


			/* autre conducteurs */
			.autre_conducteur {
				display: inline-block;
				vertical-align: top;
				width: 49.5%;
				height: auto;
				margin-bottom: 5px;
				margin-left: 3px;

			}
			#locataire_table tr td {
				padding: 1px;
			}
			#autre_conducteur_table tr td {

				min-height: 5px;

			}

			/* details véhicule */
			.voiture {
				padding-top: 5px;
			}

			.prestations {

				display: inline-block;
				vertical-align: top;
				width: 275px;
			}

			#recu_depot_table tr td {
				padding: 1px;
			}

			#recap_table {
				margin-top: 5px;
			}
			#recap_table tr td {
				padding: 1px;
			}

			#prestations_table tr td {
				padding: 1px;
			}


			.recu_depot {
				display: inline-block;
				vertical-align: top;
				width: 434px;
			}

			.d-inline-block {
				display: inline-block;
				vertical-align: top;
			}

			.d-inline-block-bottom {
				display: inline-block;
				vertical-align: bottom;
			}


			.table-border {

				border-collapse: collapse;
				border: 1px solid black;
			}

			.table-border td {

				border-collapse: collapse;
				border: 1px solid black;
			}

			.row {
				display: -ms-flexbox;
				display: flex;
				-ms-flex-wrap: wrap;
				flex-wrap: wrap;
				margin-right: -15px;
				margin-left: -15px;
			}

			.d-flex {
				display: -ms-flexbox !important;
				display: flex !important;
			}


			.justify-content-end {
				-ms-flex-pack: end !important;
				justify-content: flex-end !important
			}

			.text-white {
				color: #fff !important;
			}

			.bg-danger {
				background-color: red !important;
			}

			.p-0 {
				padding: 0 !important;
			}

			.m-0 {
				margin: 0 !important;
			}

			.p-2 {
				padding: 2px !important;
			}

			.m-2 {
				margin: 2px !important;
			}

			.text-center {
				text-align: center !important;
			}

			body {
				;
				/* font-size: 10px; */
			}

			.text-white {
				color: white !important;
			}
			.text-red {
				color: red !important;
			}

			.fs-10 {
				font-size: 10px;
			}

			.fs-12 {
				font-size: 12px;
			}

			.text-uppercase {
				text-transform: uppercase !important;
			}

			@font-face {
				font-family: 'FontAwesome';
				src: url('../fonts/fontawesome-webfont.eot?v=4.5.0');
				src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.5.0') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff2?v=4.5.0') format('woff2'), url('../fonts/fontawesome-webfont.woff?v=4.5.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.5.0') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.5.0#fontawesomeregular') format('svg');
				font-weight: normal;
				font-style: normal;
			}

			.fa {
				display: inline-block;
				font: normal normal normal 14px / 1 FontAwesome;
				font-size: inherit;
				text-rendering: auto;
				-webkit-font-smoothing: antialiased;
				-moz-osx-font-smoothing: grayscale;
			}

			.fa-square-o:before {
				content: "\f096";
			}
			td {
				padding-left: 2px;
			}
			.text-nowrap {
				white-space: nowrap !important;
			}

			.luetapprove {
				height: 87px;
			}
		</style>
	</head>
	<body>
		{% if isPreview %}
		<div class="a4-paper">
		{% endif %}
		<section>
			<div class="entete"><img src="{{ entete }}" alt="entete" width="800px" height="40px" type="images/png"></div>
		</section>
		<section id="body">
			<div>
				<div class="logo"><img src="{{ logo }}" alt="logo" width="auto" height="80px" type="images/png"></div>
				<div class="adresse">
					<strong class="joellocation">JOELLOCATION</strong>
					<br>
					94 Chemin de la hache<br>
					97160 Le Moule (Guadeloupe)
					<br>
					Tél: 0690737674 / 0767321447<br>
					joel@joellocation.com<br>
					joellocation.com
				</div>
				<div class="contrat_location">
					<h2 class="p-0">Contrat de location
					</h2>
					<div class="d-inline-block">
						<table id="contrat_location_table1" class="table-border">
							<tbody>
								<tr>
									<td class="bg-danger  text-white text-center fs-12">Numéro de contrat</td>
								</tr>
								{% if devis is defined and devis is not null %}
									<tr>
										<td>
											{{ devis.numContrat }}
										</td>
									</tr>
								</tr>
							{% else %}
								<tr>
									<td>
										<p>{{ numContrat }}</p>
									</td>
								</tr>
							{% endif %}
						</tbody>
					</table>
				</div>
				<div class="d-inline-block">
					<table id="contrat_location_table2" class="table-border">
						<tbody>
							<tr>
								<td class="bg-danger text-white text-center fs-12">Date de contrat</td>
							</tr>
							<tr>
								<td>{{ reservation.dateDebut|date('d/m/Y') }}</td>
							</tr>

						</tbody>
					</table>
				</div>
			</div>

			<div style="margin-top: 5px; margin-bottom: 5px" class="text-center">Location de voiture du
				{{ reservation.dateDebut|date('d/m/Y') }}
				à
				{{ reservation.dateDebut|date('H:i') }}
				au
				{{ reservation.dateFin|date('d/m/Y') }}
				à
				{{ reservation.dateFin|date('H:i') }}</div>

			{# table gauche droite, info client et conducteurs #}
			<div class="locataire p-0 ">
				<table id="locataire_table" class="table-border p-0 " style="width : 100%;">
					<tbody class="fs-12">
						<tr style="background-color : red" class="text-center">
							<td colspan="2" class="text-white">LOCATAIRE</td>
						</tr>
						<tr style="padding:2px">
							<td style="padding:2px">
								<span>
									{% if devis is defined and devis is not null %}
										{% if  devis.client.sexe == ""  %}

											{% elseif devis.client.sexe == 'masculin' %}
												Mr
											{% elseif devis.client.sexe == 'feminin' %}
												Mlle/Mme
										{% endif %}
									{% endif %}
								</span>
								Nom</td>
							<td style="padding:2px">{{ reservation.client.nom }}</td>
						</tr>
						<tr>
							<td>Prénom</td>
							<td>{{ reservation.client.prenom }}</td>
						</tr>
						<tr>
							<td>Adresse permanante</td>
							<td>{{ reservation.client.adresse }}</td>
						</tr>
						<tr>
							<td>Ville et code postal</td>
							<td>{{ reservation.client.ville }}
								{{ reservation.client.codePostal }}</td>
						</tr>
						<tr>
							<td></td>
							<td>{{ reservation.client.complementAdresse }}</td>
						</tr>
						<tr>
							<td>Téléhone(s)</td>
							<td>{{ reservation.client.telephone }}</td>
						</tr>
						<tr>
							<td>Email</td>
							<td>{{ reservation.client.mail }}</td>
						</tr>
						<tr>
							<td>Date/lieu de naissance</td>
							<td>{{  reservation.client.dateNaissance ? reservation.client.dateNaissance|date('d/m/Y') : '' }}

								{{ reservation.client.lieuNaissance ?  "à " ~ reservation.client.lieuNaissance  : ""  }}</td>
						</tr>
						<tr>
							<td>N°/Date de permis</td>
							<td>{{ reservation.client.numeroPermis }}

								{{ reservation.client.datePermis ? "le " ~ reservation.client.datePermis|date('d/m/Y') : '' }}</td>
						</tr>
						<tr>
							<td colspan="2" class="text-center text-white bg-danger">INFOS TRANSFERT
							</td>
						</tr>
						<tr>
							<td>Infos arrivée</td>
							<td>
								{{ reservation.client.infosVolResa.heureVolAller ? reservation.client.infosVolResa.heureVolAller|date('d/m/Y') : "  " }}

								{{ reservation.client.infosVolResa.numVolAller ? ", Vol" ~ reservation.client.infosVolResa.numVolAller : "   " }}

								{{ reservation.client.infosVolResa.heureVolAller ? "à" ~ reservation.client.infosVolResa.heureVolAller|date('H:i') : "   " }}
							</td>
						</tr>
						<tr>
							<td>Infos retour
							</td>
							<td>

								{{ reservation.client.infosVolResa.heureVolRetour ? reservation.client.infosVolResa.heureVolRetour|date('d/m/Y') : "  " }}

								{{ reservation.client.infosVolResa.numVolRetour ? ", Vol" ~ reservation.client.infosVolResa.numVolRetour : "   " }}

								{{ reservation.client.infosVolResa.heureVolRetour ? "à"  ~ reservation.client.infosVolResa.heureVolRetour|date('H:i') :  "   " }}

							</td>
						</tr>
					</tbody>
				</table>
			</div>
			{# table droite #}
			<div class="autre_conducteur  ">
				<table id="autre_conducteur_table " style="width : 100%;" class=" table-border p-0 ">
					<tbody class="fs-12">
						<tr class="bg-danger text-center text-white">
							<td colspan="2">
								AUTRE(S) CONDUCTEURS
							</td>
						</tr>
						{% if reservation.conducteursClient|length == 0 %}
							<tr>
								<td>Nom</td>
								<td class="text-nowrap text-white">lorem lorem lorem lorem lorem</td>
							</tr>
							<tr>
								<td>Prénom</td>
								<td></td>
							</tr>
							<tr>
								<td>Date/lieu de naissance</td>
								<td></td>
							</tr>
							<tr>
								<td>
									N°/Date de permis
								</td>
								<td></td>
							</tr>
							<tr>
								<td>
									Téléphone(s)
								</td>
								<td></td>
							</tr>
							<tr>
								<td>Nom</td>
								<td></td>
							</tr>
							<tr>
								<td>Prénom</td>
								<td></td>
							</tr>
							<tr>
								<td>Date/lieu de naissance</td>
								<td></td>
							</tr>
							<tr>
								<td>
									N°/Date de permis
								</td>
								<td></td>
							</tr>
							<tr>
								<td>
									Téléphone
								</td>
								<td></td>
							</tr>
							<tr>
								<td colspan="2" class="bg-danger text-center text-white text-uppercase">Adresse en guadeloupe</td>
							</tr>
							<tr>
								<td colspan="2" style="height: 28px">
									<div class='text-white'>
										lorem lorem lorem lorem
									</div>
								</td>
							</tr>
						{% else %}
							{% set loopCount = 0 %}
							{% for conducteur in reservation.conducteursClient %}
								{% set loopCount = loopCount + 1 %}
								<tr>
									<td style="min-height: 5px">Nom</td>
									<td style="min-height: 5px">{{ conducteur.nom }}</td>
								</tr>
								<tr>
									<td>Prénom</td>
									<td>{{ conducteur.prenom }}</td>
								</tr>
								<tr>
									<td>Date/lieu de naissance</td>
									<td>{{ conducteur.dateNaissance|date('d/m/Y') }}
										à
										{{ conducteur.villeNaissance }}</td>
								</tr>
								<tr>
									<td>N°/Date de permis</td>
									<td>{{ conducteur.numeroPermis }}
										le
										{{ conducteur.dateDelivrance|date('d/m/Y') }}</td>
								</tr>
								<tr>
									<td>Téléphone</td>
									<td>{{ conducteur.telephone }}</td>
								</tr>
							{% endfor %}

							{% if loopCount < 2 %}
								<tr>
									<td style="min-height: 5px">Nom</td>
									<td style="min-height: 5px"></td>
								</tr>
								<tr>
									<td>Prénom</td>
									<td></td>
								</tr>
								<tr>
									<td>Date/lieu de naissance</td>
									<td></td>
								</tr>
								<tr>
									<td>N°/Date de permis</td>
									<td></td>
								</tr>
							{% endif %}
							<tr>
								<td colspan="2" class="bg-danger text-center text-white text-uppercase">adresse en guadeloupe</td>
							</tr>
							<tr>
								<td colspan="2">
									<div class='text-white' style="min-height: 28px;">
										lorem lorem lorem lorem
									</div>
								</td>
							</tr>
						{% endif %}
					</tbody>
					{# </tbody> #}
				</table>
			</div>
			{# table contenant details voiture #}
			<div class="voiture">
				<table class="table-border" style="width : 100%">
					<tbody class="fs-12">
						<tr class="bg-danger">
							<td colspan="8" style="color : white" class="text-uppercase text-white bg-danger">Voiture</td>
						</tr>
						<tr>
							<td>Marque/Modèle</td>
							<td>{{ reservation.vehicule.marque }}
								{{ reservation.vehicule.modele }}
							</td>
							<td>Carburant</td>
							<td>{{ reservation.vehicule.carburation }}
							</td>
							<td>N° Immat.
							</td>
							<td>{{ reservation.vehicule.immatriculation }}</td>
							<td>Kilométrage</td>
							<td>
								départ :
								{{ reservation.kmDepart }}
								Km, retour :
								{{ reservation.kmRetour }}
								Km
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			{# etat interieur #}
			<div style="border : 1px solid black; margin-bottom : 2px; margin-top : 2px" class="bg-danger text-white text-uppercase fs-12">
				Etat intérieur
			</div>
			<div class="fs-10" style="border : 1px solid black; margin-bottom : 2px; padding:1px;">
				Sièges__________Console centrale tableau de bord:__________ Ciel de toit:__________ Garnitures intérieures:_____________
				<br>
				Revêtement de sol:__________ Coffre:__________ Portes__________
				<br>
				Légende intérieur:
				<strong>S</strong>
				sale -
				<strong>D</strong>
				déchiré -
				<strong>T</strong>
				troué -
				<strong>E</strong>
				endommagé -
				<strong>M</strong>
				manque -
				<strong>A</strong>
				autre dommage –
				<strong>RAS</strong>
				Rien à signaler
			</div>
			{# etat extérieur #}
			<div class="bg-danger text-white text-uppercase fs-12" style="border : 1px solid black; margin-bottom : 2px">
				Etat extérieur
			</div>
			<table class="table-border " style="width : 100%;">
				<tbody class="fs-12">
					<tr>
						<td colspan="4">
							Obsérvations de départ
						</td>
						<td colspan="5"></td>
						<td colspan="4">

							Obsérvations à l'arrivée
						</td>
					</tr>
					<tr>
						<td colspan="4"></td>
						<td colspan="5">
							<div class="text-center d-flex justify-content-center align-items-center">
								<div class="text-center d-flex justify-content-center align-items-center">
									<img src="{{ vehicule }}" alt="véhicule" width="auto" height="150px" type="images/png">
								</div>
							</td>
						</td>
						<td colspan="4"></td>
					</tr>

					<tr>
						<td colspan="4">Carburant au départ</td>
						<td>Pneus/Jantes</td>
						<td>AV gauche</td>
						<td>
							AV droite
						</td>
						<td>AR gauche</td>
						<td>AR droite
						</td>
						<td colspan="4">Carburant à l’arrivée</td>
					</tr>
					<tr class="text-center">
						<td rowspan="2">1/4
						</td>
						<td rowspan="2">1/2</td>
						<td rowspan="2">3/4</td>
						<td rowspan="2" style="color: red !important; font-size:14px ; font-weight : bold">1/1</td>
						<td>
							Marque
						</td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td rowspan="2">1/4</td>
						<td rowspan="2">1/2</td>
						<td rowspan="2">3/4
						</td>
						<td rowspan="2">1/1</td>
					</tr>
					<tr class="text-center">
						<td>
							Etat
						</td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
				</tbody>
			</table>
			<p class="fs-12 p-0 m-0">
				Légende extérieur:
				<strong>
					P
				</strong>
				projection de pierres -
				<strong>R</strong>
				rouille -
				<strong>A</strong>
				autre dommage -
				<strong>R</strong>
				rayure -
				<strong>C</strong>
				creux -
				<strong>D</strong>
				dégât accident -</p>


			<div
				class="prestations">
				{# prestations #}
				<table id="prestations_table" class="table-border" style="width : 100%">
					<tbody class="fs-12">
						<tr>
							<td class="bg-danger text-white text-center" colspan="2">PRESTATIONS</td>
						</tr>
						<tr>
							<td>location ({{ reservation.dateDebut|date('d/m') }}-{{ reservation.dateFin|date('d/m') }})</td>
							<td>
								{{ reservation.tarifVehicule|number_format(2,","," ") }}€
							</td>
						</tr>
						<tr>
							<td>lavage (35.00€)</td>
							<td>
								{% set lavage = allOptions['Lavage']['prix']|default(0) %}
								{{ lavage ? lavage ~ '€' : '0 €' }}
							</td>
						</tr>
						<tr>
							<td>Multi-conducteurs (50.00€)</td>
							<td>
								{{ reservation.conducteur ? '50€' : '0 €' }}
							</td>
						</tr>
						<tr>
							<td>Refueling (80.00€)</td>
							<td>
								{% set refueling = allOptions['Refueling']['prix']|default(0) %}
								{{ refueling ? refueling ~ '€' : '0 €' }}
							</td>
						</tr>
						<tr>
							<td>Siège auto (30.00€)</td>
							<td>
								{% set siegeBebe = allOptions['Siège bébé']['prix']|default(0) %}
								{{ siegeBebe ? siegeBebe ~ '€' : '0 €' }}
							</td>
						</tr>
						<tr>
							<td>Siège nourisson (30.00€)</td>
							<td>
								{% set siegeNourrisson = allOptions['Siège nourrisson']['prix']|default(0) %}
								{{ siegeNourrisson ? siegeNourrisson ~ '€' : '0 €' }}
							</td>
						</tr>
						<tr>
							<td>Garantie bris de glace et pneus</td>
							<td>
								{% set garantieBris = allGaranties['garantie bris de glace & pneus']['prix']|default(0) %}
								{{ garantieBris ? garantieBris ~ '€' : '0 €' }}
							</td>
						</tr>
						<tr>
							<td>Assistance esprit tranquille</td>
							<td>
								{% set assistanceTranquille = allGaranties['assistance esprit tranquille']['prix']|default(0) %}
								{{ assistanceTranquille ? assistanceTranquille ~ '€' : '0 €' }}
							</td>
						</tr>
						<tr>
							<td>Assurance premium</td>
							<td>
								{% set assurancePremium = allGaranties['assistance premium']['prix']|default(0) %}
								{{ assurancePremium ? assurancePremium ~ '€' : '0 €' }}
							</td>
						</tr>
						<tr>
							<td>Frais supplémentaires</td>
							<td>

								{{ totalFraisSupplTTC|number_format(2,","," ") ~ '€' }}
							</td>
						</tr>
						<tr>
							<td class="">
								<div class=" d-flex justify-content-end">
									<strong>Total TTC</strong>
								</div>

							</td>
							<td>{{totalTTC|number_format(2,","," ") }}€</td>
						</tr>
						<tr>
							<td>
								<div class=" d-flex justify-content-end">
									<strong>ACOMPTE</strong>
								</div>
							</td>
							<td>{{sommePaiements ? (sommePaiements|number_format(2,","," ")) ~ ' €' : ''}}</td>
						</tr>
						<tr>
							<td>
								<div class=" d-flex justify-content-end">
									<strong>RESTE A PAYER</strong>
								</div>
							</td>
							<td>{{ restePayerTTC|number_format(2,","," ") }}€</td>
						</tr>
						<tr>
							<td>
								<div class=" d-flex justify-content-end">
									<strong>CAUTION</strong>
								</div>
							</td>
							<td>
								<strong>800€</strong>
							</td>
						</tr>
					</tbody>
				</table>
				<div class="fs-12">
					<span class="d-inline-block-bottom p-2">
						Espèce</span>
					<div class="d-inline-block-bottom">
						<input type="checkbox" class="p-0 m-0">
					</div>
					<div class="d-inline-block-bottom p-2">
						CB
					</div>
					<div class="d-inline-block-bottom">
						<input type="checkbox" class="p-0 m-0">
					</div>
					<div class="d-inline-block-bottom p-2">
						Chèque Vacances
					</div>
					<div class="d-inline-block-bottom">
						<input type="checkbox" class="p-0 m-0">
					</div>
					<br>
					<div class="d-inline-block-bottom p-2">
						Chèque
					</div>
					<div class="d-inline-block-bottom">
						<input type="checkbox" class="p-0 m-0">
					</div>
					<span class="text-white">
						lorem lorem lo
					</span>
					<div class="d-inline-block-bottom p-2">
						Virement
					</div>
					<div class="d-inline-block-bottom">
						<input type="checkbox" class="p-0 m-0">
					</div>
					<br>

				</div>
			</div>
			<div
				class="recu_depot">
				{# RECU DE DEPOT CAUTION ET FRANCHISE #}
				<table id="recu_depot_table" class="table-border " style="width : 100%">
					<tbody class="fs-12">
						<tr>
							<td class="bg-danger text-white text-center">
								RECU DE DEPOT CAUTION ET FRANCHISE
							</td>
						</tr>
						<tr>
							<td style="padding:1px;">
								Je soussignée
								{{ reservation.client.sexe }}
								<strong>
									{{ reservation.client.nom }}
									{{ reservation.client.prenom }}
								</strong>
								autorise la société Joellocation a prélevé sur mon compte à l'aide de l'empreinte de ma carte bancaire, le montant de la franchise ou caution du présent contrat ceci en cas d'accident responsable, de vol, tentative de vol ou dommage occasionné au véhicule loué.
								<span class="text-red">Le locataire déclare adhérer à toutes les conditions générales de location.
								</span>
							</td>
						</tr>
					</tbody>
				</table>
				{# table dessous table recu de depot #}
				<table id="recap_table" class="table-border" style="width : 100%">
					<tbody class="fs-12">
						<tr>
							<td>Date départ</td>
							<td class="text-nowrap">{{ reservation.dateDebut|date('d/m/Y H:i') }}</td>
							<td>Date retour</td>
							<td class="text-nowrap">{{ reservation.dateFin|date('d/m/Y H:i') }}</td>
						</tr>
						<tr>
							<td style="height: 50px;">JOELLOCATION</td>
							<td style="height: 50px;"></td>
							<td style="height: 50px;">JOELLOCATION</td>
							<td style="height: 50px;"></td>
						</tr>
						<tr>
							<td class="luetapprove">Locataire (lu et apprové)
								<span class="text-white">
									lorem lorem lorem lorem lorem lorem</span>
							</td>
							<td class="luetapprove"></td>
							<td class="luetapprove">Locataire</td>
							<td class="luetapprove"></td>
						</tr>
					</tbody>
				</table>
				<table>
					<tbody>
						<tr>
							<td class="fs-12">
								Aucune location est remboursable.
								<span class="text-red">
									L'état des lieux du véhicule est réalisé sur véhicule propre intérieur et extérieur
								</span>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</section>
		<section id="footer" style="left : 0" class="bg-danger">
			<div class=" text-white text-center fs-12 ">
				<div>
					SIRET : 87868990000016-APE: 7711A
					<br>
					N°TVA FR40878689900
					<br>
					www.joellocation.com
				</div>
			</div>
		</section>
		{% if isPreview %}
		</div>
		{% endif %}
	</body>
</html>
