{% extends 'base2.html.twig' %}

{% block title %}Avis client
{% endblock %}


{% block stylesheets %}
	<!-- Datatables -->
	{% include "admin/_parts/datatables/css.html.twig" %}

{% endblock %}
{% block current_page %}
	<h2>
		<i class="fa fa-list"></i>
		Avis client
	</h2>
{% endblock %}

{% block content %}
	<div class="x_panel">
		<div class="row">
			<div class="col-sm-12">
				<div class="card-box table-responsive">
					<table id="datatable" class="table table-striped table-bordered" style="width:100%">
						<thead class="text-uppercase">
							<tr>
								<th>réservation</th>
								<th class="text-nowrap">global</th>
								<th>ponctualité</th>
								<th>accueil</th>
								<th>
									service</th>
								<th>commentaire</th>
								<th>date publication</th>
								<th>actions</th>
							</tr>
						</thead>
						<tbody class="text-center">
							{% for avis in avis %}
								<tr>
									<td>{{ avis.reservation.reference }}</td>
									<td>
										{% for i in 1..(avis.global)  %}
											<i class="fa fa-star"></i>
										{% endfor %}
										{% if avis.global != 5 %}
											{% for j in 1..(5 - avis.global)  %}
												<i class="fa fa-star-o"></i>
											{% endfor %}
										{% endif %}
									</td>
									<td>
										{% for i in 1..(avis.ponctualite)  %}
											<i class="fa fa-star"></i>
										{% endfor %}
										{% if avis.ponctualite != 5 %}
											{% for j in 1..(5 - avis.ponctualite)  %}
												<i class="fa fa-star-o"></i>
											{% endfor %}
										{% endif %}
									</td>
									<td>
										{% for i in 1..(avis.accueil)  %}
											<i class="fa fa-star"></i>
										{% endfor %}
										{% if avis.accueil != 5 %}
											{% for j in 1..(5 - avis.accueil)  %}
												<i class="fa fa-star-o"></i>
											{% endfor %}
										{% endif %}
									</td>
									<td>
										{% for i in 1..(avis.service)  %}
											<i class="fa fa-star"></i>
										{% endfor %}
										{% if avis.service != 5 %}
											{% for j in 1..(5 - avis.service)  %}
												<i class="fa fa-star-o"></i>
											{% endfor %}
										{% endif %}
									</td>
									<td>{{ avis.commentaire }}</td>
									<td>{{ avis.date ? avis.date|date('d/m/Y H:i') : '' }}</td>
									<td>
										<a href="{{ path('avis_show', {'id': avis.id}) }}" class="text-danger">
											<i class="fa fa-info-circle" aria-hidden="true" style="font-size: 2em !important;"></i>
										</a>
									</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	{# fin content #}
{% endblock %}
{% block javascripts %}
	<!-- Datatables -->
	{% include "admin/_parts/datatables/js.html.twig" %}
	<script src="{{ asset('js/admin/datatables/datatablesConfig.js') }}"></script>
	<script src="{{asset('js/admin/datatables/avis.js')}}"></script>
{% endblock  %}
