{% extends 'base2.html.twig' %}

{% block title %}Avis client
{% endblock %}


{% block stylesheets %}
	<!-- Datatables -->
	<link href="../../admin/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
	<link href="../../admin/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css" rel="stylesheet">
	<link href="../../admin/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css" rel="stylesheet">
	<link href="../../admin/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" rel="stylesheet">
	<link href="../../admin/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css" rel="stylesheet">

{% endblock %}
{% block current_page %}
	<h2>
		<i class="fa fa-list"></i>
		Avis client
	</h2>
{% endblock %}

{% block content %}
	<div class="x_panel">
		<div class="row">
			<div class="col-sm-12">
				<div class="card-box table-responsive">
					<table id="datatable" class="table table-striped table-bordered" style="width:100%">
						<thead class="text-uppercase">
							<tr>
								<th>réservation</th>
								<th class="text-nowrap">global</th>
								<th>ponctualité</th>
								<th>accueil</th>
								<th>
									service</th>
								<th>commentaire</th>
								<th>date publication</th>
								<th>actions</th>
							</tr>
						</thead>
						<tbody class="text-center">
							{% for avi in avis %}
								<tr>
									<td>{{ avi.reservation.reference }}</td>
									<td>{{ avi.global }}</td>
									<td>{{ avi.ponctualite }}</td>
									<td>{{ avi.accueil }}</td>
									<td>{{ avi.service }}</td>
									<td>{{ avi.commentaire }}</td>
									<td>{{ avi.date ? avi.date|date('Y-m-d') : '' }}</td>
									<td>
										<a href="{{ path('avis_show', {'id': avi.id}) }}" class="btn btn-success">
											<i class="fa fa-book" aria-hidden="true"></i>
											Visionner</a>
										{% if is_granted("ROLE_ADMIN") %}
											<a href="{{ path('avis_edit', {'id': avi.id}) }}" class="btn btn-danger">
												<i class="fa fa-trash" aria-hidden="true"></i>
												Modifier</a>
										{% endif %}
									</td>
								</tr>
							{% endfor %}
							<tr>
								<td colspan="8">Aucun enregistrement trouvé</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>


	<span class="fa fa-star checked"></span>
	<span class="fa fa-star checked"></span>
	<span class="fa fa-star checked"></span>
	<span class="fa fa-star"></span>
	<span class="fa fa-star"></span>
	{# fin content #}
{% endblock %}
{% block javascripts %}
	<!-- Datatables -->
	<script src="../../admin/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
	<script src="../../admin/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
	<script src="../../admin/vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
	<script src="../../admin/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
	<script src="../../admin/vendors/datatables.net-buttons/js/buttons.flash.min.js"></script>
	<script src="../../admin/vendors/datatables.net-buttons/js/buttons.html5.min.js"></script>
	<script src="../../admin/vendors/datatables.net-buttons/js/buttons.print.min.js"></script>
	<script src="../../admin/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
	<script src="../../admin/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
	<script src="../../admin/vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
	<script src="../../admin/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
	<script src="../../admin/vendors/datatables.net-scroller/js/dataTables.scroller.min.js"></script>
	<script src="../../admin/vendors/jszip/dist/jszip.min.js"></script>
	<script src="../../admin/vendors/pdfmake/build/pdfmake.min.js"></script>
	<script src="../../admin/vendors/pdfmake/build/vfs_fonts.js"></script>
	<script src="../../js/admin/datatable.fr.js"></script>
{% endblock  %}
