<footer>
	<div class="footer-top" style="padding:0px;">
		<div class="container">
			<div class="row">
				<div class="col-6 footer_widget">
					<div class="inner" style="color:white;">
						<h5 style="color:white;">Adresse</h5>
						<h5 style="color:white;">JOEL LOCATION</h5>
						<p>94 Chemin De La Hache<br>
							97160 Le Moule (Guadeloupe)<br>
							Tel :
							<span>06 90 73 76 74</span>
							/
							<span>07 67 32 14 47</span><br>
							Email : joel@joellocation.com<br>
							<a href="https://wa.me/0767321447" class="fab fa-whatsapp p-0" target="_blank" style="color:white;"> 07 67 32 14 47</a>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="footer-bottom" style="background-color:black">
		<div class="container">
			<div class="row">
				<div class="col-lg-4">
					<div class="copyright-txt" style="color:white;">
						© 2020 Joel Location. Tous droits réservés.
					</div>
				</div>
				<div class="col-lg-6 text-right">
					<div class="footer-nav">
						<a href="{{ path('accueil') }}">Accueil</a>
						<a href="{{ path('quisommenous') }}">A propos</a>
						<a href="{{ path('accueil') }}#vehicule">Nos véhicules</a>
						<a href="{{ path('mentionlegale') }}">Mention Legale</a>
						<a href="{{ path('accueil') }}#contact">Contact</a>

					</div>
				</div>
				<div class="col-lg-2">
					<div class="header-social">
						<a href="https://www.facebook.com/joellocation" class="fab fa-facebook p-0" target="_blank"></a>
						<a href="https://wa.me/0767321447" class="fab fa-whatsapp p-0" target="_blank"></a>
						<a href="https://www.instagram.com/accounts/login/" class="fab fa-instagram p-0" target="_blank"></a>
						<a href="#" class="fab fa-youtube p-0" target="_blank"></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>
