<div class="container d-flex align-items-center">
	<div class=" mr-auto logo-column">
		<a href="{{ path('accueil') }}" class="logo">
			<img src="images/Joel-Location-new.png" alt="JOEL LOCATION">
		</a>
		{# <span style="font-family:'Monotype corsiva';">Sa Ka Woulé</span> #}
		<span>Sa Ka Woulé</span>
	</div>
	<div class="nav-column">
		<nav id="menu" class="d-none d-lg-block ">
			<ul>
				<li class="{% if app.request.attributes.get('_route') starts with 'accueil' %}current-menu-item{% endif %}">
					<a href="{{ path('accueil') }}">Accueil</a>
				</li>
				<li class="{% if app.request.attributes.get('_route') starts with 'quisommenous' %}current-menu-item{% endif %}">
					<a href="{{ path('quisommenous') }}">A propos</a>
				</li>
				<li class="{% if app.request.attributes.get('_route') starts with 'nosvehicules' %}current-menu-item{% endif %}">
					<a href="{{ path('nosvehicules') }}">Nos véhicules</a>
				</li>
				{# <li class="{% if app.request.attributes.get('_route') starts with 'app_login' %}current-menu-item{% endif %}">
													{% if is_granted("ROLE_CLIENT") %}
														<a href="{{ path('espaceClient_index') }}">Mon compte</a>
													{% elseif is_granted("ROLE_PERSONNEL") %}
														<a href="{{ path('admin_index') }}">Mon compte</a>
													{% else %}
														<a href="{{ path('app_login') }}">Mon compte</a>
													{% endif %}
												</li> #}
				<li class="{% if app.request.attributes.get('_route') starts with 'formulaire-contact' %}current-menu-item{% endif %}">
					<a href="{{ path('formulaire-contact') }}">Contact</a>
				</li>
				<li class="{% if app.request.attributes.get('_route') starts with 'foireauxquestion' %}current-menu-item{% endif %}">
					<a href="{{ path('foireauxquestion') }}">FAQ</a>
				</li>
				{% if is_granted("ROLE_CLIENT") or is_granted("ROLE_PERSONNEL") %}
					<li class="current-menu-item has-child profil_mobile">
						<a href="index.html">
							<img src="/images/blank_profile.png" alt="DGSR Logo" class="brand-image img-circle elevation-3" style="opacity: .8; height:30px; width:auto;">
						</a>
						<ul class="sub-menu">
							<li>
								<a href="{{ path('app_logout') }}">Déconnecter</a>
							</li>
						</ul>
					</li>
				{% endif %}
			</ul>
		</nav>
	</div>
	<div class="header-social">
		<a href="https://www.facebook.com/joellocation" class="fab fa-facebook" target="_blank"></a>
		<a href="https://wa.me/+330767321447" class="fab fa-whatsapp p-0" target="_blank"></a>
		<a href="https://www.instagram.com/joel.location/" class="fab fa-instagram" target="_blank"></a>
		<a href="https://youtube.com/channel/UCMZZRNgOmDBIghZwg4tTQJQ" class="fab fa-youtube" target="_blank"></a>
	</div>
	<div class="header-social-tablet hidden">
		<a href="https://www.facebook.com/joellocation" class="fab fa-facebook" target="_blank" style="margin-right:4px;"></a>
		<a href="https://wa.me/+330767321447" class="fab fa-whatsapp p-0" target="_blank" style="margin-right:4px;"></a>
		<a href="https://www.instagram.com/joel.location/" class="fab fa-instagram" target="_blank" style="margin-right:4px;"></a>
		<a href="https://youtube.com/channel/UCMZZRNgOmDBIghZwg4tTQJQ " class="fab fa-youtube" target="_blank" style="margin-right:4px;"></a>
	</div>
	<div class="profil_desktop ">
		{% if is_granted("ROLE_CLIENT") or is_granted("ROLE_PERSONNEL") %}
			<nav id="menu2">
				<ul>
					<li class="current-menu-item has-child">
						<a href="index.html">
							<img src="/images/blank_profile.png" alt="DGSR Logo" class="brand-image img-circle elevation-3" style="opacity: .8; height:30px; width:auto;">
						</a>
						<ul class="sub-menu">
							<li>
								<a href="{{ path('app_logout') }}">Déconnecter</a>
							</li>

						</ul>
					</li>
				</ul>
			</nav>
		{% endif %}
	</div>

</div>
