{% extends 'base2.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}
    <h1>Liste des utilisateurs</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom d'utilisateur</th>
                <th>Roles</th>
                <th>Password</th>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Adresse</th>
                <th>Mail</th>
                <th>Téléphone</th>
                <th>Portable</th>
                <th>Présence</th>
                <th>Date d'inscription</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                <td>{{ user.password }}</td>
                <td>{{ user.nom }}</td>
                <td>{{ user.prenom }}</td>
                <td>{{ user.adresse }}</td>
                <td>{{ user.mail }}</td>
                <td>{{ user.telephone }}</td>
                <td>{{ user.portable }}</td>
                <td>{{ user.presence ? 'Yes' : 'No' }}</td>
                <td>{{ user.dateInscription ? user.dateInscription|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('user_show', {'id': user.id}) }}">Visionner</a>
                    <a href="{{ path('user_edit', {'id': user.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="13">Aucun enregistrement trouver</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('user_new') }}">Ajouter</a>
{% endblock %}
